[2015-07-20 14:57] DeveloppSoft commented on #205
@Pukson of course :smile: .

[2015-07-21 00:23] shaneshuford commented on #179
Why wouldn't Kingo Root work?  They make it very hard to switch to supersu

[2015-07-21 06:22] DeveloppSoft commented on #179
Super su is more popular
Le 21 juil. 2015 02:23, "Shane J. Shuford" <notifications@github.com> a
écrit :

[2015-07-21 11:27] DeveloppSoft commented on #205
Hi,
I have a new idea, cSploit can download an archive containing :
- a working ruby version.
- metasploit with all the gems.
So, it is faster and easier, the app download on file, uncompress it,
and... that's all.
And if there is a metasploit or ruby update, we just have to modify the
archive.
Please say what you think about that.

[2015-07-21 14:39] #206 closed

[2015-07-21 14:42] shaneshuford commented on #179
It won't be more popular if Kingo root continues to offer such simple
methods of rooting your device. The number of google hits on replacing
kinguser with supersu is rediculas, and the number of people who fail to
make it switch successfully is just as large of a user base.
On Jul 21, 2015 2:22 AM, "TEISSONNIERE Eliott" <notifications@github.com>
wrote:

[2015-07-23 16:56] amindrs commented on #183
I have this problem too.
It never gets past this point and every time I run cSploit, it shows same msf update dialog.
"Installing gems for MSF"

[2015-07-23 18:40] Avamander commented on #203
@fat-tire What does "(cough: HT)" mean?

[2015-07-23 21:09] Pukson commented on #205
@tux-mind went everything good with the last exams? Good luck with everything mate

[2015-07-24 06:52] fat-tire commented on #203
That was a reference to the [back door](http://arstechnica.com/security/2015/07/hacking-team-may-not-have-had-a-backdoor-but-it-could-kill-client-installs/)  Hacking Team (allegedly...) put in their Remote Control Software that was (allegedy) discovered in the (alleged) hack of their (alleged) network:

*In a rare press release issued Wednesday morning, Hacking Team, the embattled Italian surveill

[2015-07-24 06:56] DeveloppSoft commented on #183
Yes, I open an issue to fix and tux-mind is coming back, so wait guys.
Le 23 juil. 2015 18:56, "amindrs" <notifications@github.com> a écrit :

[2015-07-26 08:55] tux-mind commented on #205
I'm back :heart:
My exams went very well, except for a project. That failed project made me lost an entire academic year.
I'm still searching a way to keep follow the master courses, even if I can't.

Anyway. Let's talk about cSploit.

@DeveloppSoft I'm glad to see that you are interested in this project. I really need someone that can help me.
I've already talked about changing the MSF implementa

[2015-07-26 09:22] DeveloppSoft commented on #97
Hi,
I have a new idea, cSploit can download an archive containing :
- a working ruby version.
- metasploit with all the gems.
So, it is faster and easier, the app download one file, uncompress it, and... that's all.
And if there is a metasploit or ruby update, we just have to modify the archive.
Please say what you think about that.

[2015-07-26 11:28] Pukson commented on #205
Ah that sucks tux, but he. Its gonna be allright with you im sure about that.

[2015-07-26 11:30] DeveloppSoft commented on #205
Yes, and very happy for you @tux-mind, please note @Pukson help me a lot.
Le 26 juil. 2015 13:28, "Pukson" <notifications@github.com> a écrit :

[2015-07-26 18:38] lief2 commented on #205
Well I'm glad tux-mind's exams went well(except the project)
I think a wiki page for csploit is a very good idea. Devs that are interested in this project will be able to help more easily.

[2015-07-26 18:56] lief2 commented on #203
That's very interesting indeed but seriously I'm not going to send any candidature to Zimperium until Zanti become open source. I agree completly with what fat-tire said. Anyway Csploit is not a dead project so I'll stick with it :D

[2015-07-26 19:26] lief2 commented on #97
Hi,
That's indeed what @tux-mind is going to fix first i think : the old ruby version bug.
As @tux-mind said, creating a package with all the gems would be more convienient at install but hard to maintain and you will have to redownload all the package when there's an update.

[2015-07-26 22:43] ddos10086 commented on #203
I want  to  know   where  he  is   ?our  ZANTI3

[2015-07-27 01:38] ddos10086 commented on #203
can you speak chinese ? 发自网易邮箱大师 On 2015-07-27 02:56 , lief2 Wrote: That's very interesting indeed but seriously I'm not going to send any candidature to Zimperium until Zanti become open source. I agree completly with what fat-tire said. Anyway Csploit is not a dead project so I'll stick with it :D — Reply to this email directly or view it on GitHub.

[2015-07-27 06:31] DeveloppSoft commented on #97
Yes, but that is just one file in that case, please note I already speak
about that with him :smile:.
Le 26 juil. 2015 21:26, "lief2" <notifications@github.com> a écrit :

[2015-07-27 06:31] DeveloppSoft commented on #205
Sure
Le 26 juil. 2015 20:38, "lief2" <notifications@github.com> a écrit :

[2015-07-28 01:38] Darrennchan8 commented on #43
I have the Same problem... :(
Here's my logcat>>> http://pastebin.ca/3078990
Here's my log from the data partition>>> http://pastebin.ca/3079004

[2015-07-28 11:59] doringr opened #207 "SSLTRIP"
Just a question, will csploit have the new sslstrip+ or sslstrip2 in a near future?

[2015-07-28 13:49] jonniex7 commented on #43
may the force be with us!!!!!!!!!

[2015-07-28 22:03] Pukson commented on #205
Hi there,

Any progress made? Will there be nightly's again?

[2015-07-30 07:31] DeveloppSoft commented on #205
I re open an issue as tux-mind says but that's all nothing new
Le 29 juil. 2015 00:03, "Pukson" <notifications@github.com> a écrit :

[2015-07-30 15:17] tux-mind commented on #97
Hi mates.
I don't thing that the "all in one" solution is a good approach.

Include the required gems into the MSF package can be a nice solution, but have a single package for both ruby and MSF will be very difficult to maintain.

I'm working on forking the official MSF repo.
with a separate repo I can freeze cSploit to a certain version of the MSF while I'm working on new features.
I'll try to k

[2015-07-30 15:23] tux-mind commented on #195
thanks for the logs, the problem is the old version of ruby.
For now I will downgrade MSF to a 1.9-compatible version.
later I will work on porting ruby >= 2.1 to android, thus to use the latest MSF version.

[2015-07-30 15:32] tux-mind commented on #203
hey guys, glad to see that people prefer Open Source :blush:

anyway I'm looking for volunteers too :wink:

@fat-tire helped us a lot with it's UI changes. anyone can create a pull request.
as I'll see that you become quite active I'll ask you to join the cSploit team.

cSploit born as an organization because I knew that this project were too big for me alone.

[2015-07-30 15:35] tux-mind commented on #197
duplicate of #205

[2015-07-30 15:35] #197 closed

[2015-07-30 15:36] tux-mind commented on #197
thanks for the report anyway :blush:

[2015-07-30 15:41] tux-mind commented on #200
thanks for the report, will investigate it soon.

[2015-07-30 20:31] newbie442 commented on #97
On 07/30/2015 11:18 AM, tux-mind wrote:

O.K.   I'm guessing this is the case because of excessive, trivial
volatility in MSF.

Yep.... if trivial volatility is the issue, this makes sense. You'd not
need to chase little changes, and would update your fork only if there
was a significant, broadly-applicable issue to test.

EXCELLENT!  YOU DA MAN!

[2015-07-31 05:39] Mad789 opened #208 "Gems for msf"
Whenever i try downloading gems for msf it gives me an error that says an error occured while downloading please fix it

[2015-07-31 06:41] DeveloppSoft commented on #97
Yes, good idea.
As I say you in the first issue, to use the last metasploit versions, we
must use the last ruby version, I think we may compile a new ruby version
for android.
Le 30 juil. 2015 22:31, "newbie442" <notifications@github.com> a écrit :

[2015-07-31 10:46] yobasystems commented on #208
Same here

[2015-07-31 14:10] vince2010091 opened #209 "Don't ask for root"
Hello,

After download core files, app prompt an error : need root rights.
But rights are not asked (super su works fine with other root apps)

Regards

[2015-07-31 19:03] tux-mind commented on #97
@DeveloppSoft isn't just "compiling".

Ruby is wrote to work over the GNU libc, not the bionic one. We have to rewrite some parts of ruby to make it works on android.
Also some libraries are not available ( or partially modified ) on android, like openssl.

So, we have to port it to android and then compile it.
I spent about 2/3 weeks for porting ruby 1.9.

I'm working on the repo right now, for n

[2015-08-01 08:14] DeveloppSoft commented on #203
Of course, I want join you.
Le 30 juil. 2015 17:32, "tux-mind" <notifications@github.com> a écrit :

[2015-08-01 08:14] DeveloppSoft commented on #97
Ok
Le 31 juil. 2015 21:03, "tux-mind" <notifications@github.com> a écrit :

[2015-08-01 16:39] CreekOne commented on #195
Have you had a look at the ruboto project?

[2015-08-01 17:05] lief2 commented on #209
Did you checked on the supersu app if Csploit has the root right ?

[2015-08-02 04:32] xXPieFlavorXx opened #210 "Your program...Csploit"
Your csploit metasploit wont run.

[2015-08-02 18:21] TheGodOgun opened #211 "Heart attack"
Message shows when trying to update core.

[2015-08-02 19:08] Tajnymag commented on #97
How about using Ruboto?
http://ruboto.org/index.html

[2015-08-02 19:36] SiemdeNijs commented on #205
Glad to see its still being continued, best of luck with your study Tux, love your work very much and happy to see csploit is being worked on!

[2015-08-03 10:55] cycroja opened #212 "Mobile network scanning mode like ZANTI"
Please let the app work without Wlan

And maybe the MITM hitspot tethering option without internet

[2015-08-04 09:31] GitHubTpac commented on #43
Hey Tux-Mind
msf installing issue.
running cm11 4.4.4 on galaxy s4
heres my catlog https://ghostbin.com/paste/kmdah

[2015-08-04 19:17] tux-mind commented on #181
yeah don't worry, i'll keep up the work :wink:
for the better update system I'm working on it.

thanks for your time and donations, I'll try to make my best to satisfy your needs :blush:

[2015-08-04 19:17] #181 closed

[2015-08-04 19:18] tux-mind commented on #208
duplicate of #205

thanks for the report anyway

[2015-08-04 19:18] #208 closed

[2015-08-05 11:10] DeveloppSoft commented on #97
I already seen that, but I do not know if it can work with msf
Le 2 août 2015 21:08, "Tajnymag" <notifications@github.com> a écrit :

[2015-08-05 11:10] DeveloppSoft commented on #203
Good idea
Le 4 août 2015 17:58, "CHEF-KOCH" <notifications@github.com> a écrit :

[2015-08-06 16:06] orangeisnon opened #214 "Build Server Down"
RootBitch's build server seems to be down (gives a 404).
I'll try to get a hold of him and have him take a look.

[2015-08-06 16:13] xaitax commented on #214
I migrated to a new server and will put it up asap. Now that tux-mind is back andbwr can expect a few new commits. :)

[2015-08-06 16:13] xaitax commented on #214
I migrated to a new server and will put it up asap. Now that tux-mind is back we can expect a few new commits. :)

[2015-08-06 16:40] orangeisnon commented on #214
Ah thanks.

[2015-08-09 09:08] hobocow commented on #211
Me too, running android lollipop 5.1.1 on N5. Have been searching for a solution for hours.

[2015-08-09 09:22] hobocow commented on #24
I'm still getting heart attack 6 months after? LOL

#tux-mind

[2015-08-10 07:23] xaitax commented on #214
I fixed a built error which is proposed here:
https://github.com/cSploit/android/pull/215/files
Until the patch isn't accepted there won't be new builds but for now you can find the latest nightly at the normal URL again:
http://rootbitch.cc/csploit/cSploit-nightly.apk

[2015-08-12 08:43] Rubenoo commented on #24
Hey tuxmind , I've opened the nightly build and it crashed on my phone
Info: samsung galaxy s5 rooted
Logcat : http://1drv.ms/1Jc7CJe
Ps I love your work and I hope that you can make the msf work.  If you can do that then you will be my hero for ever. I hope that u can use my logcat

[2015-08-12 11:32] eggozaurus opened #216 "ruby cannot be installed on csploit"
I downloaded the metasploit framework but it must be buggy cause ruby failed to install please help

[2015-08-12 13:17] Rubenoo commented on #216
@eggozaurus the developers are already noticed of this bug, please look at the other problems to make sure that you don't post the same bug over and over again.

Please close

[2015-08-12 23:39] darknerk opened #217 "Error al descargar metasploit"
Me aparece error al descargar metasploit.
Se puede descargar pero al momento de instalar el msf me aparece ese error.
Porfavoz como puede solucionar este problema

[2015-08-13 15:25] fabinhojcr commented on #217
Always use English to comment

[2015-08-13 23:48] MuradTroll opened #218 "Failing to install ruby gems"
First of all I am so glad someone tries to keep dsploit up.

The problem is that when installing ruby gems I get an error. Now I cannot provide a logcat, but the logcat said something about

HTTP 502 Error gems.dsploit.net

Or similar. This is because the gem server is not running which leads to a faulty installation. Trying to run metasploit rpcd logcat sais that some gems are missing.

 Could an

[2015-08-14 09:36] Rubenoo commented on #218
This could be the reason why the gems are failing to update because they cant get any gems because the server is down. @tux-mind Can you take a look at this?

[2015-08-14 09:47] MuradTroll commented on #218
As far as I know dsploit used a system called "gem in a box"
Using this, you can host your own server with all the gems needed.
But since the server is down, we need to download the gems from another server
(Either the official rubygems server or a new gem in the box server)

An easier way would be hosting the full msf and ruby data
This should provide full service, even if some servers are down.

[2015-08-14 11:36] MuradTroll commented on #218
#205 they have the same problem I think
 The question is, if this problem is a downloading problem caused by server down or if this is another problem...

[2015-08-14 13:43] DeveloppSoft commented on #218
Thanks, we are already working on it

[2015-08-14 14:58] gelero43 opened #219 "csploit"
Metasploit dont start and port scanner dont find anything

[2015-08-14 15:06] MuradTroll commented on #218
@DeveloppSoft
I read your other posts and I am very glad to see that there are people who try to help and contribute to this project in any way.

Can you tell me what solution you are thinking of? I mean hosting a new gemserver or rewriting the programm?

[2015-08-14 18:45] MuradTroll opened #220 "Interesting Linux to Android Cross-Compiler App"
Hello csploit base.

Today I found a app called "BotBrew" which claims to be able to run linux apps right from Android.
I found a guy on Google Plus who uploaded some pix:
https://plus.google.com/+DavidMcClellan/posts/BrEKQiVhq1a

BotBrew includes ruby so technically you can get Metasploit.

Seems to be an interesting app. If anyone could take a closer look at this, I would be very grateful for th

[2015-08-14 19:21] MuradTroll commented on #210
Devs are already working on it. Now patience is asked from all of us.

[2015-08-15 00:38] darknerk commented on #217
I get error downloading metasploit .
You can download it but when I install the SPS appears that mistake.
Please fix this problem as

[2015-08-15 09:03] Rubenoo commented on #219
the developers are aware of those bugs, please leave more detail about the bug. for example make a catlog ect

[2015-08-15 12:28] DeveloppSoft commented on #220
It is very interessant...

[2015-08-15 12:55] MuradTroll commented on #220
Yesterday it worked but now the botbrew repo is down (Http 502 error) and I cant test it. Will test it when the server is running again.

[2015-08-15 16:54] Jhyrachy opened #221 "Ettercap returned #237"

[2015-08-15 16:55] Jhyrachy commented on #221
Motorola XT1068, logcat is coming in few hours

[2015-08-16 05:11] hightechstl opened #222 "Service failed to start/failed update msf"
Nexus 5 Pwn Phone 2014 build Android version 4.4.2

Updated core successful
Update Ruby: cannot start process
Update MetasploitFramework: An error occured while downloading the update (Fails at installing gems)
Port scanner working
Session Hijacker not working tested on multiple windows 7 desktops running google chrome and IE9 & 11

[2015-08-16 08:58] MuradTroll commented on #222
Same issue here. We have to wait devs are already working on it.

[2015-08-16 14:33] DeveloppSoft commented on #222
Yes, @tux-mind is downgrading msf for the moment

[2015-08-16 14:39] DeveloppSoft commented on #221
@Jhyrachy, need logcat and cSploit log

[2015-08-16 14:42] DeveloppSoft commented on #219
@Rubeeno, I totally agree with you.
@gelero23 and the others, please as you can see, we have a lot of issues like it, and... just one is needed, so do not reopen an issue, if you have something to add make a post into the issue

[2015-08-16 14:45] DeveloppSoft commented on #207
Maybe I can work on it but I am not an official dev.
I you know how to do it, you can still pull something.

[2015-08-16 14:50] DeveloppSoft commented on #194
@CreekOne, cSploit is not a ROM so we can not use what you suggest

[2015-08-16 15:29] Jhyrachy commented on #221
Yeah, sorry, had problem with my pc.

This is the logcat: http://pastebin.com/nUACdwX5

Csploit is not making any log, even if both option are selected in Settings http://i.imgur.com/00dX8no.png

[2015-08-16 17:49] fat-tire commented on #218
FWIW, and I haven't talked to @tux-mind about it, but the problem does seem to be that dsploit.net doesn't have a gems server any more, and UpdateService.java still uses:

[2015-08-16 23:15] MuradTroll commented on #218
@fat-tire
Why do they have to set up a special server for gems? Cant they just download it from official rubygems repo?

[2015-08-16 23:18] MuradTroll commented on #222
But will this fix the ruby gems server problem? I mean the older versions of msf are still dependent of rub gems bundles, right? I would suggest packing the gems right into the package instead of using a special bundler and server.

[2015-08-16 23:19] MuradTroll commented on #220
This could be helpful for @tux-mind

[2015-08-18 09:43] MuradTroll commented on #218
@fat-tire why not downloading the gems from rubygems official repo? So just change the REMOTE_GEM_SERVER

[2015-08-18 12:08] DeveloppSoft commented on #218
I think downloading a custom archive with all the dependicies
Le 18 août 2015 11:43, "MuradTroll" <notifications@github.com> a écrit :

[2015-08-18 12:09] DeveloppSoft commented on #220
Yes, I think
Le 17 août 2015 01:19, "MuradTroll" <notifications@github.com> a écrit :

[2015-08-20 12:11] tux-mind commented on #218
yep, I'm working on changing the way we install gems.
we will ship an MSF tarball with native gems included and patched Gemfile
and specs.
in this way cSploit don't have to patch the MSF code ( just a little ) and
will not install native gems from remote.

I'm sorry for taking so long but I've also to finish a website for
September.

I'll keep you posted.

[2015-08-20 12:17] hightechstl commented on #218
Hurray! Thank you for letting us know you are working on it. Scary, I was
about to install zAnti when I received this email... It's like you knew.....
On Aug 20, 2015 7:11 AM, "tux-mind" <notifications@github.com> wrote:

[2015-08-21 09:03] AliceGrey opened #223 "Msf fails to update on 1.5.3"
During msf update it starts to install gems then says that something went wrong. Nexus 7 32gb running pwnpad commmunity edition 2014. Android 4.3.1

[2015-08-21 11:12] DeveloppSoft commented on #218
Good @tux-mind, we all support you

[2015-08-21 11:12] DeveloppSoft commented on #218
Good @tux-mind, we all support you

[2015-08-21 11:15] DeveloppSoft commented on #222
Maybe...

[2015-08-21 19:33] AliceGrey commented on #223
Noticed you are already working on this issue.

[2015-08-21 19:33] #223 closed

[2015-08-22 03:43] sudodevil opened #224 "MSF Update fails !"
At the point "installing gemz for MSF" update always fails and metasploit server can't start anymore. Whats wrong?

[2015-08-22 15:35] ddos10086 commented on #203
gad ,just wait ?

[2015-08-24 06:54] DeveloppSoft commented on #224
We are already working on it

[2015-08-24 06:55] Rubenoo commented on #224
@developpSoft do you guys have a ETA?

[2015-08-24 16:56] jellium commented on #218
Thanks for the heads-up and great work @tux-mind.

[2015-08-26 10:26] aavvaallooss opened #225 "Metasploit Framework error updating"
Nexus 5 (Android 5.1.1)

cSploit 1.5.3

[2015-08-26 10:27] hightechstl commented on #225
This is a known issue and is currently being worked on
On Aug 26, 2015 5:26 AM, "aavvaallooss" <notifications@github.com> wrote:

[2015-08-26 13:22] DeveloppSoft commented on #224
@Rubenoo, please, what does 'ETA' mean ?

[2015-08-26 13:27] Rubenoo commented on #224
D

[2015-08-26 13:28] Rubenoo commented on #224
@developpSoft it means :"Estimated Time of Arrival" , I wanted to know if you guys know when the msf is working again, like next week or something

[2015-08-26 14:25] Rubenoo commented on #224
@developpSoft it means :"Estimated Time of Arrival" , I wanted to know if you guys know when the msf is working again, like next week or something

[2015-08-26 17:17] NeutronS21 opened #226 "Update Ruby"
Hi, i cant update ruby, it says failed to update

[2015-08-26 17:18] #226 closed

[2015-08-26 17:18] hightechstl commented on #226
Known issue, already in the works
On Aug 26, 2015 12:17 PM, "NeutronS21" <notifications@github.com> wrote:

[2015-08-28 06:42] DeveloppSoft commented on #224
I do not know, @tux-mind is trying to downgrading msf.
For the moment, I am working on an other solution wich will work well with cSploit, and my Linux Distro

[2015-08-28 06:46] Rubenoo commented on #224
@developpSoft Can you notice everyone if you find the solution? And thank you for helping tuxmind with this project

[2015-08-29 08:59] Avamander commented on #203
It's been more than a month and still no word from them. .-.

[2015-08-29 10:59] lief2 commented on #203
It's stagefright everywere on zimperium's blog XD

[2015-08-29 14:44] CHEF-KOCH commented on #203
I'm out of this, sorry but it's not only the source reason. There is no communication or anything, that's always a bad signal. I would more trust in an organisation/group that speaks with the crowd or stays on the line. Communication is a very important thing.

We need a clear statement, now! And not months later after everyone is already angry because we need to monitor every day the feeds to see

[2015-08-29 15:01] tux-mind commented on #205
i will break the current MSF update system for a while, just the time to develop the new one.

[2015-08-29 15:07] hightechstl commented on #205
Great! Do you have an estimated time of completion?
On Aug 29, 2015 10:01 AM, "tux-mind" <notifications@github.com> wrote:

[2015-08-29 15:11] hightechstl commented on #203
It is an app you did not pay for, that tux is working on free of charge...
im sure he has a life, so to be angry that its taking him a while is in no
way supportive of someone providing you something out of the goodness of
their heart...
On Aug 29, 2015 9:45 AM, "CHEF-KOCH" <notifications@github.com> wrote:

[2015-08-29 15:23] tux-mind commented on #203
@CHEF-KOCH  communication about what ? should I write you about my real life ?

@hightechstl thanks for your support, really appreciated :blush:

anyway I'll assign to the MSF repo a team ( github organizations can be arranged in teams ) for maintenance.
We'll need someone that known ruby, cross-compiling and git.
I already described the new update system into a [wiki page](https://github.com/cSpl

[2015-08-29 15:25] tux-mind commented on #205
few hours I think.
working on it right now

[2015-08-29 15:28] hightechstl commented on #205
Happy to hear it. Sorry for the unsupportive attitudes of some. If I had
more programming knowledge I would be happy to join your team and help.
Sadly my programming knowledge is entry level at best.
On Aug 29, 2015 10:25 AM, "tux-mind" <notifications@github.com> wrote:

[2015-08-29 15:45] Rubenoo commented on #205
Yes I hope that you can make it work :))) goodluck with it.

[2015-08-29 16:01] lief2 commented on #205
Nice ;D

[2015-08-29 16:09] hightechstl commented on #205
@tux-mind If there's anything that you need from me let me know. I'm here
to help in anyway I can
On Aug 29, 2015 11:01 AM, "lief2" <notifications@github.com> wrote:

[2015-08-29 18:48] CHEF-KOCH commented on #203
This thread is not about cSploit and I not talked to or with tux about the future of cSploit. (He only said he needs also volunteers).

I did send 3 emails to Zimperium in the past with nothing as reply (not even an automatic generated one). I think it's not so hard to answer with yes, no or maybe or something like that to get a statement we maybe can share/work with. I don't know how they code or

[2015-08-29 19:01] CHEF-KOCH commented on #220
Seems this entire project is outdated (3 years old).

* http://botbrew.inportb.com/
* https://github.com/jyio/botbrew-gui
* https://github.com/jyio/botbrew

[2015-08-29 20:53] Rubenoo commented on #205
@tux-mind Hey, are you making any progress? I wish you all the luck with making it work btw

[2015-08-30 01:50] hightechstl commented on #203
@CHEF-KOCH This was my bad. For some reason my e-mail showed your comment, but as a comment to a different thread regarding the MSF issues on csploit.

[2015-08-30 01:58] hightechstl commented on #205
Just wanted to check in and see if there was any progress with this?

[2015-08-30 07:02] tux-mind commented on #205
I've encountered an issue.
I miss some compiled native gem like nokogiri and pcaprub.
I'm not at home right now and setting up the environment to cross compile them will require a lot of time compared to just copy and paste a file.

btw I want to share some good news with you.
including the gems into the MSF package will speed up the installation process a lot with a small price: 20/30MB of extra

[2015-08-30 07:06] Rubenoo commented on #205
Nicceeee keep on working @tux-mind you got this. I'm so happy that were getting closer to a fix :)

[2015-08-30 08:59] fat-tire commented on #205
hey @tux-mind--  the latest work-in-progress [nethunter apk](https://github.com/binkybear/AnyKernel2/blob/b0f65033e6dc8d42ea1cd64eee3b86902bf617b1/system/priv-app/Nethunter/nethunter.apk) beta build should auto-install those files right to `/usr/share/metasploit-framework/vendor/bundle/ruby/` on your device's chroot, including ` nokogiri-1.6.6.2` and `pcaprub-0.12.0`.  That might be the easiest wa

[2015-08-30 09:28] domenicoblanco commented on #205
I installed Mali NetHunter in my Nexus 6, MSF works!

[2015-08-30 14:35] tux-mind commented on #205
thanks for your efforts @fat-tire , but is not what we need.

those gems are compiled into the chroot environment, so they use the glibc, not the bionic one.
I'll setup the cross-compile environment on my laptop when i get back home, making a nice howto into the wiki, so everything will be more clear to those great collaborators, like you, who want to help.

thanks anyway for the suggestion, reall

[2015-08-30 21:34] fat-tire commented on #205
@tux-mind Ah you're right, my bad.  Well, I've definitely cross-compiled kernels/bootloaders and android before (using CROSS_COMPILE=/path/to/compiler/arm-linux-gnueabi- ARCH=arm ) but I'm not familiar with even which source you're using.. [here](https://github.com/cSploit/android.MSF)?  Makes sense to me to just wait for you to write up the steps so I know It'll be linking to bionic properly, etc

[2015-08-31 05:46] Rubenoo commented on #205
@tux-mind Are you making any progress and can you work on this today?

[2015-08-31 13:15] bandwagonz commented on #205
@Rubenoo patience is a virtue. Tux already let us know that he will resume work on the 5th. Remember that you're free to help out as well :)

[2015-08-31 14:08] DeveloppSoft commented on #224
Yes, of course

[2015-08-31 16:07] tux-mind commented on #203
@CHEF-KOCH thanks for your support, I'll make an how-to on compiling native gems, thus to allow you to play around with them.
there is a [README](https://github.com/cSploit/android.native/blob/master/README.md) that explains how to port glibc stuff to bionic, if someone want's to try porting ruby 2.1 to the bionic libc.

@DeveloppSoft you are now a csploit.org maintainer. please read carefully how

[2015-08-31 19:43] loganrussell48 opened #227 "Ruby update issue"
There is currently an issue where Ruby doesn't update correctly on my LG G Pad 8.3

To describe the issue, when i open the app, it tells me there is an update available for Ruby(whether or not there actually is an update, I'm not sure). I allow it to update, it downloads the file, checks the file, and right after it begins the extracting stage, it fails and no update is installed.

[2015-08-31 19:44] hightechstl commented on #227
This is a known issue and is currently being worked on
On Aug 31, 2015 2:43 PM, "loganrussell48" <notifications@github.com> wrote:

[2015-09-02 15:05] DeveloppSoft commented on #203
Thanks

[2015-09-04 14:40] DeveloppSoft opened #229 "Ideas"
Hello guys, I opened that issue so you will be able to share some ideas concerning cSploit.
Here is mine (working on it if @tux-mind thinks it clan be good):
- bluetooth hacking
- geo traceroute
- social engineering menu
  ... And a lot more

[2015-09-04 15:26] Tajnymag commented on #229
- wifi cracking using USB card (workaround for any driver issue)
- on-device compiling of the newest cSploit code
- Router Keygen integration (the same range of supported routers)
- quick test for default credentials used in selected router's administration page
- automatic reporting of crashes and errors (combined with some simple on-server averiging)

[2015-09-04 15:30] DeveloppSoft commented on #229
I can enable wifi cracking but it will need a patched android kernel..
To compile you can use the AIDE app.
I do not know what dayum is
Le 4 sept. 2015 17:26, "Tajnymag" <notifications@github.com> a écrit :

[2015-09-05 08:13] DomenlDruga commented on #229
By patching the android kernel you mean the mac80211 injection patch? Because Kali NetHunter has a [guide](https://github.com/offensive-security/kali-nethunter/wiki/Modifying-the-Kernel) on doing just that, so that everyone can patch and configure their own kernels.
Integration wit Router Keygen seems kind of pointless, as modern devices have enough resources to switch between two apps. Some autom

[2015-09-05 13:25] DeveloppSoft commented on #229
@DomenlDruga, yeah, I was speaking about that patch, then thanks for the
translation :smile:
Le 5 sept. 2015 10:13, "DomenlDruga" <notifications@github.com> a écrit :

[2015-09-06 13:54] MuradTroll commented on #229
Metasploit Extra Console for Testing MSF Features, that arent currently included in the app. This could help to use exploits before they are even implented, and would help in research to make csploit features bigger.

But this is just optional. The main thing I want to get with this is: More features

Of course.

[2015-09-06 16:47] tux-mind commented on #205
working on it right now.
setting up the cross-compile environment is a very complex task... may I have to check if there is another way to achieve this.
thanks for your patience guys.

[2015-09-06 17:26] Rubenoo commented on #205
@tux-mind no problem , do what you have to do mate. I know that you can do it

[2015-09-06 21:11] Cursewords opened #230 "Some issues with the current apk and builds"
Phone: LG G4
OS: Android 5.1 (Rooted)
SELinux: Enforcing (I know it needs to be changed)

Whenever I try to download the Ruby package it fails with "An error occured while downloading the update". Could you please provide a fix for this?

Also the nightly build won't even open on my phone. It just opens and then closes immediately.

Is this project still open? If so I will definitely consider a do

[2015-09-06 21:12] hightechstl commented on #230
Yes it's still active. Tux-mind is currently working in a fix for this
issue.
On Sep 6, 2015 4:11 PM, "Cursewords" <notifications@github.com> wrote:

[2015-09-07 14:59] setlec opened #232 "core 1.0.5 install result on heart fail"
So I've installed csploit  on my smt230 rooted but I can't  install  the csploit  core tool I'm using the default os 4.4.x from Samsung a and rooted with kingoroot.  I've got busybox installed with busybox  free app. Any suggestions that could enable me to  install  the core tool?

[2015-09-07 15:30] DeveloppSoft commented on #232
Use supersu.
@tux-mind can you add a wiki page forme thé core, please
Le 7 sept. 2015 16:59, "setlec" <notifications@github.com> a écrit :

[2015-09-07 15:36] setlec commented on #232
Thank you very much for your reply!

[2015-09-07 21:51] gainan opened #233 "when launching the session hijacker the HTTPS redirection rule is always deleted"
Hi all,

I've realized while playing with the session hijacker module, that the HTTPS redirection rule is not added. The behaviour when you press the start button is as follow:
- if configured HTTPS redirection: clean all the rules, add a new HTTPS rule.
- clean all the rules, and add the HTTP redirection rule.

so the HTTPS rule is always deleted.
logcat:

I've created a patch which solves this p

[2015-09-07 21:58] evertking commented on #233
Where are how do I use this patch? Thanks in advance.

[2015-09-08 10:04] gainan commented on #229
Hi,

- I´d like to have a complete suite for domain/subdomain analysis/discovery. Using dnsmap, dnsenum, fierce, whois, google (well, search.disconnect.me), etc... I think it would be easy to implement.
- dns spoofing using ettercap: I have it already implemented and working.

Anyway, I´m not sure if it happens only on my mobile (htc bravo 4.4.4), but there are a lot of problems with the latest ap

[2015-09-08 13:52] DeveloppSoft commented on #229
@ga, I think we could try something like an OSINT tool.
Now some news: I found android pcap, an app which allow you to have a
kismet like tool with an external wifi card (without root), I will try to
use the sources for wifi cracking functionnality
Le 8 sept. 2015 12:04, "ga" <notifications@github.com> a écrit :

[2015-09-08 14:28] kolibiri opened #234 "Metasploit RCPD doesn't work"
I pressed on Start Metasploit RPCD and then it shows a toast message that says cannot start

[2015-09-08 15:47] fat-tire commented on #229
Funny you should mention [android-pcap](https://kismetwireless.net/gitweb/?p=android-pcap.git;a=summary).  I was just playing with it yesterday, got it building w/gradle + the new tools in Android Studio.  FWIW, the [play store listing](https://play.google.com/store/apps/details?id=net.kismetwireless.android.pcapcapture) says that it's GPL, but I didn't see a notice about what version in the actua

[2015-09-08 15:51] DeveloppSoft commented on #229
@Fattire thanks, will have a look.
@tux-mind I will start working on all of that if you agree.
Le 8 sept. 2015 17:47, "Fattire" <notifications@github.com> a écrit :

[2015-09-08 17:42] pmcdougal commented on #205
Excited to see what you come up with as a fix :)

[2015-09-08 20:25] k0spwn opened #235 "Cannot start process Metasplojt RPCD"
Running last csploit version ( 1.5.3 )

When I try to start Metasploit RPCD it give the "cannot start process" error

I'm on a Galaxy S4 GT-I9515 on Android 5.0.1 Stock

[2015-09-08 21:33] gainan commented on #233
you can create a patch from this commit by checking out my repository (git clone ...), extracting the patch (git format-patch 8cf955822bee33f5be23e29b6aa4c7f84d362ed8; git format-patch HEAD~~),  and applying it to yours/this one.

if @tux-mind considers it useful, I can create a pull request for merge it with the base. Anyway, I think the SSL interception is broken, at least for some modules.

[2015-09-09 08:16] sorano commented on #229
My idea is to have cSploit able to run also on a LAN interface.
For example on my nethunter pad I have USB OTG cable connected to an USB LAN interface. Currently I can only use csploit with WLAN.

[2015-09-10 07:20] caythanhgia commented on #235
me too,

i'm on a Sony xperia z2 android 5.1.1 Stock

[2015-09-10 07:24] sorano commented on #235
Please stop spamming about this issue, it is well known and you will see lots of similar issues if you look them through, follow this for updates: https://github.com/cSploit/android/issues/205

[2015-09-10 09:08] tux-mind commented on #205
wow, i reach a checkpoint :blush:

I'm taking so much because I'm working on it in my little free time, but I'm doing it :+1:

I successfully build the makefile for the nokogiri gem.

the following is the command i gave, just to give you an idea of the work spent searching for missing libraries and broken argument parsing functions.

[code]

I'll keep you posted :wink:

[2015-09-10 12:17] tux-mind commented on #205
gotcha :v:

[code]

[2015-09-10 12:19] sorano commented on #205
Congrats! Well done tux-mind!

[2015-09-10 12:33] swelit commented on #205
So does it work right now?

[2015-09-10 12:55] Rubenoo commented on #205
Wow Congrats @tux-mind Your amazing. But when can we use the fully working csploit? i cant wait btw :P

[2015-09-10 14:33] gainan opened #236 "login cracker segfault"
When launching the login cracker module against a target, it crashes (android 4.4.4 and 5.x).

Executing hydra from the shell segfaults:
root@lg:/data/data/org.csploit.android/files/tools/hydra # ./hydra
./hydra
[1] + Stopped (signal)     ./hydra
root@lg:/data/data/org.csploit.android/files/tools/hydra #

I´ve compiled the latest version of thc-hydra https://github.com/vanhauser-thc/thc-hydra/, an

[2015-09-10 16:49] NoBody112 commented on #229
Is it possible to implement a WPA2-PSK hash sniffer?
The script would forcefully disconnect clients and then monitor the traffic for the handshake (which can later be cracked using PC). Thoughts ?

[2015-09-10 16:53] DeveloppSoft commented on #229
I might try...
For the moment, I am trying to add wifi external cards functionnality, and
optimize the app.
Le 10 sept. 2015 18:49, "NoBody112" <notifications@github.com> a écrit :

[2015-09-11 11:02] tux-mind commented on #205
ok, the bundle is complete, I've compiled both `nokogiri` and `pcaprub` gems.

Now I have to make some test, sadly my phone is in maintenance in these days, I'll try with the android emulator.

the size of the MSF package is around 47MB ( 128MB extracted ).

[2015-09-11 11:59] Rubenoo commented on #205
Nicce but can we test it to for now? And  send you the reports after?

[2015-09-11 12:02] hightechstl commented on #205
I would be happy to test. Moto G, Galaxy S4, Nexus 5 32GB, as well as nexus
7 first and second gen. All I need is an apk and I can test away across
multiple devices.
On Sep 11, 2015 7:00 AM, "Rubenoo" <notifications@github.com> wrote:

[2015-09-11 13:44] evertking commented on #205
I'm willing to test also.. S3, nexus 5 and OnePlus one.
On Sep 11, 2015 7:02 AM, "hightechstl" <notifications@github.com> wrote:

[2015-09-11 13:49] domenicoblanco commented on #205
I can also test on a Nexus 6 and a Samsung Galaxy Tab 3 8.0

[2015-09-11 13:53] swelit commented on #205
I would like to test on my Samsung galaxy s5

[2015-09-11 18:10] gainan opened #239 "Password Sniffer module does not intercept users/pass on non english languages"
when intercepting users and passwords, ettercap loads the fields to search for from the file etter.fields.
This file has a list of common users/pass fields, but they're in english and the file can not be edited from cSploit. So as a result, a html form with the the field name "usuario" is not intercepted:

etter.fields without modifications:
(I can not post any ettercap log ... user/pass not inter

[2015-09-12 01:00] uranium-waffles commented on #205
Congratulations @tux-mind Nice job 😁

[2015-09-12 16:10] gainan commented on #229
@sorano, would you mind to add a new issue with your suggestion? I've got a patch which allows you to select a configured network interface, in case of no wireless interface available. I've tested it with just the mobile gms interface, and works fine.

Right now cSploit relies a lot on the wireless dhcp information to work properly, so for example, if you configure the mobile to work as hostspot,

[2015-09-13 08:44] sorano opened #240 "Suggestion: Allow cSploit to run on additional interfaces"
My idea is to have cSploit be able to run on interfaces other than wlan0.

Like a dropdown in options with ability to chose which interface to use.
For example on a Nethunter pad you can use OTG cable to connect an additional USB LAN/WLAN interface.

[2015-09-13 08:51] sorano commented on #229
@gainan Done. https://github.com/cSploit/android/issues/240

I love the idea of running cSploit on the GSM interface.

[2015-09-13 09:58] DeveloppSoft commented on #229
@gainan, good, maybe you can do a pull request....

[2015-09-13 11:07] Duartebm commented on #229
There should really be a HID (human interface device) attack so you could connect your cellphone on a pc and it would be detected as a keyboard and start typing programmed commands, just like Net Hunter (kali linux for android) and USB Rubber Ducky from Hak5.
But I guess it would need to be able to do kernel changes for that... but anyways I think it would be possible to make some kind of automati

[2015-09-13 11:08] tux-mind commented on #205
almost done, need to fix some little error.

[code]

[2015-09-13 11:32] DeveloppSoft commented on #205
So good @tux-mind :smile: !
I am looking at adding wifi cracking with an external wifi card and maybe changing the ui

[2015-09-13 14:36] maddog9696 commented on #240
This would be so amazing and useful! I am not aware of any app that can do this at the moment other than Kali nethunter. If I could for example use my ALPHA with my galaxy tab pro 8.4 for packet injection/monitor mode in csploit this would be super! If actually implemented, I will give tux/anyone else every available penny I can to thank him! Thank you tux for your work you are truly AWESOME !

[2015-09-13 14:44] maddog9696 commented on #205
Please do this DeveloppSoft Sir! If someone adds the ability to use an external WiFi card like an ALPHA adapter to Csploit, this would make the application light years ahead of other penetrating applications currently available! So exited for a working build tux! Keep up the amazing work guys!

[2015-09-14 22:28] uranium-waffles opened #243 "Nightly Build link is broken"
When i click the nightly build link it redirects me to yahoo can someone test it and see if it works for them?

[2015-09-15 03:15] GhostSamurai commented on #243
Yea its been doing that too me for a while now
On Sep 14, 2015 6:28 PM, "uranium-waffles" <notifications@github.com> wrote:

[2015-09-15 13:35] xaitax commented on #243
Fixed. I just had the webserver off for about 24h. All good again.

[2015-09-15 14:17] hightechstl commented on #243
Nightly build does not work anyway. Installed but won't open. It tries to
open but immediately closes.
On Sep 15, 2015 8:35 AM, "xaitax" <notifications@github.com> wrote:

[2015-09-15 14:28] Rubenoo commented on #243
Yeah it crashed by me to when I open it :/
Op 15 sep. 2015 16:18 schreef "hightechstl" <notifications@github.com>:

[2015-09-15 14:42] Megaeloelo commented on #205
I .... can't .... wait!

[2015-09-15 15:16] evertking commented on #243
Crashes for me too. Does anyone have the https http redirect patch in zip format?

[2015-09-15 15:53] gainan commented on #243
Maybe the crash is due to the bug that @fat-tire fixed (#133). Could someone gather adb logs and paste them to pastebin?

@evertking that fix will only add a redirection rule to iptables, but won´t enable/fix https interception yet due to some problems (it's disabled by code and the session hijacker module does not handle https connections). I´ve got another fix for that, which I´ll post soon.

[2015-09-15 16:19] Tajnymag commented on #229
How about quicker merging of pull requests? There are even some from February :D

[2015-09-15 18:34] maddog9696 commented on #205
Same!! I'v literally been looking forward to the release day of a working Csploit for weeks now! Is this weird/nerdy!?? Lol Please hurry tux! ;D I know I'm not supposed to ask this....Buuut any estimation on a working build, like hours, days, weeks, or months @tux-mind ? Thanks again for all of your work sir! Much appreciated!

[2015-09-16 02:38] uranium-waffles commented on #243
@hightechstl  i had the same problem i was just about to ask if anyone else had issues

[2015-09-16 14:29] GRSteelers commented on #243
Logcat with install followed by attempting to open: http://pastebin.com/NKvx64rR
HTC One m8 on a custom Sense ROM.

[2015-09-16 14:38] DeveloppSoft commented on #229
Just to say that I am working on:
- a modern ui
- a lighter app (less lib), so it will be easier to compile
- adding RouterKeygen because it really impressed me
Will pull something as soon as possible.
Le 15 sept. 2015 18:19, "Tajnymag" <notifications@github.com> a écrit :

[2015-09-16 14:43] Tajnymag commented on #229
Thanks @DeveloppSoft. Really looking forward to it :-)

[2015-09-16 14:52] gainan commented on #243
@GRSteelers this is why the app is crashing:

this problem was fixed with one change of this commit: #133 , but it´s not present on the released apk yet.

[2015-09-16 16:07] GRSteelers commented on #243
That was 6 months ago. This issue is about the nightly build.
On Sep 16, 2015 10:52 AM, ga <notifications@github.com> wrote:@GRSteelers this is why the app is crashing:

Caused by: java.lang.NullPointerException: Null pointer exception during instruction 'monitor-enter >v1'org.csploit.android.core.System.registerSettingListener(System.java:512)

this problem was fixed with one change of this commi

[2015-09-17 06:34] xaitax commented on #243
Because the pull requests wasn't commit to the repo yet @GRSteelers.

[2015-09-17 06:39] Tajnymag commented on #243
Exactly! Just commit those half-year old pull requests to the main repo :D

[2015-09-18 02:57] #243 closed

[2015-09-18 12:27] gainan commented on #229
Another idea:
- MAC randomization when the app starts and prior to scan wireless networks.

[2015-09-18 18:07] MuradTroll commented on #205
Wow @tux-mind is a hero. He is using his time to give us a good reliable programm. Thank you and just like @maddog9696 I look forward to the fixed release of csploit.

Just dont forget your study and stuff,ok?  ^^

[2015-09-19 01:15] tux-mind commented on #205
Looks like android dropped `sqlite3_enable_load_extension` function from the sqlite library starting from lollipop.
I have to change the way we use the sqlite library in cSploit native stuff, not a long task anyway.

After this fix the MSF package should be ready.

I cannot give you an ETA, but from 5 October I start attending my master degree courses. this means that I will have much more free ti

[2015-09-19 09:04] Tajnymag commented on #229
OK, I understand, it's a very low priority, but wouldn't it be cool to have a wearable support?

[2015-09-19 09:35] MuradTroll commented on #52
Yes a terminal would be really cool. That you can activate it under "advanced settings" or so. A terminal could help debugging and using features that arent
In csploit.

[2015-09-19 09:54] DeveloppSoft commented on #229
Yeah, maybe.
Le 19 sept. 2015 11:05, "Tajnymag" <notifications@github.com> a écrit :

[2015-09-19 09:59] DeveloppSoft commented on #205
@tux-mind, at the moment, I am adding RouterKeygen
Le 19 sept. 2015 03:16, "tux-mind" <notifications@github.com> a écrit :

[2015-09-19 13:21] asbtlt opened #246 "Metasploit dont start"
Hi all, i have final version cSploit, bup metasploit dont wana update and start. What i do wrong?)

[2015-09-19 16:05] Rubenoo commented on #246
Hey @asbtlt, The developers of Csploit are aware of this bug with metasploit. and there are currently working on a fix. until the fix is made we have to wait. but please before making a discussion please check is there are other people with the same problem. because this is the 1001 threads about this problem. #Close please.

PS your not doing anything wrong exept for not reading the other problem

[2015-09-19 16:07] tux-mind commented on #205
:heart:

[2015-09-19 16:09] Rubenoo commented on #205
♡ <3😘❤

[2015-09-19 16:18] asbtlt commented on #246
Thank u for answer! Sory for ir

[2015-09-19 16:18] #246 closed

[2015-09-19 16:25] Rubenoo commented on #246
It's ok, and thanks for closing this thread

[2015-09-19 20:04] gainan commented on #232
@setlec did you manage to install the core tools or are you still having this problem?
close the issue if the problem is solved, or provide the exact steps to reproduce the problem, thank you!

[2015-09-19 20:29] gainan commented on #229
I've added a new wiki page with all the ideas we have contributed:
https://github.com/cSploit/android/wiki/Ideas

If someone is working on any of these ideas, update the wiki with something like: <idea> <nick> WIP/<PR number>, or something alike.

[2015-09-19 20:46] setlec commented on #232
i've managed to install core tools but Csploit doesn't work that well but that's another issue.

[2015-09-19 21:58] fat-tire commented on #229
I'm not quite sure what "on-device compiling of the newest cSploit code"  -- that sounds like the app compiles itself (?)

@Tajnymag what would wearable support look-like exactly?
@DeveloppSoft I saw you stopped by IRC...  come back!  Wondering what you mean by 'changing the cSploit architecture"

[2015-09-19 22:44] gainan opened #247 "in case of error when updating the core tools, the next time they are always downloaded, even if they're extracted correctly"
If for any reason when updating the core tools, the app can't get root permissions, the next time it'll download the core tools again, even if they were already extracted correctly.

[2015-09-20 00:37] doringr commented on #205
I need to ask you guys one thing what knowledge do i need to have so i can help. (Like progrming, i dont know).

[2015-09-20 09:13] MuradTroll commented on #205
@doringr app dev skills and programming knowledge (probably java or c#). Also msf knowledge would be good. All other aspects knows @tux-mind

[2015-09-20 09:14] Rubenoo commented on #205
You have to know ruby to, I quess so

[2015-09-20 09:28] gainan commented on #205
@doringr , besides programming knowledges, you still can help by testing pull requests, versions and new ideas. feedback about all of this is also very important. You'll have to install android studio, learn how to import github repositories , apply patches, change between branches, and compile the app to run it on your mobile.

[2015-09-20 09:54] doringr commented on #205
OK thanks for the replies i really apreciate it, going to start practicing now.

[2015-09-20 10:09] MuradTroll opened #249 "What devices?"
Is csploit made to pentest phones. Or can you even attack pcs? If yes, what pc perating systems can be attacked?

[2015-09-20 10:20] Tajnymag commented on #229
@fat-tire I thought something like that. cSPloit would download latest code, compile a new apk, than prompt to install it. Tadaa, problem with nightly server is solved :smile:

On a wearable could be displayed a list of on LAN devices or available exploits. With RouterKeygen added, wearable could inform you about "crackable" network. As I said, it's a very low priority :-)

[2015-09-20 10:21] Tajnymag commented on #249
It all depends on available pre-made exploits. It could virtually attack anything it can reach :-)

[2015-09-20 14:11] Systemad commented on #229
Isn't that basically the same as downloading newest version from github directly straight from the app and then install (which is what it already does).
Nightly releases are not the same as stable releases.

[2015-09-20 14:38] tux-mind commented on #205
@doringr thanks for your efforts, really appreciated.
you can contribute by helping in tens ways, from translating the app on transifex on finding duplicate issues.

@gainan thanks for your help, it's nice to have you onboard.

[2015-09-20 14:39] tux-mind commented on #205
I just found the problem why i cannot cross compile gems on my notebook, now I can fix the sqlite problem, just give me some hour.

[2015-09-20 16:07] MuradTroll commented on #205
@tux-mind I dunno if i am late but is the website layout new? Have u made it? Looks nice, kind of sleek ;)

[2015-09-20 16:19] tux-mind commented on #205
@MuradTroll say thanks to @DominikTV , a new cSploit contributor :heart:

[2015-09-20 16:21] Tajnymag commented on #205
Thanks @DominikTV :+1: :smiley:

[2015-09-20 16:36] DominikTV commented on #205
No problem :wink:

[2015-09-20 17:41] MuradTroll commented on #205
Seid ihr deutsch? Are you german @DominikTV ?

[2015-09-20 17:42] DominikTV commented on #205
@MuradTroll Jo :+1:

[2015-09-20 17:45] Rubenoo commented on #205
@DominicTV ich spreke eine bischen deutsch :P

[2015-09-20 17:47] Tajnymag opened #250 "General discussion"
I'm seeing a lot of out-of-place comments recently. So I open this issue to discuss everything you need about all of the not high priority stuff. :-)

[2015-09-20 17:47] xaitax commented on #205
Noch einer hier. :)

[2015-09-20 17:49] DominikTV commented on #205
@Rubenoo Nice :wink:
@xaitax Sind so einige hier :)

[2015-09-20 17:50] Tajnymag commented on #205
@DominikTV @MuradTroll @Rubenoo Ich spreche auch deutsch, aber ich möchte es nicht als die haupt Sprache. Pls, guys :D

[2015-09-20 17:51] MuradTroll commented on #205
@DominikTV cool dacht ich wär hier schonder einzige. Erwartet man aber nicht bei meinem namen, stimmts ;)

[2015-09-20 17:51] tux-mind commented on #205
WTF ?

[2015-09-20 17:52] DominikTV commented on #205
I think we should come back to the toppic :wink:

[2015-09-20 18:02] Rubenoo commented on #205
so @tux-mind making any progress on the sqlite problem?

[2015-09-20 18:04] tux-mind commented on #205
much love :heart:

[code]

[2015-09-20 18:09] MuradTroll commented on #205
@tux-mind
Please?
Su?
Sudo?
Do it or I stab u?
Pls do it I worked so hard?

WHAT IS THE MAGIC WORD?

[2015-09-20 18:10] tux-mind commented on #205
ahaha, please wait, is not ready again, have to test the install process of the app now.
the screen was about a manual installation.

[2015-09-20 18:11] MuradTroll commented on #205
@tux-mind
Try:
/.msfconsole --please

[2015-09-20 18:14] Rubenoo commented on #205
Haha you guys are hilarious, try /.msfconsole hackyourownmagicword...please.

[2015-09-20 18:16] MuradTroll commented on #205
/.msfconsole -fuckThisShitIDoWhatIWant

[2015-09-20 18:17] Rubenoo commented on #205
^_^

[2015-09-20 18:18] MuradTroll commented on #205
This picture pretty much sums up the problem

http://mscrmblog.net/wp-content/uploads/2009/07/powerofsudo1.jpg

[2015-09-20 18:25] Systemad commented on #250
IRC **

[2015-09-20 18:26] Rubenoo commented on #250
http://webchat.freenode.net/?channels=csploit this is the IRC from this project

[2015-09-20 19:19] Megaeloelo commented on #205
https://github.com/rapid7/metasploit-framework/issues/4068 Maybe this can help .

[2015-09-20 19:25] tux-mind commented on #205
Hem.... That wasn't an issue...

I shared that terminal snapshot to show you that the sqlite problem is
solved.
The msfconsole show some pretty funny things on boot, as the cow in the
first screen and the magic word in the second.

That's all.

Thanks anyway for your efforts ;)

[2015-09-20 19:45] Rubenoo commented on #205
@tux-mind Now that the sqlite problem is solved, are you close to make msf work in csploit? anyway good luck with making it work :+1: :smiley:

[2015-09-20 21:51] gainan opened #251 "[HTTPSRedirector] [session hijacker] wrong SSL server certificate?"
Hi guys, I need a bit of help from you. Can anyone tell if the file [dsploit.keystore](https://github.com/cSploit/android/blob/master/cSploit/assets/dsploit.keystore) is a valid pkcs12 certificate?

Whenever I visit a https site, it throws this error, the connection is not intercepted and the page doesn't load:

09-20 23:08:31.226   31507-4355/org.csploit.android E/CSPLOIT[core.System.errorLogging

[2015-09-20 22:27] gainan commented on #229
new idea:
extend the session hijacker module functionality for:
- allow to detect users/pass fields on the URL.
- save not only the root domain of a cookie, but also all the pages the user is visiting within a URL.
- intercept not only web sites with cookies, but also without them
- allow to select which SSL cert to use.

[2015-09-20 22:41] tux-mind commented on #205
done, branch `msf_repo` IS WORKING.

now let me make a release and an apk.

[2015-09-20 22:43] maddog9696 commented on #205
OMG so like now ?...in area minutes??? Fingers crossedD :

[2015-09-20 22:46] maddog9696 commented on #205
And @tux-mind; I would love to translate your website and fix up some of the English! How do I go about helping you with this sir? You mentioned transifex?

[2015-09-20 23:22] #247 closed

[2015-09-20 23:50] tux-mind commented on #205
@maddog9696 for translating the website make pull requests to [this repo](https://github.com/cSploit/cSploit.github.io).

[transifex](https://www.transifex.com/csploit) is used for the app, not the website. you can help also there if you wish.

thanks in advance for any help :blush:

[2015-09-21 00:09] tux-mind commented on #205
fixed in [v1.5.4](https://github.com/cSploit/android/releases/tag/v1.5.4)

[2015-09-21 00:09] #205 closed

[2015-09-21 02:41] Krossom opened #252 "Ruby cannot star process"
When I download Las update of csploit and it update ruby, it shows cannot start process. What can be?
Version csploit 1.5.4

[2015-09-21 02:45] uranium-waffles commented on #252
I assumed this as well but I am still not able to launch exploits or press the sessions option as it says that msf rpc is not connected. However i can start msf rpcd.

[2015-09-21 02:47] Krossom commented on #252
Can you? I'm still downloading msf...  Well I'll see whats happening

[2015-09-21 03:17] uranium-waffles commented on #252
I downloaded msf and you should be able to launch msf rpcd after it is installed but I still cannot launch exploits.

[2015-09-21 03:27] uranium-waffles commented on #252
Also there are no payloads in select payloads for me @tux_mind should i be using a different msf branch i'm currently using the master branch.

[2015-09-21 03:30] Krossom commented on #252
Idk how to set up this but I can't launch exploits too....
:(

[2015-09-21 05:03] Tajnymag opened #253 "Launching exploits doesn't work"
OK, after the mighty update gems install correctly, but I found another problem. When I open the exploits section, find all available exploits, I am not able to launch any of them. Payloads don't seem to be chosable and after clicking "Launch all exploits" nothing visible happens. Is it just me or is it supposed to work like this? :smile: :smile:

[2015-09-21 05:12] uranium-waffles commented on #253
No this is not just you and I highly doubt it is supposed to work like that. These exploits i find are metasploit exploits and should work, I thought this update was the one that fixed it. But it didnt work for me either.

[2015-09-21 05:50] Systemad commented on #253
Once you open cSploit you'll have to wait up to 5 min until you see a toast message saying "connected to MSF RPC daemon".
Then you will have to " Launch" option.

[2015-09-21 06:05] DeveloppSoft commented on #229
@Fattire, I leave IRC because I was using my Wiko OZZY which was closing
the page each time I was opening a new one.
By "changing the code architecture" I mean:
Have a cSploit android lib so the app is just the ui, it could be easier to
use (one repo for the lib, an other for the app).
Finally, I think time have come to launch cSploit 2.0 with a new ui and all
the new functionnalities, but maybe I

[2015-09-21 07:05] Phurkus opened #254 "Crash and cant download ruby on LG G4"
Just downloaded csploit earlier today. Tried latest version, second,latest version and nightly.
Nightly wouldnt even start. The other 2 versions it kept saying ruby failed to download. If i press not to download and try any of the options from mitm it just crashes and resets my phone.

I have a theory that its my phone, because ive been trying to get Zanti to work with my phone and zanti also acts

[2015-09-21 07:19] Tajnymag commented on #254
Could you try the 1.5.4 version? Also read all the issues before posting stuff here ;-)

[2015-09-21 07:24] Phurkus commented on #254
@Tajnymag im actually reading through them right now.
First day commenting, still learning the flow. And i currelty have 1.5.4 version , but still same problem

[2015-09-21 07:46] gainan commented on #254
@Phurkus , try to get logs when you launch the app, and paste the output to pastebin.com (or if you know the exact exception/error paste it here):
https://developer.android.com/tools/debugging/debugging-log.html

I think we should write a howto about how to report bugs...

[2015-09-21 08:36] #250 closed

[2015-09-21 08:44] Tajnymag opened #255 "Reddit"
Could someone create a cSploit subreddit for announcements and communication? Reddit says my account is not allowed to create new subreddits yet. :-)

[2015-09-21 09:52] Rubenoo commented on #253
When i launch its said: launch failed. and when i select another payload and then launch the apps crashes.

(samsung galaxy s5 android 5 rooted)

[2015-09-21 11:36] Tajnymag commented on #253
I think cSploit can't connect to the daemon. I've been waiting for more than 9 minutes and nothing has happened

[2015-09-21 11:38] Rubenoo commented on #253
It said to me: connected... and then daemon returned #1 is that good or not?

[2015-09-21 11:41] swelit commented on #253
It doesn't work for me either

[2015-09-21 11:57] sorano commented on #253
I know we are all eager to get csploit running but these "it doesnt work for me either" does not really help to move the project forward, as with any development logs or something that points towards the problem is needed to find the issue.

Like someone said, there should be a howto on filing bug report's.

At least start with installing catlog: https://play.google.com/store/apps/details?id=com.n

[2015-09-21 12:07] ddych opened #256 "Randomly changes in the settings"
If there is any change in the settings, and I scroll screen or exit the settings and open again, some switches change position by themselves. Version 1.5.4, Android 4.2.2

[2015-09-21 12:18] #233 closed

[2015-09-21 12:25] Tajnymag commented on #253
OK, then [here](http://pastebin.com/dNzrS11t) is my log.

[2015-09-21 12:30] sorano commented on #255
https://www.reddit.com/r/cSploit/

[2015-09-21 12:33] asbtlt opened #257 "Ruby dos't update"
Hi,
Ill reinstall new version cSploit 1.5.4. Core update Ok. Ruby dosn't update. This is only my problem?

[2015-09-21 12:38] sorano commented on #257
@asbtlt

Ruby updated fine on my pad, so I fear it's only your issue.

I would try to fully uninstall the old cSploit then reinstall the latest release.

[2015-09-21 12:41] asbtlt commented on #257
So, ill make full uninstall old version and can't update ruby now

[2015-09-21 12:45] sorano commented on #257
And you have supersu(along with granted permissions to cSploit?) and busybox installed? Have the older versions worked for you?

In that case logs are needed in order to troubleshoot the issue:

Dtart with installing catlog: https://play.google.com/store/apps/details?id=com.nolanlawson.logcat&hl=sv

Then read this:
http://forum.xda-developers.com/showthread.php?t=1726238

That should give a starti

[2015-09-21 12:49] #255 closed

[2015-09-21 13:08] asbtlt commented on #257
Thank for you help! @sorano ii know that ill do wrong. My BustyBox was installedin /system/xbin i reinstall it to/system/bin and all was to work!

[2015-09-21 13:08] #257 closed

[2015-09-21 13:27] tux-mind commented on #256
@ddych please provide a logcat as I cannot reproduce the issue on my device.

thanks for the report :)

[2015-09-21 13:30] tux-mind commented on #254
@gainan the following is the message we used to respond to users when an incomplete issue were posted.
probably I have to put this into the official website.

How to Open an Issue
---

If you find a bug, weird behaviour, missing translation, a feature not working or anything strange in the application you are encouraged to open an issue on the appropriate github page.
For your issue to be consider

[2015-09-21 15:59] tux-mind commented on #253
@sorano you're absolutely right.

@Tajnymag thanks for the log.

I suspect that you do not receive the notification about the msfrpcd started, in fact you received it just a moment before it has been shut down ( because you closed the app or start/stopping it from the menu )

have to investigate better...

thanks for the report.

[2015-09-21 16:01] tux-mind commented on #252
that is a dummy error, after ruby has been installed it try to start the msf even if it is not installed and the `cannot start process` error come up.

fixing.

[2015-09-21 16:05] Tajnymag commented on #253
@tux-mind That's true. I don't get any notification about msfrpcd started. Also this is the reason, why I manually tried restarting Metasploit while recording the log. I tried running the app for some time without my interaction, but msfrpcd didn't start even after 10 minutes.

[2015-09-21 16:05] #252 closed

[2015-09-21 16:10] #156 closed

[2015-09-21 17:23] maddog9696 opened #258 "Dark Theme text issue"
Not a major issue, however I thought I'd share it. Idk maybe it's supposed to be like that!

When you choose dark theme, all of the descriptions of the tools are hidden because they're the same color as background.
![screenshot_2015-09-21-13-19-35](https://cloud.githubusercontent.com/assets/14237628/9999355/f5d265d6-6063-11e5-93d1-6454a5de80ad.png)

[2015-09-21 17:54] MuradTroll commented on #258
When I use dark theme, and I try to click on a host, my CSploit crashes.

That means that I am not even able to get to your screen "Select a Module to run"...

[2015-09-21 18:02] MuradTroll commented on #253
I have a problem when trying to open the tab Exploit scan. I can open it and it shows me some of the exploits, but When I press "Options", I get a blank screen and nothing really happens. Also when I press "Payloads" I usually get nothing in the dropdown menu.

[2015-09-21 18:34] tux-mind commented on #253
please wait, I've already found the problem and I'm fixing it.

[2015-09-21 18:39] MuradTroll commented on #253
Ok :) @tux-mind I have a question. Since my insternal app memory is REALY low, I had to move the msf and ruby folder fron /data/data/csploit.blah.blah/ to my external sd card. Now, is he problem related to msf or ruby? Or is that an core or app problem. Do you know a way how I can extend the app memory? Like I have 4 Gb internal memory but only 700mb for Apps?!??!?!? and the holf of this takes goo

[2015-09-21 18:40] fat-tire commented on #258
That's my screw up.  When I [ported to material design](https://github.com/cSploit/android/commit/9eb34156d93543c60b62c3c420551ec717a1513e) the dark theme was screwed up, and I didn't go back and fix it (lower priority, but noted in the comments).  This is something a non-programmer could address if they want to get their feet wet and contribute back to the project.

Basically, take a look at the

[2015-09-21 18:49] Tajnymag commented on #258
I can take a look at this tommorow, eventually on Wednesday. If you have no time, just tell me :-)

[2015-09-21 19:18] tux-mind commented on #253
should be fixed, but I cannot test it. I have to wait that #244 get fixed.

[2015-09-21 19:31] hipopcorn commented on #253
thaaanks @tux-mind i am just waiting for this fix to donate to you!!!

[2015-09-21 19:34] hipopcorn opened #259 "page or something to the community or tux-mind to make tutorials"
we need 2 things: tutorials to know how to use the tools( it will be less issues)
and with peoples making videos, the issues will be reported as videos, than we will see better what is the problem.
@tux-mind  for a while, i think it would be better if you can give us a link of somewhere to post videos like tutorials or issues, or a page at your site, i dont know, but something like this will be aw

[2015-09-21 19:50] tux-mind commented on #253
@MuradTroll i worked a lot to allow cSploit to work with an external
installation of the MSF and ruby. It should not be a problem.

For downloading stuff just give a look to the releases pages of the MSF and
ruby project, there you will find the stuff to put on your sdcard for local
update. After a manual installation cSploit will keep ask you about
upgrading MSF and ruby, because he do not known

[2015-09-21 23:10] Phurkus commented on #254
I just uploaded what i believe is the log cat you guys mentioned.
wasent 100% if its what your talking about, i found a page on XDA talking about how to post it.
heres the catlog link on pastebin  http://pastebin.com/SPXKkmi1

Device model is Verizon LG G4 VS986
ROM   is 5.1 lollipop
dsploit version 1.5.4

issue: i try downloading ruby and it does download, but they after the download finishes, i

[2015-09-22 05:07] Tajnymag commented on #259
Please, use the Reddit page. It would clear the github issues.

[2015-09-22 05:31] lordpacco opened #261 "dark theme glitched on android 4.4"
I'm using android kitkat on the device lg v400 and the dark theme is glitched (some elements are black and others white)
i already tried cleaning and reinstalling the app but it didnt solve the problem
![Uploading Screenshot_2015-09-22-02-27-15.png…]

[2015-09-22 05:56] Tajnymag commented on #261
This is a duplicate. Original issue: [#258] (https://github.com/cSploit/android/issues/258)

[2015-09-22 09:28] gainan commented on #229
new idea:
- allow to use the port scanner and service inspector modules when selecting the whole network as target.

[2015-09-22 14:27] tux-mind commented on #253
the problem was composed by 2 issues:

  1. `msfrpcd` uses a buffered output, which will leave us waiting forever for the "I'm ready" string.
  2. `msfrpcd` is ready about after 2,5 minutes after the "I'm ready" string...

the first problem has been fixed in cSploit/android.MSF@852f6a6fb0054e428ef02da503003383959c56f1

and I'm working on fixing the second.

[2015-09-22 15:19] orangeisnon commented on #214
It's 404'ing again.

[2015-09-22 15:30] xaitax commented on #214
As the current source doesn't build anymore. :/

[2015-09-22 15:32] orangeisnon commented on #214
Oh. Well I guess I'm sticking with release until I feel like installing Android Studio again.

[2015-09-22 15:58] gainan commented on #239
merged on #244

[2015-09-22 15:58] #239 closed

[2015-09-22 16:58] xaitax commented on #214
It is up & running again with the latest commits from the develop branch. :)

[2015-09-22 17:24] gustavo-iniguez-goya opened #263 "ActionBar menu does not appear on android 4.2.2"
as you can see, the menu of the right side is missing on Android 4.2.2 (and probably >= 4.0 && <= 4.2.2)
![device-2015-09-22-185519](https://cloud.githubusercontent.com/assets/2742953/10025930/1efd3a8e-615f-11e5-859f-d64fc5ad463f.png)

On android 4.4.4 works fine

![screenshot1](https://cloud.githubusercontent.com/assets/2742953/10025968/619cfcd0-615f-11e5-97ec-d67dc6ba7282.png)

[2015-09-22 18:38] MuradTroll commented on #253
@tux-mind ok thx but do you think just downloading it and putting it on my sd will solve? Right now I have it on sd but I moved the content from data/data after the installation complete.

I mean will this method (manually) install ruby msf gems too?

[2015-09-22 18:54] madmarcs commented on #253
So, today nigthly build will work correct?

[2015-09-22 23:03] fat-tire opened #265 "Crasher: RuntimeException: Can't create handler inside thread that has not called Looper.prepare()"
I'm just posting this here for future reference.  Will look at it later unless someone beats me to it.

[code]

[2015-09-23 05:17] uranium-waffles commented on #253
@madmarcs yeah the nightly build works but for me it crashes whenever i click sessions and exploits are found a lot slower than when msfrpc is not connected

[2015-09-23 05:30] DeveloppSoft commented on #214
White screen
Le 22 sept. 2015 18:58, "xaitax" <notifications@github.com> a écrit :

[2015-09-23 05:33] DeveloppSoft commented on #263
Use your physical menu button.
Le 22 sept. 2015 19:25, "ga" <notifications@github.com> a écrit :

[2015-09-23 05:58] xaitax commented on #214
Its working for me ...
http://rootbitch.cc/csploit/cSploit-nightly.apk

[2015-09-23 08:33] Tajnymag commented on #214
Do the exploits work for you?

[2015-09-23 10:03] gainan commented on #263
yeah, it's a minor problem for me, but it should work as in android 4.4.4.

[2015-09-23 15:01] akremche opened #268 "RPC MSF Not connected on Galaxy S4 i9505"
RPC MSF Not connected on Galaxy S4 i9505

[2015-09-23 15:43] PoToNN opened #269 "Cannot update core, nor ruby and msf."
Version 1.5.4
Samsung galaxy s3
Stock rom 4.3 rooted.
Have Busybox pro and SuperSu. Both up to date.
Here is the logcat:
http://pastebin.com/cUcqxTF4
Ps:This logcat has only the core install error. Not the ruby and msf.

After installation csploit downloades core 1.0.5 but can not be installed after extraction. It says cannot find a core for this device and cannot start process. I see a notificati

[2015-09-23 16:29] Rubenoo commented on #269
Tip: try gist.github.com

[2015-09-23 16:38] Rubenoo commented on #268
I know we are all eager to get csploit running but these "it doesnt work for me either" does not really help to move the project forward, as with any development, logs or something that points towards the problem is needed to find the issue.

Like someone said, there should be a howto on filing bug report's.

At least start with installing catlog: https://play.google.com/store/apps/details?id=com.

[2015-09-23 20:03] #265 closed

[2015-09-24 08:31] tux-mind commented on #253
@MuradTroll please read carefully before posting.

@uranium-waffles searches are always performed online, querying rapid7 and exploitdb, msf connection status should not change search duration.
please report if you see that I'm wrong, I'll make some test.

[2015-09-24 11:40] sorano commented on #219
Duplicate of #205

[2015-09-24 11:40] #219 closed

[2015-09-24 11:42] sorano commented on #217
Duplicate of #205

[2015-09-24 11:42] #217 closed

[2015-09-24 11:42] sorano commented on #210
Duplicate of #205

[2015-09-24 11:42] #210 closed

[2015-09-24 11:44] sorano commented on #193
Old issue without any logs.
Try newer version then re-open and attach logs if you have further problems.

[2015-09-24 11:44] #193 closed

[2015-09-24 11:44] sorano commented on #235
Duplicate of #205

[2015-09-24 11:44] #235 closed

[2015-09-24 11:44] sorano commented on #234
Duplicate of #205

[2015-09-24 11:44] #234 closed

[2015-09-24 11:44] sorano commented on #227
Duplicate of #205

[2015-09-24 11:44] #227 closed

[2015-09-24 11:45] sorano commented on #225
Duplicate of #205

[2015-09-24 11:45] #225 closed

[2015-09-24 11:45] sorano commented on #222
Duplicate of #205

[2015-09-24 11:45] #222 closed

[2015-09-24 11:45] sorano commented on #218
Duplicate of #205

[2015-09-24 11:45] #218 closed

[2015-09-24 11:46] sorano commented on #216
Duplicate of #205

[2015-09-24 11:46] #216 closed

[2015-09-24 11:46] sorano commented on #161
Duplicate of #205

[2015-09-24 11:46] #161 closed

[2015-09-24 11:46] sorano commented on #160
Duplicate of #205

[2015-09-24 11:46] #160 closed

[2015-09-24 11:46] sorano commented on #159
Duplicate of #205

[2015-09-24 11:46] #159 closed

[2015-09-24 11:46] sorano commented on #158
Duplicate of #205

[2015-09-24 11:46] #158 closed

[2015-09-24 11:47] sorano commented on #157
Duplicate of #205

[2015-09-24 11:47] #157 closed

[2015-09-24 11:47] sorano commented on #155
Duplicate of #205

[2015-09-24 11:47] #155 closed

[2015-09-24 11:47] sorano commented on #153
Duplicate of #205

[2015-09-24 11:47] #153 closed

[2015-09-24 11:47] sorano commented on #152
Duplicate of #205

[2015-09-24 11:47] #152 closed

[2015-09-24 11:47] sorano commented on #149
Duplicate of #205

[2015-09-24 11:47] #149 closed

[2015-09-24 11:47] sorano commented on #148
Duplicate of #205

[2015-09-24 11:47] #148 closed

[2015-09-24 11:48] sorano commented on #147
Duplicate of #205

[2015-09-24 11:48] #147 closed

[2015-09-24 11:48] sorano commented on #144
Duplicate of #205

[2015-09-24 11:48] #144 closed

[2015-09-24 11:48] sorano commented on #142
Duplicate of #205

[2015-09-24 11:48] #142 closed

[2015-09-24 11:48] sorano commented on #141
Eicar is a test file for testing anti virus signatures. Im closing this.

[2015-09-24 11:48] #141 closed

[2015-09-24 11:49] sorano commented on #139
Duplicate of #205

[2015-09-24 11:49] #139 closed

[2015-09-24 11:49] sorano commented on #140
Duplicate of #205

[2015-09-24 11:49] #140 closed

[2015-09-24 11:50] sorano commented on #224
Duplicate of #205

[2015-09-24 11:50] #224 closed

[2015-09-24 11:52] sorano commented on #209
Check that you have installed busybox in correct path and that your supersu is updated.
I'm closing this.

[2015-09-24 11:52] #209 closed

[2015-09-24 11:52] sorano commented on #192
Older issue without any logs.
Try newer version then re-open and attach logs if you have further problems.

[2015-09-24 11:52] #192 closed

[2015-09-24 11:52] sorano commented on #191
Duplicate of #205

[2015-09-24 11:52] #191 closed

[2015-09-24 11:53] sorano commented on #184
Duplicate of #205

[2015-09-24 11:53] #184 closed

[2015-09-24 11:54] sorano commented on #179
Older issue without any logs.
Try newer version with busybox installed in correct path and supersu. Then re-open and attach logs if you have further problems.

[2015-09-24 11:54] #179 closed

[2015-09-24 11:55] sorano commented on #173
Duplicate of #205
Try the latest version.

[2015-09-24 11:55] #173 closed

[2015-09-24 11:56] sorano commented on #172
Older issue without any logs.
Try newer version with busybox installed in correct path and supersu. Then re-open and attach logs if you have further problems.

[2015-09-24 11:56] #172 closed

[2015-09-24 11:56] sorano commented on #171
Duplicate of #205
Try the latest version.

[2015-09-24 11:56] #171 closed

[2015-09-24 11:56] sorano commented on #170
Duplicate of #205
Try the latest version.

[2015-09-24 11:56] #170 closed

[2015-09-24 11:56] sorano commented on #169
Duplicate of #205
Try the latest version.

[2015-09-24 11:56] #169 closed

[2015-09-24 11:56] sorano commented on #167
Duplicate of #205
Try the latest version.

[2015-09-24 11:56] #167 closed

[2015-09-24 11:56] sorano commented on #165
Duplicate of #205
Try the latest version.

[2015-09-24 11:56] #165 closed

[2015-09-24 11:57] sorano commented on #164
Duplicate of #205
Try the latest version.

[2015-09-24 11:57] #164 closed

[2015-09-24 11:57] sorano commented on #163
Duplicate of #205
Try the latest version.

[2015-09-24 11:57] #163 closed

[2015-09-24 11:57] sorano commented on #198
Duplicate of #205
Try the latest version.

[2015-09-24 11:57] #198 closed

[2015-09-24 11:58] sorano commented on #183
Duplicate of #205
Try the latest version.

[2015-09-24 11:58] #183 closed

[2015-09-24 11:58] sorano commented on #182
Duplicate of #205
Try the latest version.

[2015-09-24 11:58] #182 closed

[2015-09-24 11:59] sorano commented on #178
Duplicate of #205
Try the latest version.

[2015-09-24 11:59] #178 closed

[2015-09-24 12:01] sorano commented on #130
Duplicate of #205
Try the latest version.

[2015-09-24 12:01] #130 closed

[2015-09-24 12:01] sorano commented on #121
Duplicate of #205
Try the latest version.

[2015-09-24 12:01] #121 closed

[2015-09-24 12:02] sorano commented on #95
Duplicate of #205
Try the latest version.

[2015-09-24 12:02] #95 closed

[2015-09-24 12:02] sorano commented on #96
Duplicate of #205
Try the latest version.

[2015-09-24 12:02] #96 closed

[2015-09-24 12:04] sorano commented on #91
@Check-mate
cSploit development have been resumed recently.
Please drop by #csploit at irc.freenode.net if you want to discuss and help with development.

[2015-09-24 12:04] #91 closed

[2015-09-24 12:05] sorano commented on #76
Duplicate of #205
Try the latest version.

[2015-09-24 12:05] #76 closed

[2015-09-24 12:05] sorano commented on #74
Duplicate of #205
Try the latest version.

[2015-09-24 12:05] #74 closed

[2015-09-24 12:07] sorano commented on #73
cSploit development is alive again.
Drop by #csploit at irc.freenode.net if you want to discuss further.

[2015-09-24 12:07] #73 closed

[2015-09-24 12:08] sorano commented on #65
Duplicate of #205
Try the latest version.

[2015-09-24 12:08] #65 closed

[2015-09-24 12:11] tux-mind commented on #269
@PoToNN looks like a daemon error.

can you please share `/data/data/org.csploit.android/files/cSploitd.log` ?
thanks for the report :blush:

[2015-09-24 12:13] sorano commented on #63
This has been commited already.
Nowadays you get "Press back again to close" then a prompt "This will close cSploit, are you sure?"
Im closing this.

[2015-09-24 12:13] #63 closed

[2015-09-24 12:15] sorano commented on #195
Duplicate of #205
Try the latest version.

[2015-09-24 12:15] #195 closed

[2015-09-24 12:16] sorano commented on #146
Duplicate of #205
Try the latest version.

[2015-09-24 12:16] #146 closed

[2015-09-24 12:17] tux-mind commented on #269
it looks like it's a #1 related issue.
please share `/data/data/org.csploit.android/files/start_daemon.log`

[2015-09-24 12:21] sorano commented on #61
Older issue.
Try newer version with busybox installed in correct path and supersu. Then re-open and attach logs if you have further problems.

[2015-09-24 12:21] #61 closed

[2015-09-24 12:26] sorano commented on #59
Older ticket. Since users are confirming the issue is solved I'm closing this.

[2015-09-24 12:26] #59 closed

[2015-09-24 12:37] #268 closed

[2015-09-24 12:39] tux-mind commented on #263
maybe [this](http://stackoverflow.com/questions/18407362/action-bar-not-showing-in-4-2-2) can help us

[2015-09-24 12:43] sorano commented on #211
Try newer version with busybox installed in correct path and supersu.
Then re-open and attach logs if you have further problems.

[2015-09-24 12:43] #211 closed

[2015-09-24 12:50] tux-mind commented on #253
@Tajnymag no it is not working yet, we are still working on fixing bugs.

[2015-09-24 12:52] tux-mind commented on #214
Build server up :blush:
thanks @xaitax :heart:

[2015-09-24 12:52] #214 closed

[2015-09-24 12:53] sorano commented on #254
@Phurkus do you have supersu installed and granting csploit su rights?

Which path is your busybox installed under?

[2015-09-24 12:56] sorano commented on #249
Like @Tajnymag said, it can pretty much attack anything it reaches, it's not limited to a certain type of device.
I'm closing this issue.

[2015-09-24 12:56] #249 closed

[2015-09-24 12:59] sorano commented on #232
@setlec make sure you have supersu and busybox installed then you should not encounter the heart attack error. Seems like it is connected to kingoroot.

[2015-09-24 12:59] #232 closed

[2015-09-24 13:02] tux-mind commented on #261
duplicate of #258

thanks @Tajnymag

[2015-09-24 13:02] #261 closed

[2015-09-24 13:05] sorano commented on #24
Lots of mixed problem in this issue.
I would recommend everyone with further problems to try out a newer version, then open a new issue with and paste new logs.
And for those with heart attack issues, use supersu and busybox, not kingoroot or whatever.

I'm closing this issue.

[2015-09-24 13:05] #24 closed

[2015-09-24 13:06] sorano commented on #40
Closing this older issue, no feedback from OP.

[2015-09-24 13:06] #40 closed

[2015-09-24 13:09] tux-mind commented on #259
@hipopcorn we are working on producing some docs int the wiki of the repo.

for issues the best thing is posting a brief description of the problem and a logcat.
videos does not tell us why something goes wrong, only show us the error as you see it.

if you want to make some video on how to use cSploit I'll be glad to use it in our tutorials.

thanks anyway for the suggestion :wink:

[2015-09-24 13:09] #259 closed

[2015-09-24 13:09] sorano commented on #46
Incompatibility with xposed framework.
Closing this older issue.

[2015-09-24 13:09] #46 closed

[2015-09-24 13:10] sorano commented on #229
Suggestion from @Avamander #69

[2015-09-24 13:11] sorano commented on #69
Moved this to #229

[2015-09-24 13:11] #69 closed

[2015-09-24 13:12] #251 closed

[2015-09-24 13:15] sorano commented on #230
Duplicate of #205
Try the latest version. Ruby should be fixed.

@Cursewords
tux_mind has recently started developing again.
Consider donating to keep the motivation up and help further development: http://www.csploit.org/donate.html

[2015-09-24 13:15] #230 closed

[2015-09-24 13:17] mcilya commented on #269
Have ruby and msf part of this problem.
start_daemon.log & csploitd.log: http://pastebin.com/u1Xci2n7

[2015-09-24 13:18] sorano commented on #229
Suggestion from @cycroja #212

Please let the app work without Wlan (This will be possible when #245 gets merged)

And maybe the MITM hitspot tethering option without internet.

[2015-09-24 13:19] sorano commented on #212
Moved to #229
Closing.

[2015-09-24 13:19] #212 closed

[2015-09-24 13:20] sorano commented on #229
Suggestion from @doringr #207

will csploit have the new sslstrip+ or sslstrip2 in a near future?

[2015-09-24 13:21] sorano commented on #207
Moved to #229

[2015-09-24 13:21] #207 closed

[2015-09-24 13:22] sorano commented on #229
Suggestion from @uranium-waffles #185

On session stealing as soon as you fix the msf issue sometime soon I tried the stealer on my own amazon but it still asked for my password you should add the user name and password right next to the session kind of like zanti

[2015-09-24 13:22] sorano commented on #185
Moved to #229

[2015-09-24 13:22] #185 closed

[2015-09-24 13:23] sorano commented on #162
Duplicate of #205
Try the latest version.

[2015-09-24 13:23] #162 closed

[2015-09-24 13:28] sorano commented on #151
This issue still persists in 1.5.4.

However, depending on the size of your target network it's not always good to MITM the gateway, if there is lots of traffic your device usually cannot handle it and you will just end up DOS'ing the network.

[2015-09-24 13:31] sorano commented on #137
Follow #253 for further updates.

[2015-09-24 13:31] #137 closed

[2015-09-24 13:33] sorano commented on #136
Closing this old issue.
MSF was solved in #205

[2015-09-24 13:33] #136 closed

[2015-09-24 13:34] sorano commented on #135
Follow this for further development #253

[2015-09-24 13:34] #135 closed

[2015-09-24 13:34] tux-mind commented on #269
Hi @mcilya , I think that your issue differs from @PoToNN one.

your core starts successfully, the @PoToNN one does not.

however to debug your problem post a logcat also :heart:

[2015-09-24 13:35] tux-mind commented on #151
@DNBkid it happens also to Sessions.

probably relater to UI changed made by @fat-tire recently.

[2015-09-24 13:37] sorano commented on #52
If we stick to the original issue, external interfaces will be supported when #245 gets merged.

[2015-09-24 13:37] #52 closed

[2015-09-24 13:38] sorano commented on #49
User have not returned with any feedback, closing this issue.

[2015-09-24 13:38] #49 closed

[2015-09-24 13:38] sorano commented on #47
This should be resolved in 1.5.4.
Closing.

[2015-09-24 13:38] #47 closed

[2015-09-24 13:38] #203 closed

[2015-09-24 13:42] gainan commented on #151
I' ve seen this problem, and AFAIK, if when this happen you go back to the hosts list, select a target (the subnet in this case) and click on the MITM module again it works.

Try it out and let us know if this "workaround" works also for you.

[2015-09-24 13:43] mcilya commented on #269
A catlog with attempt to install core, but failed: http://pastebin.com/5bLyVfkz

[2015-09-24 13:45] sorano commented on #122
This issue is still existing in 1.5.4.

Reproduce:
Settings --> RPC port --> Change the default to port of your choice, then press OK.

Tap RPC port again, to verify your new port is correct. It is now replaced with port 8080.

[2015-09-24 13:48] sorano commented on #168
Maybe the path for your busybox is wrong? Try change install path and then try newer version of csploit.

Without any logs it is impossible to help sorry. Im closing this issue for now.
Feel free to reopen once you've tried the above and don't forget to attach logfiles.

[2015-09-24 13:48] #168 closed

[2015-09-24 13:53] sorano commented on #229
I'll drop this in here even if it not high prio.

Suggestion from @BoBeR182 #112
Will this project be looking to be distributed by f-droid?

[2015-09-24 13:53] sorano commented on #112
Moved to #229

[2015-09-24 13:55] sorano commented on #150
Old issue without any logs, feel free to try out 1.5.4 and return with logfiles if you encounter problems.

[2015-09-24 13:55] #150 closed

[2015-09-24 14:04] tux-mind commented on #220
oh guys... what a shining stone you found...
I cannot believe that this project were around when I started working on the native part of dSploit.
I wasted entire weeks ... thank you so much for this suggestion, I'll switch to use botbrew as we close some high-priority issues.

thank you @MuradTroll or this precious suggestion.

[2015-09-24 14:26] fenixdoido opened #275 "Failed to install MSF"
Cant install it. Download starts, then it says extracting and an error popup saying an error occurred when trying to download MSF.

Galaxy S4 Mini (serranolte)
Android 5.1.1 (Carbon ROM)
Busybox: v1.23.2 (@ system/xbin/)
SuperSU: 2.46
Csploit 1.5.4 (Nightly)

Catlog: http://pastebin.com/

Thats all you need?

[2015-09-24 14:28] Rubenoo commented on #275
Well we need a logcat and not a blank pastebin.com :P
You need te get that link back or upload it again.
But thanks for sharing

[2015-09-24 14:31] fenixdoido commented on #275
Sorry lol
Anyway: http://pastebin.com/LMybysTz

[2015-09-24 14:31] sorano commented on #151
@gainan
Testing this further on "network/netmask" This is your network subnet mask". MITM is the only module to run.

But on the (Your network gateway / router) there is the usual modules (incl MITM) but nothing happens if you tap MITM here.

However I guess the outcome would be the same. Maybe it would best to remove MITM from the gateway host and just keep it on the network?

[2015-09-24 14:35] sorano commented on #104
Like you wrote we can already use Nethunter for this.

Feel free to add any additional ideas you have to #229

[2015-09-24 14:35] #104 closed

[2015-09-24 14:38] sorano commented on #32
Users have not returned with logs for months.
Closing this.

[2015-09-24 14:38] #32 closed

[2015-09-24 14:39] tux-mind commented on #269
You're right, same stuff.
Will fix it ASAP.

[2015-09-24 14:40] sorano commented on #138
Duplicate of #253

[2015-09-24 14:40] #138 closed

[2015-09-24 14:50] sorano commented on #134
Closing this older issue.

[2015-09-24 14:50] #134 closed

[2015-09-24 14:51] sorano commented on #89
Duplicate of #122

[2015-09-24 14:51] #89 closed

[2015-09-24 14:54] sorano commented on #145
Duplicate of #205
Try the latest version.

[2015-09-24 14:54] #145 closed

[2015-09-24 15:16] sorano commented on #70
IMO changelog history for older releases on github is enough.

If tux_mind disagrees he can re-open and assign this ticket :)

[2015-09-24 15:16] #70 closed

[2015-09-24 15:16] tux-mind commented on #112
yes, it would be great to see cSploit on F-droid.
leaving it as a TODO note.

[2015-09-24 15:16] sorano commented on #229
Suggestion from @Avamander
#67
Inform that host is disconnected when launching modules. (e.g. on "gray" hosts) or when running a module and the host disconnects mid-run.

#68
Could you please improve the error messages? Just saying "An error occured does not help" also, it should auto report the error and known error should be numbered.

[2015-09-24 15:16] sorano commented on #67
moved this to #229

[2015-09-24 15:16] #67 closed

[2015-09-24 15:17] sorano commented on #68
moved this to #229

[2015-09-24 15:17] #68 closed

[2015-09-24 15:18] sorano commented on #98
Duplicate of #205
Try the latest version.

[2015-09-24 15:18] #98 closed

[2015-09-24 15:23] tux-mind commented on #151
Pulgins have a filter that select which target are allowed to use them, this is why you see the RouterPwn on your router and not on targets.

I agree with @sorano about deactivating MITM plugin for the gateway, but I want to understand why it does not work now.

@gainan MITM works on subnets and targets but not on the gateway, I want to known why....

[2015-09-24 15:33] sorano commented on #194
like @DeveloppSoft said.

cSploit is not a ROM so we can not use what you suggest

[2015-09-24 15:33] #194 closed

[2015-09-24 15:34] sorano commented on #175
Duplicate of #108

[2015-09-24 15:34] #175 closed

[2015-09-24 16:19] #122 closed

[2015-09-24 16:44] tux-mind commented on #275
@fenixdoido does it happens always ?
I really do not understand ... `which bundle` returns `1` but `gem install bundle` is not launched...

[2015-09-24 16:54] tux-mind commented on #236
Hi @gainan thanks for finding another bug :blush:

how did you compiled hydra ? using `cSploit/jni/build.sh` ?

thanks in advance :blush:

[2015-09-24 17:05] DeveloppSoft commented on #275
Yes
Le 24 sept. 2015 18:44, "tux-mind" <notifications@github.com> a écrit :

[2015-09-24 17:06] tux-mind commented on #221
probably selinux related....

[2015-09-24 17:07] DeveloppSoft commented on #275
Here is the debug file:
org.csploit.android.core.ChildManager$ChildNotStartedException: cannot
start commands
at org.csploit.android.core.ChildManager.async(ChildManager.java:89)
at org.csploit.android.tools.Tool.async(Tool.java:59)
at org.csploit.android.tools.Tool.run(Tool.java:33)
at org.csploit.android.tools.Raw.run(Raw.java:51)
at org.csploit.android.tools.Raw.run(Raw.java:56)
at
org.csploit.

[2015-09-24 17:08] tux-mind commented on #275
@DeveloppSoft do you known how to build cSploit from sources, right ?

[2015-09-24 17:13] tux-mind commented on #275
gotcha.. race condition :grin:
fixing...

[2015-09-24 17:21] tux-mind commented on #97
ruboto uses JRuby, it will slow down everything.
btw thanks for the suggestion @Tajnymag , even if we were talking about the msf management system.

[2015-09-24 17:21] tux-mind commented on #97
MSF repo choosen as solution

[2015-09-24 17:21] #97 closed

[2015-09-24 17:24] tux-mind commented on #43
should be fixed with latest versions. some little bugs still around but thanks to some great new collaborator I'm fixing them all.

[2015-09-24 17:25] fenixdoido commented on #275
Always the same thing.

New catlog: http://pastebin.com/9uLrLd2v

[2015-09-24 17:27] tux-mind commented on #275
@fenixdoido i doubt that you compile the latest version in only 21 secs...
the fix is on the develop branch, you have to wait that the nightly will be build in the next hour.

thanks for testing :blush:

[2015-09-24 17:32] fenixdoido commented on #275
Sorry can't build it right now 'cause I'm not at home.

[2015-09-24 17:38] xaitax commented on #275
Just built the nightly manually. Feel free to test.

Btw.:
[code]

[2015-09-24 17:42] tux-mind commented on #177
thanks for all you compliments guys, I'm not such special btw.

as @Systemad spot there is already a donate button.
last purchase were the `csploit.org` domain for 3 years ( about 50 $, all from donations ).

personally I'd like to purchase a pair of wifi adapters to play with cSploit and wifi cracking.

currently I'm using a notebook that a kindness guy purchased me for working on cSploit.
it's a

[2015-09-24 17:49] tux-mind commented on #275
@xaitax OMG, I absolutely do not want to use many system resources on your server!

can you share/send me the last build log ?
I wanna see if the native libraries must be recompiled every time.

thanks :heart:

[2015-09-24 17:50] tux-mind commented on #275
@fenixdoido download latest nightly [here](http://rootbitch.cc/csploit/cSploit-nightly.apk)

[2015-09-24 17:53] tux-mind commented on #174
@thapr0digy sorry about that, I though that we show a warning about that ... have to check.

[2015-09-24 17:59] xaitax commented on #275
No problem @tux-mind, here you go. :)

http://rootbitch.cc/csploit/build.txt

[2015-09-24 18:02] tux-mind commented on #174
yes, there is a prompt that ask you to proceed with deletion before performing it.

[2015-09-24 18:02] #174 closed

[2015-09-24 18:02] Tajnymag commented on #275
Uhm, does the Services scan work for you, guys? After installing this nightly, MSF finally connects, but I can't scan for running exploitable services.

[2015-09-24 18:10] hipio opened #276 "Dark Theme doesn't show"
I just downloaded and installed the latest Nightly build of cSploit and it doesn't matter what I do, the dark theme does not appear. Yes, I quit the app completely after changing the setting. Yes, I have switched the switch a few times to no avail.

**EDIT**: It seems that the text parts did change to reflect the #258 issue, but the main screen is as white as a snowflake.

[2015-09-24 18:53] sorano commented on #11
rm with options should work since #174 is solved.
Closing this.

[2015-09-24 19:04] sorano commented on #102
Try out the latest version with updated supersu and busybox installed in the correct path.
Then if it is not working put the logfiles on pastebin and reopen the issue.

[2015-09-24 19:04] #102 closed

[2015-09-24 19:05] sorano commented on #93
Try out the latest version with updated supersu and busybox installed in the correct path.
Then if it is not working put the logfiles on pastebin and reopen the issue.

[2015-09-24 19:05] #93 closed

[2015-09-24 19:07] sorano commented on #94
Try out the latest version with updated supersu and busybox installed in the correct path.
Then if it is not working put the logfiles on pastebin and reopen the issue.

[2015-09-24 19:07] #94 closed

[2015-09-24 19:32] sorano commented on #108
Just tested this out and can confirm.
Still an issue in 1.5.4.

Like @Foul writes it affects hostnames written in caps only.

My HTPC shows as OPENELE (hostname OPENELEC).

[2015-09-24 19:36] sorano commented on #88
It is now possible to set MSF and Ruby directories.
Closing this.

[2015-09-24 19:36] #88 closed

[2015-09-24 19:43] sorano commented on #14
There is now a prompt that ask you to proceed with deletion before performing it.

See #174

[2015-09-24 19:43] #14 closed

[2015-09-24 19:45] gainan commented on #236
no, I just crosscompiling it using arm-linux-gnueabi*, but without libs! I compiled it to only ensure me that it was not another problem.

[2015-09-24 20:31] sorano commented on #5
Closing this almost one year old issue.
If this still is a problem I think the hardware acceleration workaround should be put in a wiki or FAQ.

[2015-09-24 20:31] #5 closed

[2015-09-24 20:33] tux-mind commented on #275
@xaitax can you test the script on [this branch](https://github.com/cSploit/android/tree/nightly-profiling) ?

also let me see it's output :)
thanks in advance :wink:

[2015-09-24 20:39] tux-mind commented on #275
ah, and `export CSPLOIT_PROFILE=1` before building

[2015-09-24 20:46] PoToNN commented on #269
Sorry, it was a really busy day :/ I guess you don't need the log anymore :D Thanks mcilya

[2015-09-24 20:50] xaitax commented on #275
Here you go:
http://rootbitch.cc/csploit/build-nightly-profiling.txt

APK is here:
http://rootbitch.cc/csploit/cSploit-nightly-profiling.apk

:+1:

[2015-09-24 20:51] tux-mind commented on #236
probably the problem is in using some of those libraries.
btw share a logcat taken after the segfault, it should contain a native stacktrace.

[2015-09-24 20:55] tux-mind commented on #275
I forget to print the redirect profile output to the logfile, sorry. fixed in last commit.
I don't need the APK btw :wink:

[2015-09-24 20:57] tux-mind commented on #11
not related to #174 @sorano
thanks anyway :blush:

[2015-09-24 20:58] tux-mind commented on #108
it's an issue with cSploitDaemon cSploitCommon, not java, still in progress.

[2015-09-24 21:00] tux-mind commented on #276
@hipio try to terminate cSploit from `Settings > Applications > cSploit`.
thanks for the report :blush:

[2015-09-24 21:01] tux-mind commented on #110
@scatteril we are working on the build server, please hang on :grin:

[2015-09-24 21:02] xaitax commented on #275
Refresh the link. :)

[2015-09-24 21:05] tux-mind commented on #275
@xaitax it should took much less, is that right ?
can you prepend the time command as you did before ?

[2015-09-24 21:06] tux-mind commented on #275
maybe run `touch cSploit/src/org/csploit/android/MainActivity.java` just before :wink:

[2015-09-24 21:07] tux-mind commented on #120
duplicate of #253

[2015-09-24 21:12] tux-mind commented on #37
@smarek can you explain what part of our build system we should change ?
I want to give a try to botbrew.com , i think to use it to build the assets packages that cSploit downlaod.

[2015-09-24 21:13] tux-mind commented on #127
Yes, we can perform some filtering on the found exploit.

[2015-09-24 21:15] tux-mind commented on #125
results are shown in single targets, which kind of dialog you want to see from a multiple attack ?

[2015-09-24 21:15] Jhyrachy commented on #221
So i have to set se-linux to permissive?

[2015-09-24 21:16] tux-mind commented on #221
give it a try and let me known

[2015-09-24 21:17] tux-mind commented on #60
Vulnerability finder has been merged with the Exploit Finder.

[2015-09-24 21:17] #60 closed

[2015-09-24 21:19] Jhyrachy commented on #221
Sure, i'll do it now!

[2015-09-24 21:20] tux-mind commented on #87
just press home instead of back :wink:

  - pressing back twice will **close** cSploit
  - pressing home will leave it in the background

feel free to reopen the issue if you think that I'm wrong.
thanks for the report anyway :blush:

[2015-09-24 21:20] #87 closed

[2015-09-24 21:20] hipio commented on #276
Like I said, I quit the app completely. Force quit, not in cache, gone.

2015-09-24 23:00 GMT+02:00 tux-mind <notifications@github.com>:

[2015-09-24 21:22] tux-mind commented on #276
oooook... so you open the app and ? see only a white screen ?

I think that I've already found the problem but it require some work to fix it :stuck_out_tongue_closed_eyes:

[2015-09-24 21:24] hipio commented on #276
@tux-mind Well, I find the standard white theme, yes. But when I press on an IP to do something, I see everything like  #258.

[2015-09-24 21:26] tux-mind commented on #276
I do not understand, sorry.
can you post a screenshot of the first screen you see ?

thanks for you patience :blush:

[2015-09-24 21:28] tux-mind commented on #72
in the `Inspector` You have a `focused scan` option.
that option will run the inspector only on the found opened ports.

this feature is there from about 2 years :sweat_smile:

[2015-09-24 21:28] #72 closed

[2015-09-24 21:29] unixasaurusrex commented on #37
Wouldn't the downloading of ruby and MSF break
the software should not download additional executable binary files (e.g. non-free addons, auto-updates, etc) ?

[2015-09-24 21:32] tux-mind commented on #37
as you can see from above we just need to integrate ruby and MSF into a CI server.
once this is done our downloaded stuff can be verified and checked :+1:

[2015-09-24 21:42] hipio commented on #276
Here you go. This should be dark, but it isn't.
![screenshot_2015-09-24-23-40-29](https://cloud.githubusercontent.com/assets/3717518/10087712/eed8cacc-6315-11e5-842b-8290c39fbb03.png)

[2015-09-24 21:45] tux-mind commented on #276
woooop.... that's strange... @fat-tire any clue ?

I suggest to retry when #258 will be fixed, probably this is related.

[2015-09-24 21:52] tux-mind commented on #269
hey guys, can you share `/data/data/org.csploit.android/files/cSploitd.log` ?
thanks in advance.

[2015-09-24 22:17] PoToNN commented on #269
https://www.dropbox.com/s/6ry85pqgf207070/cSploitd?dl=0

[2015-09-24 22:22] tux-mind commented on #269
@PoToNN the log, not the daemon ( `cSploitd.log` )

don't worry, everyone make mistakes ( except chuck norris :laughing: )

[2015-09-24 22:58] tux-mind commented on #253
ok, fixed on the develop branch, try the nightly apk in the next hour and let me knwon :v:

[2015-09-24 23:22] hipopcorn commented on #253
Tux, it stills the same, i cant see Any payload

[2015-09-24 23:22] hipopcorn commented on #253
Sorry!! It was about 20 min!!! Okay i will teste and tell you

[2015-09-25 00:04] smarek commented on #37
Well, it will be marked up that you're downloading pre-compiled binaries after application will install, so the only concern is for F-Droid team, to be able to reproduce compilation of anything, that should be signed by them.
So keep it simple, stupid, don't use any statically provided JAR libraries/dependencies and I've checked again, it seems like simply running `./gradlew assembleRelease` will

[2015-09-25 00:07] mvdan commented on #37
I've been out of the loop on all of this for a while - exactly what are you asking of me to confirm?

[2015-09-25 00:08] smarek commented on #37
@mvdan if cSploit is currently good to go for f-droid or not :+1:

[2015-09-25 00:11] mvdan commented on #37
Yep, LGTM. Will look at adding it now.

[2015-09-25 00:15] evertking opened #278 "no core found on first start"
Installed the nightly and says no core for device.
Where do I find the files and tools the app installs?

[2015-09-25 00:17] fat-tire commented on #276
@hipio what version of Android are you using?  I haven't seen that before, but again, the Dark theme is screwy simply because no one has messed with it.  Someone could fix it just by playing with the various defaults-- I'm not really a UI person, so if anyone wants to play with that `styles.xml` file, this could be fixed pretty quickly I think.  It's one of those things where aesthetic taste will

[2015-09-25 00:20] mvdan commented on #37
I just noticed that you guys have been bumping the version name, but not the version code. This will need to change in future releases.

[2015-09-25 00:30] mvdan commented on #37
Fails to build with the latest NDK:

[code]

[code]

[2015-09-25 01:33] hipopcorn commented on #253
@tux-mind it's crashing for me too!! My log file here http://pastebin.com/vX3Wsy64

[2015-09-25 01:34] hipopcorn commented on #253
My device: moto maxx, cyanogemmod 12.1

[2015-09-25 04:36] fat-tire commented on #258
Hey check out  PR #279 and see if this fixes stuff.  It looks decent enough (I'm not a designer peoples!) on Lollipop.  I haven't checked w/other versions of Android but hopefully it'll look similar.

[2015-09-25 05:44] DeveloppSoft commented on #275
Hey @tux_mind,
Yes I know but I can not do it because I have not my own computer, so I am
using a Raspberry Pi and android phone but I am always searching on how to
use the SDK with the RPI and AIDE is not compiling on android.
Sorry
Le 24 sept. 2015 23:06, "tux-mind" <notifications@github.com> a écrit :

[2015-09-25 05:46] DeveloppSoft commented on #278
What device are you using ?
Le 25 sept. 2015 02:15, "evertking" <notifications@github.com> a écrit :

[2015-09-25 05:48] DeveloppSoft commented on #37
Hey @tux_mind,
I am taking a look at botbrew
Le 25 sept. 2015 02:30, "Daniel Martí" <notifications@github.com> a écrit :

[2015-09-25 05:53] Rubenoo commented on #278
It's a comment issue just restart csploit and it will work again

[2015-09-25 05:53] Rubenoo commented on #278
Common*

[2015-09-25 05:59] xaitax commented on #275
SUUUUUUUPER quick build time. Around 1 minute in total. :heart:
http://rootbitch.cc/csploit/build-nightly-profiling.txt

Which branch do you want me to use for nightlies? Staying with develop?

[2015-09-25 06:06] CHEF-KOCH commented on #14
Thank you.

[2015-09-25 07:56] mcilya commented on #278
@evertking Can u post a logcat?

[2015-09-25 10:09] fat-tire commented on #275
@xaitax I pulled some libraries in my catch-all pull request #279  that may make it even faster :)

[2015-09-25 10:16] madmarcs commented on #253
09-25 12:11:26.398 E/CSPLOIT[services.MsfRpcdService.connect](27601): java.net.ConnectException: failed to connect to /127.0.0.1 (port 55553): connect failed: ECONNREFUSED (Connection refused)

On last build.

[2015-09-25 10:21] fat-tire commented on #258
Dark theme was just checked in.  If it works for everyone, please close this.

![ss](https://i.imgur.com/qIilkhY.jpg)

[2015-09-25 10:46] mcilya commented on #269
csploitd.log: http://pastebin.com/AtUm1Ls3

[2015-09-25 11:13] tux-mind commented on #37
@mvdan use the [build.sh](https://github.com/cSploit/android.native/blob/master/build.sh) script.
it will make those missing scripts for you ( it just `touch $path` ).

@DeveloppSoft thanks, I think that it would be great, move botbrew conversation on #220

[2015-09-25 11:16] tux-mind commented on #278
probably a network error has occured and it couldn't connect to github.

should give a different feedback to the user.

[2015-09-25 11:19] PoToNN commented on #269
That was the only file named csploitd in that folder. I am a true noobie man :D

[2015-09-25 11:19] tux-mind commented on #275
@xaitax great! I'm happier now that cSploit uses less of your payed resources :wink:

stay with the develop branch, I'll merge these changes ASAP.

[2015-09-25 11:20] #275 closed

[2015-09-25 11:21] tux-mind commented on #253
@madmarcs that's not a real error, I have to fix logging n that part.

@hipopcorn thanks for the logcat, I'll work on it ASAP.

[2015-09-25 11:22] mcilya commented on #269
@PoToNN Don't worry sometimes file can be not created. Try start/stop app till it create :smiley:

[2015-09-25 11:39] PoToNN commented on #269
Oh I see now it is created. Thanks :) By the way, core 1.0.6 also gives the same error.

[2015-09-25 12:23] tux-mind commented on #258
fixed in develop branch, try out the nightly apk.
feel free to reopen the issue if you need.

and say thanks to @fat-tire :blush:

[2015-09-25 12:23] #258 closed

[2015-09-25 12:50] mcilya commented on #269
csploid.log & start_daemon.log + catlog:   http://pastebin.com/YVPpMLNi
P.S. Sorry if spam :blush:

[2015-09-25 12:58] mcilya opened #280 "Crash at startup with dark theme"
When you enable dark theme and restart app it will crash at startup
android 4.0.4, samsung galaxy tab 10.1
csploit nightly from 22:15 (GMT+10)
catlog: http://pastebin.com/yisJa4fp

[2015-09-25 13:09] mcilya commented on #263
It's ok for me with samsung galaxy tab 10.1, 4.0.4. http://m.imgur.com/zz37bqH

[2015-09-25 13:19] mcilya commented on #280
samsung galaxy note 2 (android 4.4.2) theme works fine

[2015-09-25 13:36] madmarcs commented on #253
Sorry I will send u the logcat ASAP.

[2015-09-25 13:41] fenixdoido commented on #275
Guys, just a quick feedback.
I downloaded your new nightly and did a clean install.
First boot it said something about "no core found for your device" then it auto killed itself.
Second boot it downloaded ruby,MSF and all went well!
Popup said "Conected to MetaSploit" and nothing more. If I try to start it from the menu, same thibg happebs

[2015-09-25 13:48] fenixdoido commented on #275
Guys, just a quick feedback.
I downloaded your new nightly and did a clean install.
First boot it said something about "no core found for your device" then it auto killed itself.
Second boot it downloaded ruby,MSF and all went well!
Popup said "Connected to MetaSploit" and nothing happens after this.
I cant fully test it now, just wanted to say the MSF thing is fixed.

Heres the second boot catlog

[2015-09-25 14:22] #280 closed

[2015-09-25 14:44] gainan opened #281 "null exception when using the modules and the wifi connectivity goes down"
If the user is using some module, and the wifi connectivity goes down, when clicking on any module will crash the app:

reported by @sorano on another issue.

[2015-09-25 15:04] tux-mind commented on #253
@hipopcorn the log you posrted is of the daemon ( cSploitd.log )
for debugging crashes I need the logcat ( you can record one with the catlog app ).

thanks for your time :blush:

[2015-09-25 15:09] gainan commented on #236
This bug has gone away with core tools 1.0.6! it doesn't crash anymore.

[2015-09-25 16:24] mvdan commented on #37
@tux-mind that makes no sense. My user doesn't have write access to my NDK, and that is on purpose - why would you modify the NDK?

[2015-09-25 17:29] #281 closed

[2015-09-25 17:31] tux-mind commented on #236
mmmmm... it's quite crazy, i changed only nmap stuff from `1.0.5` to `1.0.6`.
feel free to reopen it if if happens again :blush:

[2015-09-25 17:38] tux-mind commented on #37
I prefer to use libraries from google, like sqlite, lib, liiconv etc...
those libraries make use of some extra scripts that the standard NDK does not have for some advanced build targets.
after all cSploit will not use those scripts, because they are used in targets not needed by the normal build process, but they must exists in order to proceed with the build.

this is why the script just `touch

[2015-09-25 18:41] hipopcorn commented on #253
@tux-mind  for me if i choose to search for exploit, i need to wait about 15 seconds to click on edit options, if i dont wait it crashes, but if i wait, i can do all the things, but i can`t just see any payloads, do you still need my logcat? cause i don't know how to save it, but i know this is the logcat error: 09-25 15:40:00.819 E/CSPLOIT[services.MsfRpcdService.connect](13323): java.lang.Number

[2015-09-25 20:39] tux-mind commented on #253
@hipopcorn as you copy and pasted that line just copy and paste the whole logcat :wink:

if you create a gists or use pastebin will keep this conversation clean and readable.

thanks for all your porecious time :blush:

[2015-09-25 20:48] tux-mind commented on #276
@hipio some recent changes has been made to fix #258 , please try out latest nightly and let us known if your problem has been fixed.

thanks in advance for your time :blush:

[2015-09-25 20:57] tux-mind commented on #278
cannot reproduce this.... I need someone that gives me a logcat with the problem.

thanks you in advance.

[2015-09-25 21:12] Rubenoo commented on #278
still same problem on latest develop branch
logcat : https://gist.github.com/Rubenoo/c5c27a83d6cbcd3b1616

[2015-09-25 21:18] Rubenoo opened #282 "White screen at second startup"
What happend?
1. installed csploit develop branch latest.
2. opend tried to instal ruby, failed( see #278 ) closed app after that.
3. reopen app, get white screen with blue bar at the top.
logcat : https://gist.github.com/Rubenoo/41e48ec89a105aff52df
Samsung galaxy s5 android 5, ful busybox and fully rooted.

[2015-09-25 21:35] Rubenoo commented on #253
When i tried to launch a exploit on the latest develop branch it crashed
samsung galaxy s5 android 5
logcat : https://gist.github.com/Rubenoo/f0013f279f4eaaf01741

[2015-09-25 21:53] tux-mind commented on #282
probably a deadlock in the cSploitd ... it require some time to debug and fix.

[2015-09-25 22:08] tux-mind commented on #253
@Rubenoo should be fixed in 65d0478

[2015-09-25 22:34] Rubenoo commented on #253
i was launching some exploits
it didnt crashed but nothing happend
it only said job started
and then i tried another exploit and tried to launch and it crashed
logcat : https://gist.github.com/Rubenoo/616371939c0f22b62557
samsung galaxy s5 android 5

[2015-09-25 22:50] Foul commented on #108
Still present in 1.6.0 RC1

[2015-09-25 22:54] #278 closed

[2015-09-25 23:02] tux-mind commented on #253
fixed in cbb966c

[2015-09-25 23:55] madmarcs commented on #253
@tux-mind  here is my catlog.

https://gist.github.com/madmarcs/0be97d3cc993a4acaf88

[2015-09-26 02:52] hipopcorn commented on #253
@tux-mind sorry but, now i can choose an exploit, but i can't launch it, when i launch, it crashes

[2015-09-26 04:03] hipopcorn commented on #253
@tux-mind okay its all working fine, but when i Try to launch the exploit it crashes,
Log file: http://pastebin.com/K7pDakW3

[2015-09-26 07:20] tux-mind commented on #253
@madmarcs no usefult info in your logcat, please capture it after the problem occurs, i suggest you to use catlog from play store.

@hipopcorn thanks for the logcat, that crash was fixed in 65d0478 , are you using the latest nightly ?

thanks in advance for your time guys :blush:

[2015-09-26 07:27] tux-mind commented on #254
@Phurkus  it looks like the `which` utility is not installed, try to update/install busysbox please.

[2015-09-26 07:49] #200 closed

[2015-09-26 08:57] Avamander commented on #72
Clearly it was really easily found feature.

[2015-09-26 10:05] tux-mind commented on #229
ok, let me answer to some of your great suggestions guys.

### RouterKeygen

personally I love unix philosophy: one program does one thing, and, hopefully, it do it good.
so my first thought about RouterKeygen was to give a link to the store to download and use it.

BTW, i gave a look at the [algorithms](https://github.com/cSploit/android/tree/v1.5.4/cSploit/src/org/csploit/android/wifi/algorithms

[2015-09-26 10:06] tux-mind commented on #72
you're right @Avamander , my apologizes, we need to improve the docs.

[2015-09-26 10:25] gainan commented on #229
**port scanner/inspector on whole net**
yes, select the subnet and allow to scan it, like nmap -sS -P0 192.168.1.0/24

**complete suite for domain/subdomain analysis/discovery**
I mean to use some webs to extract more info, aka google dorks (site:xx inurl:xx ...) :)

**Allow to select any network interface available on the system.**
Will you do it? Up to you, if you want I can adapt it to the late

[2015-09-26 10:26] gainan commented on #229
new idea:

since the service inspector and login cracker depends on a previous port scan, when finish the port scan display 2 buttons: [service inspector] [login cracker]

[2015-09-26 10:39] Avamander commented on #57
Would it be possible to fix this? As I am unable to find the dictionary for Penetrate app any more, I would really appreciate if I could still check if the hotspot is using a password that can be reversed based by the SSID.

[2015-09-26 10:55] madmarcs commented on #253
@tux-mind Sorry i take the logcat before the error, this is the correct one.
The app force close after launch a exploit.

https://gist.github.com/madmarcs/3ffd6ed1ddb9e98ecfaa

Other thing that I see, is the RPCD that take almost 5 min to connect.

[2015-09-26 10:56] Avamander opened #284 "Dark theme needs fixing"
The dark theme only changes a few text elements to black. I am using the latest version downloadable by the app's updater, 1.5.4.

EDIT: Dark theme needs redesigning.

[2015-09-26 11:04] Avamander opened #285 "By default store MSF and Ruby in the apps data folder"
It would be really great if instead of internal storage, MSF and Ruby are stored in the app's data folder on external storage.

[2015-09-26 11:59] hipopcorn commented on #253
@tux-mind with nightly its worst, it crashes when i search exploits AMD Goes to start rpcd

[2015-09-26 12:11] DeveloppSoft commented on #284
Try 1.6.0
Le 26 sept. 2015 12:56, "Avamander" <notifications@github.com> a écrit :

[2015-09-26 12:14] hipopcorn commented on #253
@tux-mind the same error happening no mattee what version i use, every time i launch it crashes

[2015-09-26 12:17] DeveloppSoft commented on #229
Bluetooth hacking:
- devices spoofing
- bluesnarfer attacks
Social engineering:
- backdoor files (msfvenom)
- spoofed SMS
Etc...
Working on botbrew.
Le 26 sept. 2015 12:26, "ga" <notifications@github.com> a écrit :

[2015-09-26 12:20] hipopcorn commented on #253
@tux-mind my logcat:http://pastebin.com/sHz18MuU
Obs: my language is portuguese

[2015-09-26 12:55] Settix commented on #253
Hi @tux-mind :)
Nmap doesn't recognise my target ip's os ( my mac is listed as a phone running ios on the inspector tab ) we could maybe tweak nmap's parameters to get a more precise os recognition and integrate the results of the port scanner in the  inspector tab ( in order not to do a port scan again ). Exploit finder lists a shellshock and a windows exploit. Tried both, no one worked.
I'm runn

[2015-09-26 13:38] Megaeloelo commented on #229
Is it possible to run msfconsole in Csploit to create exploits? Sorry for bad english .

[2015-09-26 13:42] Megaeloelo commented on #229
Something like port of Metasploit . Sorry for spam .

[2015-09-26 16:53] hipio commented on #276
@tux-mind Sorry for responding so late. I have Android 5.0.2 and the recent changes to #258 seemed to have worked for me as well. Thank you!

[2015-09-26 17:10] dimitriDymaKamarov opened #286 "Everytime I try MITM or anygthing, app crashes or is very slow."
When I ran this app before 1.5.4 it ran smooothlyyy as fvck. But now after the update it crashes and is really slow, But that is not the real issue. It also fails to start MITM, it says it crashed and I am unnable to do anything. Any ideas, suggestions? Got Rooted Sony Ericsson Xperia Mini Pro with LegacyXperia CyanogenMod 12.1, so 5.1.1 Lolipop.

[2015-09-26 17:40] daniloscala opened #287 "Conection to the MSF RPC daemon FAILED!"
hi good afternoon friends, i have this problem Conection to the MSF RPC daemon FAILED!,,  csploit 1.6.0 RC1, xperia z3, android 5.1.1 , thanks, sorry but how get logcat ?  before i have error core not found to this device (in install), but close and try one more time and csploit download and install ruby and framework, i think core is ok

edit  . logcat >http://www.mediafire.com/download/s22cx2h9s

[2015-09-26 17:53] gainan commented on #286
Hi @dimitriDymaKamarov , thank you for open the issue.

Get a logcat while you reproduce the problem, and read this for further information:
https://github.com/cSploit/android/wiki/How-to-open-an-issue

[2015-09-26 17:57] gainan commented on #287
Hi @daniloscala , here you can learn how to get a lolcat: http://forum.xda-developers.com/showthread.php?t=1726238
More info on reporting bugs just in case: https://github.com/cSploit/android/wiki/How-to-open-an-issue

Basically: 1) be sure to have the app close and not running in background, 2) adb logcat > logcat_287.log, 3) launch the app and follow the needed steps to reproduce the problem, 4)

[2015-09-26 18:01] gainan opened #288 "subnet and "this device" targets missing after close and launch the app again"
How to reproduce it:
1. open de app and close it.
2. launch it again.

![screenshot1](https://cloud.githubusercontent.com/assets/2742953/10118618/6866d616-646c-11e5-8e8b-7d50bbad8b34.png)

![screenshot0](https://cloud.githubusercontent.com/assets/2742953/10118632/aca010a4-646c-11e5-8905-c8da609a2bf4.png)

[2015-09-26 18:08] jonniex7 commented on #43
no errors but need some fixes as you know!i tried to install in a intel android tablet but says me no core found!

[2015-09-26 18:35] Avamander commented on #284
@DeveloppSoft I suggest you'd next time don't include the email you reply to. It can be disabled in most mail clients.

[2015-09-26 18:49] daniloscala commented on #287
thanks @gainan  i try , i wait make correct logcat

http://www.mediafire.com/download/s22cx2h9sdp87mq/logcat.txt

[2015-09-26 19:12] Systemad commented on #287
As soon as you start cSploit the "connection to MSF failed" will appear, just start it again and it will be fine

[2015-09-26 19:24] daniloscala commented on #287
yes, i try MITM and work, but show this error

[2015-09-26 19:26] tux-mind commented on #57
lemme fix it.
with some :heart:

[2015-09-26 20:01] Ohkthx opened #289 "Importing a dictionary for bruteforce."
When attempting to load a dictionary/file for the brute force- the [start] button is unresponsive. I've tried with large dictionaries and a single lined text file. Both files had the extension of *.txt. Service attempted was telnet and also ssh. Password was known and placed in the dictionary.

cSploit version: v1.6.0-r.1
Model: HTC One M8
ROM: Cyanogenmod 12.1

[2015-09-26 20:12] Krossom commented on #287
Hey for me msf start but when I try to launch an exploit csploit crashes....

[2015-09-26 21:25] hipopcorn commented on #259
@tux-mind surge!!, and i can translate the entirely wiki to portuguese if you prefer, cause google Translator is not so good, can i make a channel named csploit?

[2015-09-26 21:32] #57 closed

[2015-09-26 21:34] Rubenoo commented on #287
@Krossom logcat, device name and android version please

[2015-09-26 21:36] Avamander commented on #57
Whoa, thanks. I'll try it in as soon as cSploit suggests me to update.

[2015-09-26 21:39] Rubenoo commented on #57
@Avamander It doesn't exactly work like that, you can better download the nightly version of csploit tomorrow from www.csploit.org :)

[2015-09-26 21:50] Krossom commented on #287
Xperia c3 d210
Android 5.0.2
Logcat: http://pastebin.ca/3175175

[2015-09-26 21:51] Rubenoo commented on #287
@Krossom tnx  :)

[2015-09-26 21:57] Avamander commented on #57
@Rubenoo The patch will be in the next stable release so I could either wait for the update notification on my phone or download a nightly, both options are valid.

[2015-09-26 21:58] tux-mind commented on #285
Hi @Avamander , I'm happy to get suggestions from you again :blush:

does android wipe that dir when the application get removed ?

[2015-09-26 22:03] Avamander commented on #285
Usually it does if the app is normally uninstalled. (Just to make sure, I am talking about <path to storage (internal usually)>/Android/data/<packagename>)

[2015-09-26 22:04] tux-mind commented on #253
@xaitax can you check nightly build status ?
logcats show a stacktrace incompatible with sources from the develop branch.

thanks in advance :blush:

[2015-09-26 22:08] tux-mind commented on #253
@Settix ports found by the port scanner are used by the inspector if the "focused scan" menu option is selected.

I agree that advanced used should be able to tweak nmap parameters, but please make a new issue, thus to assign the right flags to it :wink:

[2015-09-26 23:02] tux-mind commented on #229
@gainan google dorks sounds fine, but they are useful to find hidden resources on some webserver... I cannot understand how these stuff can be useful in an internal network. it's more related to a OSINT app then a penstesting one IMHO. nut maybe I'm wrong, pleasze show me how you suggest to use it :wink:

I'll test your pull request when I get home, there I have a TF201 with an USB port.
as I said

[2015-09-26 23:19] Avamander commented on #284
The 1.6.0-rc.1 version has dark theme, but it is hideous. :put_litter_in_its_place:

[2015-09-26 23:47] fat-tire commented on #284
Well aren't you adorable, Avamander
![avamanderplease](https://media1.giphy.com/media/L29fiOMSDhhvi/200.gif)

I look forward to your pull request fixing this issue.

[2015-09-26 23:56] Avamander commented on #284
@fat-tire

No skills to do that, sorry. :D

Main menu is not that bad. But even when dark mode is enabled, settings are white .-.

![Main menu](http://i.imgur.com/8oTSlJQ.png)

[2015-09-27 00:05] fat-tire commented on #284
Settings never has adopted the dark theme (I never changed that), but it's not a big deal to have it respect the theme...   In your image above, what's between the quotes?  I haven't seen that.

To adjust the theme-- just change the colors in [style.xml](https://github.com/cSploit/android/blob/develop/cSploit/res/values/style.xml#L18-L41).  To use the theme  in the settings, I think you can add so

[2015-09-27 00:09] tux-mind commented on #43
yeah @jonniex7 , for now only arm is supported.

[2015-09-27 00:09] #276 closed

[2015-09-27 00:18] tux-mind commented on #259
a channel on youtube ?
it will be great!
the top is to have them in english with subtitles :stuck_out_tongue_closed_eyes:

I don't known if github support multi-language wiki... will see.

[2015-09-27 08:13] sorano commented on #256
User has not returned with any logs.
Closing this.

[2015-09-27 08:13] #256 closed

[2015-09-27 08:14] sorano commented on #254
Most likely error at the user side.
Closing.

[2015-09-27 08:16] xaitax commented on #254
@sorano You don't need to close any single issue just because you think it's right. It's not solved hence no need to close - like with several other issues.

[2015-09-27 08:38] jonniex7 opened #292 "Conection failure"
Connection to the msf rpc daemon  failed

[2015-09-27 08:40] jonniex7 commented on #43
Also now msf rpc daemon not connected and thanks in advance for continuing that great app!!!!

[2015-09-27 08:41] sorano commented on #254
Well, considering there has been lots of development over the last few days and this user hasn't returned for 5 days and his device does not contain the which utlilty I would most likely say its an end-user issue and not cSploit issue.
Do you disagree?

Of course the user is free to re-open the issue once he has tried out the latest version and has verified his busybox installation.

[2015-09-27 08:49] sorano commented on #292
Without any logs we are unable to help you.

Please read this https://github.com/cSploit/android/wiki/How-to-open-an-issue then update your issue with the needed information.

[2015-09-27 08:54] sorano commented on #292
Also, this is a duplicate. Continue the discussion in #287

[2015-09-27 08:54] #292 closed

[2015-09-27 09:10] Phurkus commented on #254
Hello, sorry for delay, ive been busy with some essays and havent had some time to get back on here.

I did NOT have busybox installed, so I downloaded and installed afew minutes ago. After that i went to download csploit 1.6 RC i believe it was called. (latest verison)

On first startup it said a core could not be found for my device. App closed itself.

On second relaunch it continues where it l

[2015-09-27 09:12] Avamander commented on #284
Uhhh, I don't have the necessary tools to compile an Android app. So if I get time I might look into it. :)

[2015-09-27 09:16] sorano commented on #254
Some users have had success with installing busybox under /system/xbin/ instead of the default path.

Once you have finished testing read this on how to file an issue that the developers can actually use to solve the problem:
https://github.com/cSploit/android/wiki/How-to-open-an-issue

[2015-09-27 09:20] sorano commented on #284
It is usually considered rude to complain on another mans work when you can not do it better yourself.

In that case its better to be silent.

[2015-09-27 09:25] #287 closed

[2015-09-27 09:33] tux-mind commented on #43
@jonniex7 what do you mean with `Also now msf rpc daemon not connected` ?
you may refer to #287 , which has been just fixed. if so try out the nightly build in the next hour.

and thank you for testing it out :blush:

[2015-09-27 09:39] tux-mind commented on #254
Hii @Phurkus , don't blame yourself about the delay, every one here has a real life, after all :grin:

it would be great if you can share a logcat taken after the problem occurs. try out the [catlog](https://play.google.com/store/apps/details?id=com.nolanlawson.logcat) app! it can be used to record the logcat to a file on your sdcard, simple to share :wink:

thanks for your patience and time :blus

[2015-09-27 09:43] tux-mind commented on #229
@DeveloppSoft about notbrew, how does it launch dynamically linked executables on android ?
does it play with the `LD_LIBRARY_PATH` environment variable ?

thanks for your time :blush:

[2015-09-27 09:48] Phurkus commented on #254
@sorano busybox is installed under /system/xbin/

@tux-mind thanks for positive reply, i know it can be annoying teaching someone that doesnt really understand so im trying my best here to do my part 😃
 i have the catlog app, its how i got the log cat from the first one. I opened log cat and quickly opened csploit after to avoid clicking other stuff cuz more code would write out, lol.
Is there a w

[2015-09-27 10:23] #288 closed

[2015-09-27 10:30] tux-mind commented on #254
@Phurkus in past someone else had to teach me those stuff, we are happy to teach to those pupils eager to learn :wink:

I don't think that you can filter the logcat from the catlog app. also in case of some native crash the logcat will not include some important info.

looking forward for your logcat :blush:

[2015-09-27 10:49] Phurkus commented on #254
@tux-mind very true, and computers have always been a fasination for me 😀😀

Heres the link to the logcat, im gonna sleep its 3:50 am and im prolly gonna be tired in the morning. Il get back on here in the morning. Hope it helps 😊☺
http://pastebin.com/NRgVGt3T

[2015-09-27 10:59] tuxaddict opened #293 "Installation hangs on update loop"
Hi all, thanks for this great project!

i'm trying to install 1.6.0 RC1 as well as 1.5.4 on my Motorola Defy Mini XT320 rooted with Android 2.3.6 but the install "hangs" in a "update loop".

The Install is set by Link2SD to my SDCard, but the error also exist if i let the install write its data to the (standard) internal storage.

process:
Install with Paket Installer --> "Anwendung Installiert" -

[2015-09-27 12:08] Settix opened #294 "Add custom nmap parameters"
The default nmap command when scanning a target seems to be " nmap -T4 -F -O -sV --privileged --send-ip --system-dns -oX -yourtargetip "
We could maybe integrate an option to manually insert custom nmap arguments or select a preset nmap command ( with it's short description ) from a list in csploit's parameters.
In order to do longer or shorters scans depending on the situation :).

[2015-09-27 12:36] Megaeloelo commented on #229
Idea :
Csploit working in hotspot .

[2015-09-27 12:37] DeveloppSoft commented on #229
@tux-mind, here is the  [manual] (http://botbrew.com/manual.htm)

[2015-09-27 13:40] gainan opened #295 "extend the session hijacker module functionality"
- Allow to detect users/pass fields on the URL and on the HTTP header (Authorization:)
- Save not only the root domain of a cookie, but also all the pages the user is visiting within a URL.
- Intercept not only web sites with cookies, but also without them (tagging them with an icon of "not cookies" for example).
- Allow to select which SSL certificate to use.
- Allow to visit an intercepted page

[2015-09-27 13:46] gainan opened #296 "MAC randomization when the app start ups, and prior to scan wireless networks"
comment by tux_mind:
[code]

[2015-09-27 13:51] gainan commented on #229
guys, we've started converting all these suggestions into new issues, in order to let @tux-mind categorize and prioritize them. So if you have any new suggestion, check first the already opened issues and comment/contribute to that ones, and if it's not created add a new issue.

[2015-09-27 14:13] gainan commented on #185
@uranium-waffles , the thing is if csploit captured an authentication cookie, which likely it wasn't. Could you assure that it was a valid authentication cookie? I say this because any site with cookies is added to the list.

In any case, when csploit captures a valid user session, usually the user's password has already been sent , thus we won't be able to display it to the user. And that would b

[2015-09-27 14:47] tux-mind commented on #108
fixed in cSploit/network-radar@bda0181e30ee9fe63c55a438a27507a9bc4b227c

[2015-09-27 14:47] #108 closed

[2015-09-27 15:31] tux-mind commented on #254
hi @Phurkus , I have some bad news for your :disappointed:

your logcat shows a native crash int the ruby executable and your android system cannot attach to the process to dump an useful stacktrace for debugging the issue.

but I have an idea that might solve the problem.
download [this gem](https://rubygems.org/downloads/bundler-1.10.6.gem) and put it on your sdcard.

connect your phone to the p

[2015-09-27 15:44] tux-mind commented on #293
thanks for the detailed report @tuxaddict , very appreciated :blush:

I have a bad news for you: your phone run `OutOfMemory`.

try to launch the update and the close the app by clicking twice on back.

keep me posted :wink:

[2015-09-27 15:51] tux-mind commented on #229
@gainan please lock this issue once all those great ideas has been converted to issues.

thanks to all for your interest and help :blush:

[2015-09-27 16:00] tux-mind commented on #220
@DeveloppSoft thanks for the manual!

so botbrew is very invasive if the system linker do not honor the `LD_LIBRARY_PATH` environment variable. but I think that is acceptable for having our executable compiled with shared references instead of statically.

we have to test it out on lollipop, where shared libraries are painful due to the required `-fPIE -pie` compiler flags.

will see :wink:

[2015-09-27 18:54] Avamander commented on #284
Sorry if I was rude. But if a thing need improvement then it should be atleast mentioned.

[2015-09-27 19:43] gainan opened #298 "Improve error messages"
A suggestion by @Avamander. Many of the errors are not self explanatory, thus not useful for the user. For example, when a tool crashes (ettercap, nmap), sometimes when clicking on the Start button again an toast error appears: *Cannot start process*. It could be improved by saying: *Cannot start process, restart the app*

@Avamander, if you have seen some other messages which could be improved co

[2015-09-27 19:58] gainan opened #300 "Quick test for test route default credentials"
A suggestion by @Tajnymag.

The idea is to test common users/passwords of a router.

@tux-mind said:
[code]

[2015-09-27 20:02] gainan commented on #300
My suggestion is: to compile a list of common users/passwords used by routers and deployed it with the app (the list could be upgradable from a repo, or just download it from a url).

A quick search on google returns many of this common credentials.

[2015-09-27 20:20] gainan commented on #229
@DeveloppSoft, would you mind to add your suggestions in several issues? I think you can explain them better than me :)

@Megaeloelo, that feature will be possible when this pull request will be implemented: #245. However it'll need additional work, because AFAIK the tethering option inserts

[2015-09-27 20:39] Rubenoo commented on #269
cSploit is crashing on lastest branch,while trying to install core
samsung galaxy s5, android 5
logcat : https://gist.github.com/Rubenoo/c0bc3fd857d00790cd5c

[2015-09-27 21:35] tux-mind commented on #300
I'm bit scared about the size and the maintainability of those files.

we can use those files with hydra ( Login Cracker ), but it will support only basic http auth.

IMHO it's smarter to detect the exact version of the router and find the exact default credential.

[2015-09-27 23:15] hipopcorn commented on #259
@tux-mind i need somewhere to talk to you about the videos, and thanks for the cool notification about metasploit rpcd!!

[2015-09-27 23:44] hipopcorn opened #302 "what to do after launching exploits?"
okay, i think the bug of https://github.com/cSploit/android/issues/253 is corrected now.
because for me i can launch the exploit
but what i need to do next? @tux-mind just wait and see if i got a session?
you added a new notification: starting metasploit rpcd, i suggest you to add something like: "launching exploit...", and about the browsers exploit? that ones that generates an url? how can we kn

[2015-09-27 23:54] Haxin-hipopcorn opened #303 "dns spoofing not working"
i can launch dns spoof, on the csploit its all ok, but when i goes to the websites it crashes the site with ERR_CONNECTION_TIMED_OUT, if i dont touch on the default list, and try to access microsoft.com for example i get this error.

[2015-09-28 00:01] hipopcorn opened #304 "suggestion: make phishing pages and hosting it on the device ip"
like the social engineering toolkit, you give an url example: facebook.com, then  it makes a phishing page, and turn your device ip into a server with your phishing page, and your collected data appears, you can integer it with dns spoofing

[2015-09-28 00:25] hipopcorn opened #305 "Suggestion: wordlist generator"
van make something Luke crunch or cupp, it will be awesome

[2015-09-28 00:29] evertking commented on #303
Is there a guide anywhere on how to use the DNS tool

[2015-09-28 00:59] evertking commented on #259
Where can we find these videos? That's all that's missing!! CSploit rocks!! Forget nethunter

[2015-09-28 02:10] hipopcorn commented on #259
@evertking i will work on it

[2015-09-28 03:44] evertking commented on #304
http://m.rahullah.store.aptoide.com/app/market/dolphin.developers.com/1/5394150/Social%20Engineering%20kit

Kinda like this?

[2015-09-28 03:46] fat-tire opened #306 "NPE/crash getting exploit list"
[code]

Line 178:

      currentTarget = targets.get((Integer)map.get("default_target"));

[2015-09-28 04:04] fat-tire commented on #306
Maybe not the best fix, but this stops it from crashing:

[code]

[2015-09-28 05:46] DeveloppSoft commented on #229
Hey guys,
@ga, of course, just give me some time.
@tux-mind, I hope my link was useful, if you want, you can contact me on my
personnal email address (I think you can find it :smile:)
Le 27 sept. 2015 22:20, "ga" <notifications@github.com> a écrit :

[2015-09-28 05:53] DeveloppSoft commented on #284
@Avamander sorry, I was using gmail
Le 27 sept. 2015 01:19, "Avamander" <notifications@github.com> a écrit :

[2015-09-28 06:24] Phurkus commented on #254
@tux-mind hii, i wasnet home most of the day. And i have i linux laptop so i was googling how to adb from linux. I will install the sdk tomorrow. 😃😃😃
I tried to put the code from a terminal emulator on my phone by giving it root permission.
But i ran into abit of trouble with the last code,saying its just a directory? Maybe i misunderstood something.

If im correct all the code is doing is moving,

[2015-09-28 06:42] Phurkus commented on #254
@tux-mind **update

I got the terminal code working. I had to replace
cp /sdcard/bundler-1.10.6.gem

With

cp /storage/external_SD/bundler-1.10.6.gem

After that a tried to start csploit but there was only a blank screen. So i reinstalled csploit, and before opening it i re-entered the terminal code.
Now when it runs and checks to update, its falling on the core? 😓😓
I feel like im making progressi

[2015-09-28 07:40] gainan commented on #303
@hipopcorn , try this: launch it again, and on the shell as root type: echo 1 > /proc/sys/net/ipv4/ip_forward

If doing that works for you, then I'll take a look at it. I saw this behaviour a couple of times, but I couldn' t reprodcuce it. Thanks for reporting btw :]

@evertking , it's pretty simple: any configured domain on the DNS textbox will be spoofed to its corresponding spoofed IP.

A commo

[2015-09-28 07:54] gainan commented on #305
Could you check out all the options hydra (login cracker) has? I think many of the options are already implemented on the login cracker. https://github.com/vanhauser-thc/thc-hydra (scroll down to the LOGINS AND PASSWORDS section).

Maybe a way of improve it would be to implement wordlists generator based on mask, like hashcat do.

[2015-09-28 08:06] tux-mind commented on #302
@hipopcorn cSploit supports only exploits that gives you a shell session at the moment.
if you take a look on how the msf works there isn't a notification about "a new session has been opened".
anyway we could implement a polling task that watches for new opened sessions and gives you a feedback.

[2015-09-28 08:09] fat-tire commented on #302
@tux-mind see my latest pull request #307 because I include some code for notifying the user when the exploit is launched... those notifications could be updated to launch intents to the session.

[2015-09-28 08:23] tux-mind commented on #259
@hipopcorn thank you :blush:

if you need to talk give a look to the [Get involved] page :blush:

[Get involved]: https://github.com/cSploit/android/wiki/Get-involved#irc

[2015-09-28 08:27] tux-mind commented on #304
Why use phishing when we are MitM ?
we ca have users surfing on the real website ( facebook, google or whatever ) while we sniff their login credentials and cookies.

SSL split support will be added on next releases of cSploit.

thanks for the suggestion anyway :blush:

[2015-09-28 08:27] #304 closed

[2015-09-28 09:17] #306 closed

[2015-09-28 09:58] tux-mind commented on #254
try installing the [nightly build](http://rootbitch.cc/csploit/cSploit-nightly.apk), we fixed the first boot core issue there.

thanks for all your efforts @Phurkus , really appreciated :blush:

[2015-09-28 10:24] tux-mind commented on #302
the exploit feedback from the MSF it's just `launched` or `failed`, nothing more AFIK.

just think about web browser exploits, once they are launched you get a webserver listening on some port. it can infect many clients, opening many session.
so there is not a `success` state of the MSF exploits.

when you successfully launch an exploit you'll get a Job ID. we can monitor that job to give a feedb

[2015-09-28 11:14] Tajnymag opened #308 "Nightly updater"
It would be cool to have cSplit automatically check for changes in nightly builds and serve the updated apk as soon as newer version is available. It's quite frustrating to download new apk every time I want to use cSploit (you are very hard working and every day there's a bunch of new fixes and features :) )

[2015-09-28 11:46] daniloscala commented on #308
yes , nice if csploit nightly have number or show ins sites changes or updates , or automatic.

[2015-09-28 12:30] gainan commented on #300
I'm agree with you that the best way of doing it would be to find the exact credentials.

In any case, the list wouldn't be larger than 50 entries maybe, I don't know. Many of these users/passwords are a combination of the username (root:root, root:admin, root:<empty>, 1234:root, root:1234, 1234:1234, 1234:<empty>, admin:1234, admin:<empty>, admin:root, 1234:admin, etc...). In fact, the login crac

[2015-09-28 13:57] pgolecha opened #309 "Core 1.0.7 Update Crashed msrpc"
Following the core update, starting metasploit rpc which was perfectly fine before started crashing everytime csploit started.
Here is the log
http://pastebin.ca/3177250

Phone Xiaomi Redmi 1S
Android 5.1.1

[2015-09-28 14:05] fat-tire commented on #302
Sounds good.  I have that notification code which you're welcome to use, change, or throw away...  I was just kind of experimenting, but I was thinking that for a "hail mary" situation of trying every one automatically, it would be a good way to get some feedback...   Anyway I'll leave it up to you then since I think you have a better idea of how it should work re: sessions/jobs and setting up the

[2015-09-28 14:27] hipopcorn commented on #308
In the about tab de van see the date of the nightly but it would be better  we can see it in the site

[2015-09-28 14:29] hipopcorn commented on #304
@tux-mind the problem is the htst, can you bypass it?

[2015-09-28 14:31] hipopcorn commented on #309
Same issue here I got back to the past nightly

[2015-09-28 14:33] Avamander commented on #298
If possible I think the errors should be numbered.

[2015-09-28 14:36] xaitax commented on #304
HSTS can only bypassed if browsers don't have a hsts list built-in like IE or older versions of ff/chrome. We also would need sslstrip+ instead of sslsplit.

[2015-09-28 14:55] hipopcorn opened #310 ":::Closed:::Kill connections for entirely network"
Why not? We can kill it individual why not kill all?
And see how much the IPs is using of internet..
 Like wifikill!!
Then its more one app that we don't will need anymore ;)

[2015-09-28 14:58] hipopcorn opened #311 "Suggestion: fake ap"
I think there are some plugins for this, fake ap +  mitm + DNS spoof, cool!!

[2015-09-28 14:58] sorano commented on #310
Can't you already do this via MITM ARP poisoning (Kill connections) on the network/subnet?

I dont have my device with me currently, so can't test.

[2015-09-28 15:17] gainan commented on #311
You can set up a fake AP using the wifi hotspot option of your rom. Then when this #240 be ready to be merged, you'll be able to use the MITM modules :)

[2015-09-28 15:43] MuradTroll commented on #220
@tux-mind
Had to do long search to find it but was worth it. Even tough I didnt manage to install the whole gems (because I had to install so many .opkg files I just left it over), the ruby for android can be installed easily. Hope this helps you  :)

[2015-09-28 15:57] DeveloppSoft opened #312 "Bluetooth ?"
As @ga suggested, I opened an issue for the bluetooth hacking idea, questions ?

[2015-09-28 15:58] DeveloppSoft opened #313 "Social engineering"
Hey, maybe we can add se-toolkit

[2015-09-28 15:59] DeveloppSoft opened #314 "Geolocate"
Maybe we can add a geolocate option...

[2015-09-28 16:01] daniloscala commented on #310
yes, this is good,  change  all images  in all device conected or other options in MITM

[2015-09-28 16:10] gainan commented on #310
@sorano is right, this option is already possible, so please @hipopcorn close it if you're agree. If it's not working, please, open a new issue explaining in detail what is not working :)

Thank you!

[2015-09-28 16:13] tux-mind commented on #300
I merged D-Link entries from both [routerpasswords](http://www.routerpasswords.com/) and [portforward](http://portforward.com/default_username_password/D-Link.htm).

it results in 13 unique username and password combinations ( which probably covers other routers ).
so, it's ok to include this little DB into the application.

I can imagine a simple view where you can see all the router default cred

[2015-09-28 16:21] tux-mind opened #315 "CI build"
would be great to have a CI that checks our commits and every pull request.

[2015-09-28 16:22] tux-mind commented on #315
requires #220

[2015-09-28 16:25] hipopcorn commented on #310
@gainan sorry kkkkkkk really sorry

[2015-09-28 16:26] tux-mind commented on #308
ok, requires #315

[2015-09-28 16:27] hipopcorn commented on #311
@gainan OK i will Try
Closed

[2015-09-28 16:30] gainan commented on #310
@hipopcorn no problem at all! ^.^ (use the **Close issue** button please ;-))

[2015-09-28 16:40] #310 closed

[2015-09-28 16:44] #309 closed

[2015-09-28 16:45] tux-mind commented on #309
can you test the nightly in the next hour ?
thanks in advance :blush:

[2015-09-28 16:46] #311 closed

[2015-09-28 16:48] hipopcorn commented on #310
@gainan how can I close?

[2015-09-28 16:49] tux-mind commented on #304
yep, @xaitax is right, but I'll start working on evilproxy soon.
I'll integrate ettercap dissectors with SSL split and sslstrip+ for HSTS.

simply a bomb :sunglasses:

[2015-09-28 17:05] tux-mind commented on #312
yep, write down which techniques should be implemented.

I don't have any experience with bluetooth hacking, so make your wishlist right here :wink:

[2015-09-28 17:07] tux-mind commented on #313
some features:

  - infect arbitraty files ( msfvenom )
  - send spoofed SMS

feel free to add others to this issue.

[2015-09-28 17:07] xaitax commented on #309
Please test it now guys. :)

[2015-09-28 17:09] maddog9696 commented on #313
Man o man I love you guys. You keep reading my mind. I have a suggestion or comment, someone always beats me to it! I come back next day, BAM someone added the feature or fixed a bug. Unbelievable, you guys are seriously the BOMB!!! :D

[2015-09-28 17:13] Rubenoo commented on #313
![ioxfi](https://cloud.githubusercontent.com/assets/13369779/10142785/f46aba70-6614-11e5-882a-afa0da0ca741.jpg)
<3

[2015-09-28 17:17] tux-mind commented on #253
seems fixed with last commits. closing.

[2015-09-28 17:17] #253 closed

[2015-09-28 17:18] maddog9696 commented on #313
The se toolkit would make just about every tool more usefull. Example: clone a page for DNS spoof. OMG AWSOME!

P.S. If this does get added, there used to be a feature of the toolkit to spoof text messages to a desired number. It was very very handy, but no longer included in toolkit. Would it be possible to add a tool like that!? There is a app called wi.cap with a similar tool for text messages,

[2015-09-28 17:19] maddog9696 commented on #313
On sorry I was typing and didn't see your post tux

[2015-09-28 18:28] hipopcorn commented on #312
@tux-mind a function to hack pin code of Bluetooth devices

[2015-09-28 18:36] Haxin-hipopcorn opened #317 "web services vulnerability scanner"
Csploit is so focused on lan.I think adding a tab only for websites will be awesome , with sqlmap, stress test , admin page finder, etc

[2015-09-28 18:39] hipopcorn commented on #309
@tux-mind  it appears to be OK now!!

[2015-09-28 18:45] hipopcorn commented on #304
@tux-mind [MITMf]( https://github.com/byt3bl33d3r/MITMf) has a function to disable htst for the most of webbrowser and a lot of functions, can you include this functions??

[2015-09-28 19:02] Phurkus commented on #254
@tux-mind no problem, 😊😊😊 thanks for giving me your time to help me out. I really appriciate that.

So i tried to the nightly and the core updated successfully ((:

Now the problem is with updating msf. It downloads successfully, then when installing is where it fails.

I still put the ruby gems in the cache folder like earlier

[2015-09-28 19:05] hipopcorn opened #318 "Request: reaver using external WiFi card?"
I think we can do this, using an on the go USB cable connect to an external WiFi card, and use reaver on our device, cause bcmon works on little devices

[2015-09-28 19:30] fenixdoido commented on #312
Maybe something like the old Super Bluetooth Hacker for Java phones?
Idk if its possible on Android.

https://bothack.wordpress.com/2009/07/17/how-to-hack-a-mobile-phone-using-super-bluetooth-hack/

[2015-09-28 19:33] Rubenoo opened #319 "show MetaSploit exploit ranking"
Maybe it would be nice to have a metasploit exploit ranking support. to see if a exploit is like really good and stable or to see that its really bad and unstable.
explained in here : https://github.com/rapid7/metasploit-framework/wiki/Exploit-Ranking
I don't know if its hard to implement because we're running on a newer version of msf or if that just makes it easier to implement.

[2015-09-28 19:35] Rubenoo commented on #312
2009-07-17 Hmmm looks a bit outdated. But anyway thanks for the suggestion :)

[2015-09-28 20:07] tux-mind commented on #317
not sure about this feature @hipopcorn .

cSploit it's usually used in local area networks, nothing deny you to have a webserver in your lan, but is very uncommon.

it require a lot of work for something that I personally categorize as unrelated to the cSploit scope.

let's see what @cSploit/android-devs say ...

[2015-09-28 20:27] Settix commented on #312
You could have a look at some bluetooth pentesting suites such as :
Bluesnarfer,Bluediving,Blue maho,Bluepot,crackle etc .. ;)

[2015-09-28 21:36] tux-mind commented on #304
yes @hipopcorn , it will require about 2 or 3 month of work but I can do it :wink:

once I design the architecture of the evilproxy program suite I'll start searching some volunteer to speed up the process.

[2015-09-28 21:42] tux-mind commented on #254
oh oh oh.
I just achieved that you have the XPosed framework installed on your device.

please try to uninstall it and let me know.
it try to block/control any root process on your device, including cSploit ones.

thanks for your time :blush:

[2015-09-28 21:50] tux-mind opened #320 "use monitor-capable interfaces"
detect network interfaces that support monitor mode and enable those features if found:

  - WPS bruteforcing
  - WEP cracking
  - capture WPA handshake

main issues:

  - conflict with the android wpa_supplicant daemon

[2015-09-28 21:51] tux-mind commented on #318
absolutely yes.

merged into #320

thanks for the suggestion :blush:

[2015-09-28 21:51] #318 closed

[2015-09-28 21:56] tux-mind commented on #319
I've [already did it][1], we just need to show it :wink:

[1]: https://github.com/cSploit/android/blob/33d3ac03ae8e66e07c2c22cd54f6d2d8cde427c9/cSploit/src/org/csploit/android/net/metasploit/MsfExploit.java#L40

[2015-09-28 22:03] gainan commented on #317
It depends on the kind of lan you' re on. If you are in a lan of a company you can encounter from 1 server to hundreds of them of any kind ... if you are on a wifi hotspot, it'll probably be an isolated lan with access to nothing.

We already have the msf, so I think we can use it, there're plenty of addons for these purposes.
https://www.rapid7.com/db/search?utf8=%E2%9C%93&q=sql+injection&t=m

[2015-09-28 22:30] Phurkus commented on #254
You mean uninstall xposed framework?
I have an app from xposed called xprivacy, but i allow all control for csploit.

[2015-09-28 22:49] hipopcorn commented on #318
@tux-mind thanks for  considering !!!!

[2015-09-28 22:52] hipopcorn commented on #317
@tux-mind  not for lan, for web, you can already add a website like www.csploit.org and try something's, see this [sqlmap](https://github.com/muodov/sqlmapchik) for android

[2015-09-28 22:53] hipopcorn commented on #304
@tux-mind cool!! I will be here trying to help

[2015-09-28 22:57] tux-mind commented on #254
yeah, I mean that app.
you allow full control to cSploit, but processes spawned by cSploit doesn't belong to an app.

let me known :blush:

[2015-09-28 22:58] Phurkus commented on #254
I just deleted xprivacy, but still same issue. il try deleting xposed right now

[2015-09-28 23:15] hipopcorn opened #321 "Little exploit issue"
When you edit options of an exploit, for example IP 192.168.1.10, and you start searching exploit in another IP, the edit options will be the other IP, for example, if i edit options of an exploit on the 192.168.1.88 it will still 192.168.1.10, its a little detail that will make the exploits doesn't work for that ip.
Another issue, is the exploit options set to one port and the payload listen usin

[2015-09-28 23:21] hipopcorn commented on #320
@tux-mind THAAAAAAAAAAANKS, it will be epic!!!!!

[2015-09-28 23:32] hipopcorn opened #322 "IRC onto csploit"
I think we need an irc in the csploit it will be awesome and we will interage better

[2015-09-28 23:32] gainan opened #323 "Suggestion: Allow to scan all the subnet"
Besides the MITM module, the subnet target could have enabled the Port scanner and the Service inspector modules.

I've taken a look at it, and the native library should return the target IP besides the ports opened.

[2015-09-29 00:20] mcilya commented on #322
@hipopcorn IMHO it will be some useless

[2015-09-29 01:20] Krossom opened #325 "Job started... , now what?"
I have already started an exploit and it's successfully launched. Well I suppose that cause it's say job started. But I don't know where  can I see it... Now what have to do?

[2015-09-29 01:23] fat-tire commented on #325
@Krossom check out this [WIP](https://github.com/cSploit/android/wiki/Tutorial-%231----Use-cSploit-to-get-root-shell-on-Metasploitable2) for what to expect. (doing screenshots for it now).

[2015-09-29 01:35] Krossom commented on #325
Thanks @fat-tire but I can't see the button shell and sessions don't work  (it say me no sessions are on)  :c

[2015-09-29 01:49] hipopcorn commented on #303
@gainan it stills not working why?? :/

[2015-09-29 02:08] fat-tire commented on #325
@Krossom It's possible that although it was launched successfully, the exploit itself failed.  There was a discussion this afternoon about how best to show that (since I guess metasploit doesn't have some kind of "didn't succeed" message, though I did think somehow other UIs are able to relay that info...)   Anyway, i added some screenshots for what it SHOULD look like if there is a success.

I do

[2015-09-29 02:17] Krossom commented on #325
Well thanks you very much  @fat-tire, I'm going to close this issue.
Yeah, things go fast so I'm going  to wait the next update.
Lucky you, great team ;3

[2015-09-29 02:17] #325 closed

[2015-09-29 03:35] jonniex7 commented on #43
Getting better with each version!! Ty in advance!! Just rpcd is standby and waiting to connect so much time! S3 4.4.2 QS boeffla kernel

[2015-09-29 03:36] jonniex7 commented on #43
By the way the notification mode of rpcd is brilliant idea!!

[2015-09-29 04:03] hipopcorn commented on #322
@mcilya why? Cause we will talk to each other

[2015-09-29 04:26] mcilya commented on #322
@hipopcorn In google market "hundreds" of IRC clients + its not related to pen-testing

[2015-09-29 06:05] DeveloppSoft commented on #312
Essentially bluesnarfer && bluejacking
Le 28 sept. 2015 22:27, "Settix" <notifications@github.com> a écrit :

[2015-09-29 07:10] sorano commented on #322
This does not at all follow the spirit of cSploit, and like mcilya said there are lots of irc clients for android.

[2015-09-29 07:10] #322 closed

[2015-09-29 07:30] sorano commented on #323
Yeah this is a good suggestion! :+1:

[2015-09-29 08:40] pgolecha opened #327 "Crash while searching for exploits"
Here is the log
http://pastebin.com/rTJTqsdr
Csploit crashes while searching for exploit

[2015-09-29 08:59] pgolecha opened #328 "Cannot restore session"
![screenshot_2015-09-29-14-28-02](https://cloud.githubusercontent.com/assets/14873612/10159533/74187d2e-66b6-11e5-92e5-095dff49e87f.png)

[2015-09-29 09:02] pgolecha commented on #328
Either it does not save it or cannot restore it properly

[2015-09-29 09:12] Rubenoo commented on #328
How to Open an Issue
If you find a bug, weird behaviour, missing translation, a feature not working or anything strange in the application, you are encouraged to open an issue on the appropriate github page here.

For your issue to be considered and solved ASAP please provide the following information while opening it:

Your Device model.
Your ROM name and version.
The version of cSploit your are

[2015-09-29 10:08] pgolecha commented on #328
http://pastebin.ca/3177985
Here is the log
Android 5.1.1
Xiaomi Redmi 1s

[2015-09-29 10:13] pgolecha commented on #229
An option to stop all running process and exit because currently I cannot find a way to stop metasploit rpcd ,closing the app does not seem to work

[2015-09-29 13:04] evertking commented on #229
Any chance that P2P-ADB might be an option? Love the app!! Its came so far in the past few weeks! Tux YOU ARE the man!!!!

[2015-09-29 13:47] mcilya commented on #229
Add Estimated time for inspector module

[2015-09-29 14:35] gainan opened #329 "Exception when restarting the app"
I don't know if due to this change https://github.com/cSploit/android/commit/5c0c02b2623e3c08f51fbbb712407916dbc26646 or the ones related to the services, but if you launch the app, close it, and launch it again, this exception is fired while the network radar is adding hosts like crazy (on lans with ~250 hosts):

    java.lang.IllegalStateException: The content of the adapter has changed but List

[2015-09-29 14:57] Haxin-hipopcorn opened #330 "Whatsapp sniffer"
Is it possible? Sniffing the chats?

[2015-09-29 14:59] Rubenoo commented on #330
It's not, it would be great if it was. But it isnt

[2015-09-29 15:01] Haxin-hipopcorn opened #331 "Team work connected"
It will be nice to  connect multiple csploits, for example, the data collected and others things.

[2015-09-29 15:06] Rubenoo commented on #331
You mean like sharing pcap files that you have saved?

[2015-09-29 16:04] gainan opened #332 "preloadVendors() and preloadServices() takes too much time on old devices"
Edited: the problem is with these 2 methods, which take to load on a htc desire 4s and 11s respectively.

preloadVendors() causes on old devices to display a blank screen on the app start up.
preloadServices() causes several problems when using the Port Scanner.

I will add debug messages with timestamps and post the result here if needed.

[2015-09-29 16:13] gainan commented on #331
@hipopcorn please, explain *in detail* the feature you would like to be implemented, and how it should work, in order to have a better idea of what it is. Have in account that maybe we don't know what you are talking suggesting.

Otherwise the best will be to discuss all your ideas on the irc :)

[2015-09-29 17:14] Tajnymag commented on #330
Even with SSL Split? For example Telegram uses no end-to-end encryption by default. Would it be possible to sniff it then?

[2015-09-29 17:41] xaitax commented on #330
Won't work. Telegram uses a proprietary encryption. SSLSplit/SSLStrip focus on HTTPS->HTTP redirection if there is no HTTPS request initiated by the browser.

[2015-09-29 17:55] Systenix commented on #330
Maybe you can use SSLSplit/SSLStrip to do a redirection from https to http but what **if the datas are encrypted in the client.**
I saw a project that does something like this.
Peps by MLstate: http://peps.in/

[2015-09-29 18:18] Phurkus commented on #254
heres a logcat of the info.
http://pastebin.com/iJQgu1SP
problem is still the same.

have the nightlies been updated ? il try on those agian. how often do the nightlies get updated?

[2015-09-29 18:32] maddog9696 commented on #327
Have same problem. When ran agianst a host with 2 open ports exploit finder runs and shows exploits, no problems! But when ran against a host with either 6 or 7 ports/services, exploit finder fails and Csploit crashes. Have tested this a few times, it works with some hosts (targets with few open ports/services), always crashes with other hosts (tragets with 5+ ports/services running).

Samasung ga

[2015-09-29 18:33] xaitax commented on #254
Usually every 5 hours. But in the past few days I pushed updates more regularly. Might change it to hourly since @tux-mind reduced the build-time tremendously. :+1:

[2015-09-29 18:52] maddog9696 commented on #330
Whatsapp sniffing CAN be done!
Check out: https://www.quora.com/Is-it-possible-to-intercept-hack-a-WhatsApp-conversation-between-two-people
and
http://www.youtube.com/watch?v=qbp8-NzO6Rc

I could be wrong, its been a few months since I'v successfully done it! You must be on the same WiFi and must dycrypt the messages before gaining anything from them.

[2015-09-29 19:00] xaitax commented on #330
It does _not_ work anymore. Period.

[2015-09-29 19:00] Phurkus commented on #254
@xaitax wow that is some serious work you guys putting in 😀😀😀😀 much appriciated 👏👏 and thabks for the info, il try nightly in a bit

[2015-09-29 23:54] hipopcorn commented on #331
@gainan for example, you got some passwords you can  share with others on the same WiFi, like armitage does but not just for exploits, port scanner sharing too, device inspector...

[2015-09-30 00:20] Haxin-hipopcorn opened #333 "Bruteforce WiFi!!"
You use a wordlist to Try the passwords on the wifi, I think this is not difficulty to do!!

[2015-09-30 05:21] Systemad commented on #331
I think this would be useless and does not belong to cSploit.

[2015-09-30 05:27] Tajnymag opened #334 "Statusbar color"
By material design rules, statusbar should be a bit darker colour than actionbar. It's a very low priority, but nobody noticed :) I would fix it by myself, but I'm very busy for this week.

[2015-09-30 05:43] domenicoblanco commented on #333
The only problemi is that to bruteforce a Wi-Fi network we need a wordlist that start with ~6 to 25 characters, this way needs a lot of PB and, if we could create a wordlist like that, our mobiles can test about 1000/2000 key every second. It's not so good

[2015-09-30 05:57] fat-tire commented on #333
Aside from the storage requirements, there is also the issue of power consumption on a mobile device to at least think about.  Not that it's a deal breaker or anything, but brute forcing millions of words could drain a battery fast.

Just putting it out there.

[2015-09-30 05:58] Rubenoo commented on #333
You could just say that is recommended to charge your phone while bruteforcing

[2015-09-30 06:25] mcilya commented on #333
@Rubenoo Then it will be more easily to bruteforce from a laptop

[2015-09-30 06:42] fat-tire commented on #334
Yep, this was caught by @s3r1alpari4h who submitted a [commit](https://github.com/cSploit/android/commit/f9db5411ae7acf6f814897826fe1cb8ee8a6099b) which I merged in today.

I'm guessing by now it's fixed in the latest nightly build.

Thanks!

[2015-09-30 06:42] #334 closed

[2015-09-30 08:39] sorano commented on #331
I'd agree with @Systemad and say this is out of scope for an app such as cSploit.

If @tux-mind disagrees he can re-open this issue.

[2015-09-30 08:39] #331 closed

[2015-09-30 08:40] sorano commented on #332
I have also seen this issue, nothing major, but a bug nonetheless.

[2015-09-30 08:41] sorano commented on #330
Like @xaitax said.

It does not work anymore.

[2015-09-30 08:43] sorano commented on #319
Check out: #335

[2015-09-30 08:50] fat-tire commented on #319
Oh, I didn't even see this as an open issue.  Yeah hopefully I fixed it.  Not the nicest UI or anything but something quick.  Also added the "hail mary" launch all as an afterthought just because the menu item that did nothing kinda bothered me.

[2015-09-30 10:27] Haxin-hipopcorn commented on #333
No guys, you dont nerd a big wordlist, you need to craft a great wordlist, just .
@mcilya you will not found a computer with Linux easier than a charger.
Example of a software like it: [here](http://m.al-shaheen.store.aptoide.com/app/market/cz.auradesign.wibrplus/33/3554472/WIBR%2B+WIfi+BRuteforce+)
Download [here](http://m.al-shaheen.store.aptoide.com/app/market/cz.auradesign.wibrplus/33/3554472/

[2015-09-30 10:55] sorano commented on #286
User has not returned with logs of any kind. Feel free to re-open when you have logs.

https://github.com/cSploit/android/wiki/How-to-open-an-issue

[2015-09-30 10:55] #286 closed

[2015-09-30 11:29] ddos10086 commented on #203
where he is ?
our zanti3
where ?
(ง •̀_•́)ง
🔰

[2015-09-30 11:33] ddos10086 commented on #203
my gad .I'm angry .
maybe  we  need  some  DDOS
👽👽👽👽👽
🔰🔰🔰🔰🔰🔰🔰🔰🔰🔰

[2015-09-30 11:39] Megaeloelo commented on #203
Suka bled XD

[2015-09-30 11:40] sorano commented on #203
@ddos10086
What are you angry about?

Try to keep a friendly tone, threatening with DDoS is not really the way to go.
Also, please refer from spamming useless posts.

[2015-09-30 12:08] ddos10086 commented on #203
sorry
(ಥ_ಥ)

[2015-09-30 12:26] gainan commented on #332
Due to this problem, if you perform a port scanner, and exits from the app, when the event arrives this exception is fired:

    java.lang.ArrayIndexOutOfBoundsException: length=0; index=2
            at java.util.Vector.arrayIndexOutOfBoundsException(Vector.java:907)
            at java.util.Vector.elementAt(Vector.java:328)
            at java.util.Vector.get(Vector.java:442)
            at org.

[2015-09-30 12:35] mcilya commented on #333
@Haxin-hipopcorn ok, so you plugged your phone for charging, and trying to bruteforce wifi, how many passwords can be tried out per sec by your phone? And how much time will it take?

[2015-09-30 15:03] napitek opened #336 "DarkSkin on OnePlusOne"
On my OnePlus the DarkSkin have some problems to visualize
![screenshot_2015-09-30-17-00-33](https://cloud.githubusercontent.com/assets/2965549/10196838/2413e536-6795-11e5-9505-9ff54a15e680.png)

[2015-09-30 15:06] sorano commented on #336
Which version of cSploit is this?

[2015-09-30 15:08] napitek commented on #336
cSploit v1.5.4

[2015-09-30 15:09] sorano commented on #336
That is what I figured.

Try out the latest RC and it should look better:
https://github.com/cSploit/android/releases/download/v1.6.0-rc.2/cSploit-release.apk

[2015-09-30 15:09] #336 closed

[2015-09-30 16:42] domenicoblanco commented on #333
I mada a test and in an armv7 (Nexus 6) I tested about 3500 keys in 3 hours, in my laptop I test 4000 keys in a second

[2015-09-30 16:43] ac27 opened #337 "qui che succede?? ahah"
![screenshot_2015-09-30-18-35-19](https://cloud.githubusercontent.com/assets/14910443/10199829/20cd8cac-67a3-11e5-82d3-a3f4e0fb12c3.png)

[2015-09-30 16:45] domenicoblanco commented on #337
Ciao! Basta riavviare l'app e darle i permessi di root

[2015-09-30 16:48] fabinhojcr commented on #337
Please use the English language

[2015-09-30 17:06] ac27 commented on #337
thanks! sorry i will speak only in english

[2015-09-30 17:06] #337 closed

[2015-09-30 17:10] fabinhojcr commented on #337
@ac27 ok, alright

[2015-09-30 17:36] Haxin-hipopcorn commented on #333
Guys, I know that it's obviously , but its not everywhere you will have your pc, its like better than nothing when you are only with your cellphone .

[2015-09-30 20:04] Rubenoo commented on #319
Haha thank you fat-tire :)

[2015-09-30 20:04] #319 closed

[2015-09-30 20:49] Settix opened #338 "Exploit failed to launch"
Didn't wanted to re-open the other issue because it looks like that only my device gets this problem.
1) Selected a target, 2) did an inspector scan,3) searched for exploits,4) choosed a shellshock exploit, 5) Error at launch..
Bug on ver 1.6.0 rc2 ( xperia z3 )
Here's the logcat :https://gist.github.com/Settix/989c49005e6923bfb334
Thanks for your time, really appreciated :).

[2015-09-30 22:52] Phurkus commented on #254
@tux-mind so nightlies dont work, the newest update still doesnt work. im just gonna wait it out and maybe some day in the future an update will work (: thanks for all the time and effort guys

[2015-09-30 22:57] gainan commented on #332
When we perform a port scan by the first time, we tried to get the port protocol by calling System.getProtocolByPort(port); from onPortfound().

getProtocolByPort() calls preloadServices() to load known services from files/tools/nmap/nmap-services, which takes 21s. That seems to be the culprit of this behaviour.

[2015-10-01 03:56] Haxin-hipopcorn commented on #338
You need to choose a payload @settix does you knows how metasploit works?

[2015-10-01 10:25] dillitimilsena opened #340 "core not installed"

[2015-10-01 10:27] mcilya commented on #340
Please read this: https://github.com/cSploit/android/wiki/How-to-open-an-issue
And add missing info

[2015-10-01 10:27] xaitax commented on #340
Not a proper bug. Reopen with the required information.
https://github.com/cSploit/android/wiki/How-to-open-an-issue

[2015-10-01 11:16] Settix commented on #338
@Haxin-hipopcorn
Sure,I know how msf works, don't worry.I've forgotten to add this step in my description. ( it seemed pretty obvious to me). Anyway, i don't think that it's a payload related problem.. are your exploits launching correctly ? And do you get any opened sessions ?

[2015-10-01 11:33] gainan commented on #332
Workaround for PortScanner (preloadServces()):
by deleting comments (#.*$) and services of "unknown" type from the file nmap-services, the file reduces from ~600KB (~20k lines) to ~80KB (~4k lines), and then it takes to load just 2-3secs.

Does it have any sense to have such a big file to only use 4k lines? @cSploit/android-devs , @users

[2015-10-01 11:39] PTZema opened #341 "Sessions not avaliable"
Hello
When I sucessfull launch a exploit and the "Job started", I go to sessions and no sessions are avaliable...
Is that a bug or my fault?

[2015-10-01 11:41] gainan commented on #332
[nmap-services.stripped.txt](https://github.com/cSploit/android/files/5903/nmap-services.stripped.txt)

[2015-10-01 12:08] #294 closed

[2015-10-01 13:29] gainan commented on #340
@dillitimilsena, thank you for the report!  I' m closing it due to lack of information. If you post all the info that the other guys have requested, I'll reopen it.

[2015-10-01 13:29] #340 closed

[2015-10-01 14:25] Rubenoo opened #342 "(idea) Reaver support"
Its really cool if reaver could be merged into csploit for people that have a device that support reaver, or for people that have a external wifi card.

[2015-10-01 15:18] PTZema commented on #342
Its a very good idea... And something like "router keygen" that works offline and automatically connects to the wireless

[2015-10-01 15:51] Tajnymag commented on #341
The message "Job started" doesn't necesserilly mean, that the launched exploit was successful. It only means, that cSploit was able to run it and successfully ran it :)

[2015-10-01 15:54] Tajnymag commented on #338
At least for me some of the exploits actually show "Job started" toast message, but I've never gotten to any open session. On the other hand, I haven't tested it against a 100% vulnerable device :D

[2015-10-01 16:00] PTZema commented on #341
I think that was successful :/ I'm trying so hard hack my pc but the only exploit that says job started don't open the session... I think that is a bug or something
Thanks :)

[2015-10-01 16:09] Tajnymag opened #343 "Big font in settings"
After update I see a huge text in settings menu. It's easier to show you the screenshots than explaining, so here they are :)

Yesterday's nightly:
![screenshot 1 10 2015 18_03_58](https://cloud.githubusercontent.com/assets/3985946/10226418/8ff053d4-6867-11e5-83a2-163b73836d2d.png)

Nightly from now:
![screenshot 1 10 2015 18_06_31](https://cloud.githubusercontent.com/assets/3985946/10226419/8ff6a

[2015-10-01 17:05] Settix commented on #338
Ok @Tajnymag :)
meh.. guess I will setup a metasploitable virtual machine to test some of the others exploits.

[2015-10-01 17:42] Haxin-hipopcorn commented on #342
the problem is the battery, i think changing ideia to suggestion its better, according to tux-mind: "<tux_mind> for the reaver feature I think that iw's quite useless but if you're ( very ) lucky you can get the wpa key before your phone battery will die."

[2015-10-01 17:43] Haxin-hipopcorn commented on #313
@tux-mind spoofing pages, sms bomber.

[2015-10-01 17:44] Haxin-hipopcorn opened #344 "suggestion: wifi spammer"
imagine, if you can make huge fake clients connecting to the wifi, the ITs guys will be crazy!!. i think it's an awesome feature to implement.

[2015-10-01 17:49] Haxin-hipopcorn commented on #338
@Settix ok try and say if it worked

[2015-10-01 17:51] Rubenoo commented on #342
Oke i understand

[2015-10-01 17:51] #342 closed

[2015-10-01 17:53] Rubenoo commented on #313
Call spoofer maybe?

[2015-10-01 17:54] Rubenoo commented on #344
Or like redirect everyone on the wifi to a custom page that you can make

[2015-10-01 17:57] domenicoblanco commented on #344
You can already do this with the MITM when you attack the subnet

[2015-10-01 18:02] domenicoblanco commented on #344
@Rubenoo You can already do this with the MITM when you attack the subnet

[2015-10-01 18:02] Rubenoo commented on #344
Yeah but i meant that you can upload a custom webpage or site like in social engineering and get the results back you know

[2015-10-01 18:03] fat-tire commented on #343
To anyone who has style issues, I'm going to point you to the `[style.xml](https://github.com/cSploit/android/blob/develop/cSploit/res/values/style.xml#L31-L38)` file, and request you submit any alterations you want.  You can change `PrefsTheme` and `PrefsThemeDark` to whatever you want.  This is, as you can see, the correct default theme based on the original theme (`AppTheme` and `DarkTheme`)

T

[2015-10-01 18:05] Systemad commented on #313
SMS bomber and Call spoofer does not belong to cSploit in my opinion.

[2015-10-01 18:44] Tajnymag commented on #313
I would say it does, but that's also just my opinion :)

[2015-10-01 19:09] gainan opened #345 "Suugestion: add custom and presets parameters for simple sniffer"
I would include a field for type custom tcpdump parameters, and several presets filters: port 21, 22, 25, 80, 110, 143, 20-1000, ...

[2015-10-01 19:19] Systemad commented on #313
As this is an penetration  suite I would imagine it's for networking, and by  looking at it's current features it would be weird to see "SMS Bomber", " Call Spoofer" .
Sending spoofed SMS can be used for various things so maybe. But not call spoofer.
I might not have explained it very well and of course it's up to the cSploit developers.

[2015-10-01 19:49] gainan opened #346 "UI navigation improvements"
From my point of view these changes could improve the user experience of csploit:
- Allow to select a target from Simple sniffer results.
- When finishing a port scan display 2 buttons -> [Service inspector] [login cracker]
- When finishing a port scan, allow to open a connection to the open port found  (fattire).

Would you mind to share how you use csploit? Here's how I do it:
case 1:

- Launch

[2015-10-01 19:51] swerveonem opened #347 "Cannot find core on this device"
I have tried to update the core and right after am prompted with an error that it does not find the core and force closes ..... Please help

[2015-10-01 20:02] gainan commented on #347
Hi @swerveonem , thank you for your report. Please, take a moment to read this page about how to report bugs: https://github.com/cSploit/android/wiki/How-to-open-an-issue

Which version are you using? Have you tried out to restart the app?

[2015-10-01 20:08] swerveonem commented on #347
Tried restarting.   Tried reinstalling.   Made sure it has root permission.   Using version 1.6 rc2

[2015-10-01 20:50] Haxin-hipopcorn opened #348 "Csploit tutorial videos"
https://www.youtube.com/watch?v=nnSfDHVIc1E
here is the first video of the channel!!! like share!!! make csploit popular!!!

[2015-10-01 20:52] Haxin-hipopcorn commented on #313
@Systemad  its for security spoofing calls or sms are all social engineering, giving less security to the users, and i think that is the objective of csploit being an app for pentest, for showing vulnerabilities.

[2015-10-01 20:53] Haxin-hipopcorn commented on #344
@Rubenoo you can already do that

[2015-10-01 21:52] Haxin-hipopcorn opened #349 "new nightly port scanner never show ports"
and never stops

[2015-10-01 23:07] #349 closed

[2015-10-02 05:32] Systemad commented on #313
And how is spoofed calls related to pentesting? I mean, how can it show less security? Vulnerabilities?
(I'm not trying to be rude, you might have more knowledge than me here ) :)

[2015-10-02 05:34] DeveloppSoft commented on #313
@Systemad, social engineering of course !
Le 2 oct. 2015 07:32, "Systemad" <notifications@github.com> a écrit :

[2015-10-02 06:29] gainan commented on #347
Please, upload logs using [logcat](https://wiki.cyanogenmod.org/w/Logcat)

[2015-10-02 06:32] gainan commented on #303
Closing the issue due to lack of information. In case of keep failing, post logcat + pings to www.ettercap.org + dig mx alor.org.

https://github.com/cSploit/android/wiki/How-to-open-an-issue

[2015-10-02 06:32] #303 closed

[2015-10-02 07:48] gainan commented on #327
09-29 13:53:18.881 E/ACRA    (27571):   at org.csploit.android.net.metasploit.Option.<init>(Option.java:55)

The problem is that we fire a RuntimeException intentionally when we find an unknown option, so we force to close the app on Option.java:55. @fat-tire @tux-mind , you have a deeper knowledge of this area, is it mandatory to exit from the app at this point?

[2015-10-02 07:58] sorano commented on #348
Thanks for your contribution. I've linked it from the Tutorials section in the wiki.

If you could change name to cSploit (not Csploit) it would be appreciated.

[2015-10-02 07:58] #348 closed

[2015-10-02 08:31] sorano commented on #341
Like Tajnymag said: "The message "Job started" doesn't necesserilly mean, that the launched exploit was successful. It only means, that cSploit was able to run it and successfully ran it".

So, most likely your computer was patched against the launched exploit and you did not get a session.

I would suggest testing against something like Metasploitable instead of your PC.
https://github.com/cSploi

[2015-10-02 08:31] #341 closed

[2015-10-02 18:26] sorano commented on #269
I think this was solved in version 1.6.0 RC2.

[2015-10-03 00:35] fat-tire opened #350 "Crash: Attempt to invoke interface method 'int java.util.Collection.size()' on a null object reference"
While exploits are loading in.. Here's the [crash](https://gist.githubusercontent.com/fat-tire/add87e9d39d80656c7b7/raw/1f400b2b73c3dd485edc93e7645c7c34f1febaee/gistfile1.txt).  Possible race condition?  Will have to check it out.

This is w/new msf stuff rebased over origin/develop

Checking for null in MsfExploit will fix this, but I think @tux-mind should take a look at the more underlying caus

[2015-10-03 01:47] BEOWULF74 opened #351 "csploit root"
csploit dosent ask for root permission :sweat_smile:

[2015-10-03 02:01] BEOWULF74 commented on #351
iam using this version 1.6.0 RC2

[2015-10-03 02:54] mcilya commented on #351
Can you post additional info in this issue using guide: https://github.com/cSploit/android/wiki/How-to-open-an-issue

[2015-10-03 08:28] fat-tire opened #352 "Show a port count for each host in the main cSploit "target" screen."
I mean auto-portscan (overrideable in settings) for each item found on the main screen and show the number of ports on the main screen.  This could be done via the "fast" SYN portscan.

Because I don't want to make feature suggestions without contributing something myself, I took a first crack at it and the results are [here](https://github.com/fat-tire/android-1/commit/ce2e9c85c80b761eaaeb41a49f1

[2015-10-03 08:35] fat-tire opened #353 "Grey out/Disable Unavailable Actions..."
1.  There is no reason that a Exploit Search should be a clickable option before the Service Inspector has been run.  It will just boot you out.

2.  If there are no Services available, there's no reason the action item should be visible/clickable.

(can you think of more?)

[2015-10-03 08:40] fat-tire opened #354 "Remember previous text values in MITM forms and other text dialogs."
Rather than having to re-enter values into these online dialogs, it would be far better if it just remembered what you used the last time.

Save all these things as SharedPreferences...  should work fine.  There are a lot of them, so if someone wants to volunteer to store and restore them, that would be dandy!

[2015-10-03 08:50] gainan commented on #353
Login cracker. It depends on PortScanner or Service Inspector.
The Sessions button is only available if the MSF rpc is connected.

[2015-10-03 08:52] fat-tire commented on #353
Actually there might be a lot of msf commands that depend on the msfrpcd being connected.  Probably need a master onMSFdEnabled() just to enable/disable those commands/actions...

[2015-10-03 09:46] fat-tire commented on #352
Branched to:

https://github.com/cSploit/android/tree/show_portcount   & @tux-mind is looking over

[2015-10-03 10:10] gainan commented on #323
WiP #352

[2015-10-03 13:24] tux-mind commented on #352
fixed some little things :heart:
the most noticeable mistake is the `Thread#run` call instead of `Thread#start`, Threads are usually run asynchronously :wink:

for the rest you made a great work @fat-tire :blush:

I just changed it a little to be more event-driven.

thanks for this great feature :blush:

### TODO

  - enable/disable from settings
  - use nmap scan on network [ is not possible as n

[2015-10-03 13:40] Haxin-hipopcorn opened #355 "Notify and sounds"
For example, you got porta scanneds, a notify and a sound appears, ouro service inspetor, or you got a password in password sniffer... It will be awesome!

[2015-10-03 13:42] Haxin-hipopcorn opened #356 "Mark things you do to lovalize"
For example you choose a target, when you come back it stays marked and you know that this target was tour last one, Luke when you double click a file in windows,mac,linux and it appears marked

[2015-10-03 18:38] vellrya opened #359 "Traceroute and Inspector fails ( nmap does not run on promiscuous interfaces )"
All functions not work on ZenFone 6. Only Mitm work.
When I press "Start" button, I see loading process and all. I don't see results.

[2015-10-03 18:53] gainan commented on #359
Thank you for the report @vellrya. We need logs, the version of csploit you are using, which module is not working, etc..
https://github.com/cSploit/android/wiki/How-to-open-an-issue

[2015-10-03 21:45] vellrya commented on #359
Ok, sorry. I'll try to give need information.
My device is Asus ZenFone 6 with Android 5.0 and ZenUI.
I'm use a latest version of Csploit (1.6.0 RC. 2.) But and other versions have this bug. (Nightly-build, 1.5, etc)
I don't use any Xposed module, but I have fully-installed latest BusyBox

App start ups ok.
Network hosts list appear and are clickable.
Select the MITM module works.
Module "Инспекто

[2015-10-03 21:46] Rubenoo commented on #359
@vellrya and the logcat?

[2015-10-04 00:09] maddog9696 commented on #355
Could you please take a look at your post and correct mistakes so devs can hear out your suggestion! Maybe just me, but I don't think that is English ;)

[2015-10-04 05:03] Haxin-hipopcorn commented on #355
@maddog9696 sorry automatic corretion... u know...

[2015-10-04 05:03] #355 closed

[2015-10-04 05:04] Haxin-hipopcorn opened #361 "sounds and notify when something happen"
be notified with sounds or notifications when your port scanner finished, or when you got a session, or when you found a password... it will be nice!!

[2015-10-04 05:05] Haxin-hipopcorn commented on #351
give us more info please, use catlog, or you can close the issue, thanks

[2015-10-04 08:45] fat-tire opened #362 "show_portcount: manually added hosts and routers not scanned"
@tux-mind could you take a look at these two cases:

1.  a host added via the + button doesn't seem to be scanned,
2.  neither is a router.

ALSO:  Even if you go and SYN scan the added host, the result doesn't appear when you return to the list until you let the host scroll off the screen and then scroll it back.

I think I went a bit offtopic in that branch with some aesthetic commits, but c'est

[2015-10-04 10:16] tux-mind commented on #321
Hi @Haxin-hipopcorn , thanks for the report.

can you explain the steps to reproduce this ?

  - search for exploit on target A
  - switch to target B, which has some exploit
  - edit target B exploit option

right ?

[2015-10-04 12:43] #328 closed

[2015-10-04 12:44] tux-mind commented on #328
thanks for the report @pgolecha :blush:

[2015-10-04 12:49] tux-mind commented on #229
@evertking thanks for the compliments, but we get so far only thanks to all other great contributors :wink:

anyway please open an issue for the awesome [P2P-ADB](https://github.com/kosborn/p2p-adb/) idea if you didn't yet.

@mcilya I think that someone was already working on it :wink:
we talked about it on freenode.

[2015-10-04 12:53] tux-mind commented on #329
thanks for the report @gainan , I've also seen this bug reported by other users using ACRA.

working on it.

[2015-10-04 13:05] evertking commented on #229
Would it be possible to have an option to create a     apk and send to a target to exploit an android phone?

[2015-10-04 13:08] Tajnymag commented on #229
Or an Stagefright aware media?

[2015-10-04 15:09] tux-mind commented on #330
nothing is impossible.
if you are performing a MitM attack and have the appropriate tools to emulate the server you can get enything.

anyway this can be compared to a CTF challenge IMHO.
WhatsApp protocol is described [here](https://github.com/WhisperSystems/TextSecure/wiki/ProtocolV2).
so if we successfully strip/split SSL and emulate the whatapp server we hsould be able to sniff whatsapp conver

[2015-10-04 15:22] gainan commented on #359
no problem @vellrya thank you for the info btw :) as Rubenoo has said, we need logs from the logcat program. see if you can get them:
http://forum.xda-developers.com/showthread.php?t=1726238
https://wiki.cyanogenmod.org/w/logcat

For the Трассировка module, do the following:
- On the hosts list, click on the "+" button, and add 8.8.8.8
- Select the new added target, and select Трассировка. You sho

[2015-10-04 15:55] tux-mind commented on #336
thanks for the report @napitek , nice to see you there :wink:

[2015-10-04 15:56] tux-mind commented on #337
duplicate of #278

[2015-10-04 15:57] tux-mind commented on #336
duplicate of #284

[2015-10-04 16:13] tux-mind commented on #333
no no no.
@Haxin-hipopcorn thanks for the suggestion but I have to absolutely reject this.

we can tolerate a WPS bruteforcing, it's "only" 11,000 attempts.

WPA cracking cons:

  1. generating a single key it's a **VERY** cpu-intensive task
  2. for **1** it has a high power requirement **per-key**
  3. for **1** it will make your device unusable
  4. you need to try up to **6,095,689,385,410,820

[2015-10-04 16:13] #333 closed

[2015-10-04 16:20] tux-mind commented on #254
@sorano this issue isn't resolved yet :wink:

@Phurkus thanks for the logcat, it looks like you didn't totally removed the Xposed framework, I can see it's stuff in the logcat.

how ever I will release an apk for you to debug this issue.
I'll keep you posted.

thanks for your great collaboration :wink:

[2015-10-04 17:47] evertking commented on #229
@tux-mind I know this is a bit off topic ;) but where would you suggest as a starting point for a noob to start learning so one could jump in here and contribute? All I have is a laptop.

[2015-10-04 17:52] newbie442 commented on #351
Hey BEOWULF74 , check out settings>superuser, and look to see if SU was denied. Denied is the default if you don't grant it quickly, and during installation cSploit can slow things down a bit.

If so, click on the denial, hold, change to accept.

HTH

[2015-10-04 18:05] newbie442 opened #363 "1.6.0 RC2 seems to work pretty well here :-)"
1.6.0 RC2, Note 2, CM 11

Haven't tested it extensively, but it seems to work pretty well for me :-)

Initial installation does take a bit of time, and can appear to hang up during d/l install of various libraries. I'd guess this is a function of the device used, internet connection, other processes competing for resources, etc.

There is no indication in the main window that the download/install

[2015-10-04 18:06] newbie442 opened #364 "1.6.0 RC2 seems to work pretty well here :-)"
1.6.0 RC2, Note 2, CM 11

Haven't tested it extensively, but it seems to work pretty well for me :-)

Initial installation does take a bit of time, and can appear to hang up during d/l install of various libraries. I'd guess this is a function of the device used, internet connection, other processes competing for resources, etc.

There is no indication in the main window that the download/install

[2015-10-04 18:08] #363 closed

[2015-10-04 18:17] newbie442 opened #365 "Teach users that want to open an issue"
When posting, it might be helpful to others/op to indicate the version tested (not "latest version"), the device used, and the ROM used.

There could be some screwy bug that occurs only on, e.g., CM5.0 Note2, and a pattern may evolve - helping to track down the cause.

[2015-10-04 18:19] uranium-waffles commented on #352
Maybe it could do something like zAnti2 where you can scan the entire network which includes ports and vulerabilities in the main cSploit screwn.

[2015-10-04 18:19] uranium-waffles commented on #352
Sorry, *screen

[2015-10-04 18:23] BEOWULF74 commented on #351
Solved I reinstalled csploit thx everyone

[2015-10-04 18:23] #351 closed

[2015-10-04 18:30] Phurkus commented on #254
@tux-mind yeah i didnt want to completly remove xposed 😏☺ and thank you, greatly appriciate your work 👏😀

[2015-10-04 18:31] #364 closed

[2015-10-04 18:37] evertking commented on #229
Just one more noob request ;) maybe a cSploit scripts add on like dsploit but more geared toward pentesting? Can that even be used for testing or is that more like pranks? Where can I donate at to help ya out in anyway.
Again thanks for all your hard work, everyone. This app has peaked my interest and find my self spending a lot of time checking for updates and trying to learn. Its shocking how ea

[2015-10-04 19:23] vellrya commented on #359
Sorry for the delay. Logcat available here: http://pastebin.com/uxb1fHBB

[2015-10-04 19:24] gainan commented on #365
you're right @newbie442 , and we've got a guide for report bugs:
https://github.com/cSploit/android/wiki/How-to-open-an-issue

it would be better if when opening a new issue the users could see that link, but it's not possible at the moment (I think)

[2015-10-04 19:25] vellrya commented on #359
I'll try add 8.8.8.8 host, use "Трассировка" module and see... nothing) Probably, logcat help us)

[2015-10-04 20:13] gainan commented on #359
ok, it's a nmap problem.

is any interface in monitor/promiscuous mode by any chance?

post if you can the output of this command:
/data/data/org.csploit.android/files/tools/nmap/nmap -iflist -d3

[2015-10-04 20:15] tux-mind commented on #359
http://it-ovid.blogspot.it/2012/05/nmap-routedstnetlink-cant-find.html

footnote after **UPDATE**

it's a readiotap library issue.

[2015-10-04 20:19] tux-mind commented on #359
ok, solution is pretty simple: update nmap from upstream.

it will also update the detection lua scripts :wink:

will do it soon @vellrya , just hang on some day.

[2015-10-04 20:50] tux-mind commented on #338
@Settix I increased verbosity in 399e0fef079e0cd7df93813bc20cc2ff9e2d2420 .

please try again with the nigthly build and share a logcat if you can.

thanks for report :wink:

[2015-10-04 20:56] tux-mind commented on #342
duplicate of #320 ( even if WPS bruteforcing does not require monitor mode )

an it is **NOT** closed.

I think that this is a minor feature, but it won't require so much work, so let's make it.

obviously it has a low-priority ...

[2015-10-04 21:00] tux-mind commented on #343
I'm not an UI expert, but if a View behave differently from our expectation shouldn't be a bug ?

decision it's up to you @fat-tire :wink:

[2015-10-04 21:40] sythe179 opened #367 "Cannot start process"
Htc m9 doesn't start the metasploit RPCD

[2015-10-04 21:46] sythe179 commented on #367
Latest version of csploit
Htc m9, default rom.

All packages download and install, but fails to start the RPCD. I'll add a logcat when I am able to.

[2015-10-04 21:49] tux-mind commented on #344
@Haxin-hipopcorn I didn't understand what is the feature request.
please explain in detail and thanks for your time :wink:

[2015-10-04 21:54] tux-mind commented on #347
@swerveonem closing for laks of info.

feel free to reopen if you get the logcat with the problem.

thanks for the report :blush:

[2015-10-04 21:54] #347 closed

[2015-10-04 22:02] tux-mind commented on #269
no @sorano this wasn't solved yet, thanks anyway for maintaining the issues :wink:

[2015-10-04 22:08] fat-tire commented on #343
This may be a bug, but [it's not our bug](https://stackoverflow.com/questions/32070670/preferencefragmentcompat-requires-preferencetheme-to-be-set).  When Google [fixes it](https://code.google.com/p/android/issues/detail?id=183376), we should get the smaller font back.  That said, I actually don't think it hurts the readability or anything to have it larger.

I think we can close it, and when the

[2015-10-04 22:18] tux-mind commented on #323
not exactly the same stuff of #352

as now, on the show_portcount branch, we make a quick scan on every found host.
I personally think that this is quite crappy.

It's more smart to trigger a network quick port scan on startup.
sadly right now the [nmap handler](https://github.com/cSploit/android.native/blob/master/cSploitHandlers/nmap.c#L57) supports only per-host scan.

anyway the cSploitd proto

[2015-10-04 22:39] gainan commented on #323
yeah, that's exactly what I thought of #352, map the net on start up.
A scan of a subnet returns per port open (extremely fast btw): "Discovered open port 22/tcp on 192.168.1.1", so it's quite close to the current regex. Adding this option would ease to map the net, I guess.

[2015-10-04 22:57] fat-tire commented on #320
Re:  reaver  see [here](http://forum.xda-developers.com/showthread.php?t=2456888).  Just posted for reference.

[2015-10-04 22:59] tux-mind commented on #361
for session: I'm working on it.
for other things we may give it a try :wink:

probably a shared notifier service will be useful.

[2015-10-05 00:32] tux-mind commented on #363
hi @newbie442 . I didn't get the point.

what is the issue ? can you explain it better ?

[2015-10-05 00:37] tux-mind commented on #351
cSploit should alert you that root permissions are missing on boot.
so you get a good idea of what is the problem and solve it.

feel free to reopen the issue if the application didn't show you a warning about missing root permissions.

thanks for the report anyway :wink: