[2014-11-03 08:41] tux-mind opened #1 "exec returns EACCESS"
cannot start programs over certain devices, where exec returns EACCESS.

[2014-11-03 15:03] pascalpfeil opened #2 "-"
-

[2014-11-03 15:05] fabinhojcr opened #3 "Great initiative"
I am glad that you will continue the project and will not let it die. Really good tux-mind.

[2014-11-03 16:01] 1234xm4321 opened #4 "can not run"
can't run on rooted gt-n8000 with android 4.1.2

[2014-11-03 19:16] #2 closed, assigned to nobody

[2014-11-03 19:17] #3 closed, assigned to nobody

[2014-11-03 22:38] danktx opened #5 "freezing in Settings"
hey tux,

thanks that you forked dsploit.

I got some problems.
 -freezing when opening settings and more
and
 -metasploit install failed

Part1
http://pastebin.com/EYshJmff

Part2
http://pastebin.com/diKeAWPz

Moto G
cm11 nigthly

[2014-11-04 04:59] ada-af opened #6 "Ruby install fail"
Error while unpacking: https://www.dropbox.com/s/gn3zmf04j2p2wyq/ruby.txt?dl=0

And error while dowloading: https://www.dropbox.com/s/52dk04wx5i5wbsj/download.txt?dl=0

If it cant be installed automatically now then how i can install it manually?

[2014-11-04 11:43] tux-mind opened #7 "which: standard output: Bad file number"
when starting "which env" stdout pipe has some problems.

reported by @danktx

logcat: http://pastebin.com/raw.php?i=EYshJmff

[2014-11-04 13:46] #4 closed, assigned to nobody

[2014-11-04 14:18] #6 closed, assigned to nobody

[2014-11-04 15:22] Synthesid opened #8 "install cSploit beside dSploit"
It's the note-type issue, the developer is working on the solution.

[2014-11-04 15:40] 1234xm4321 opened #9 "dlopen cannot open shared libraries"
error
heart attack!
cannot start process
http://pastebin.ca/2868552

[2014-11-05 07:34] #9 closed, assigned to tux-mind

[2014-11-05 12:57] rigid opened #10 "msf installation fails ( gem install ignore compiled gems )"
Has this issue (also originally in dSploit) been resolved already? I still can't install MSF with the latest https://github.com/cSploit/android/releases/tag/v1.2.1-issue.9

[code]

[2014-11-05 14:02] tux-mind opened #11 "'rm' does not support options"
user @1234xm4321 reported this in a wrong thread/issue.
logcat: http://pastebin.ca/2868753

the command "rm -rf /path/to/directory" returns 255 ( -1 ).

expected behaviour is the 0 return value, as target directory surely exists and root can delete it.

[2014-11-06 08:28] #7 closed, assigned to tux-mind

[2014-11-08 10:37] CHEF-KOCH opened #14 "Inform user that ruby/msf directories can be wiped"
Hello,  thanks for the new dsploit. But I found a very critical problem that is reproducable on my devices.
- csploit 1.2.3rc and solid explorer needed (should works with other file manager apps too)
- open csploit, now let it try to download both packages
- the release package will now return 1 code
- re-try to download it,  now it take some time on the extracting process
- open now solid explore

[2014-11-08 11:55] ada-af opened #15 "[Request] Active settings button"
All time that dSploit (now cSploit :wink: ) exist - settings button is inactive when wifi is off. Maybe it can be set active when wifi not connected/disabled.

[2014-11-08 12:41] 1234xm4321 opened #16 "gem update error"
i can't update json-1.8.0-arm-linux.gem .it said an error occurred while downloading the update

[2014-11-09 16:19] norbertc opened #18 "compile the tools with PIE"
This is to support upcoming Android 5.0 Lollipop, wherein position-independent executable is now mandatory.

[2014-11-10 08:54] #16 closed, assigned to nobody

[2014-11-10 10:16] #15 closed, assigned to tux-mind

[2014-11-11 02:08] #8 closed, assigned to tux-mind

[2014-11-11 09:23] Synthesid opened #19 "cSploit 1.2.3. is still trying to replace dSploit nightly"
Well, the topic pretty much says it all.

[2014-11-11 12:30] #19 closed, assigned to nobody

[2014-11-11 19:21] Systemad opened #20 "metasploit error"
I just downloaded csploit because I really liked dsploit. I started it and it asked for ruby and metasploit and then igot this error. http://imgur.com/S3xiQ2c

[2014-11-11 20:01] dobrik opened #21 "Session Hijacker: only 2nd level domain shown"
hi! On Session Hijacker do not working with domain 2nd level.I will see "gorod.dp.ua" as "dp.ua".

[2014-11-14 01:43] #20 closed, assigned to nobody

[2014-11-14 02:52] nightrobin opened #23 "Installing gems for msf failed"
When a prompt appears, I clicked YES to update the msf, but later on it fails. Do I have to choose different branch of msf other than release?

[2014-11-14 09:09] Xefir opened #24 "Crash on Lollipop"
Hi !

dSploit as same as cSploit crash at start on Android 5.0 Lollipop.
Here is my logcat :

[code]

If you have an idea ^^"
Thanks :-)

[2014-11-14 12:08] #23 closed, assigned to nobody

[2014-11-16 19:45] triger69 opened #25 "MSF failed to update."
The csploit update seems to work but I can't seem to get the MSF to install.

[2014-11-17 10:38] #25 closed, assigned to nobody

[2014-11-18 22:48] joebywan opened #26 "stuck installing MSF gems"
Start the software, prompts to update MSF. Click yes, and update gets stuck on installing gems. Kitkat4.4 nexus 5.

[2014-11-19 04:05] Efreak opened #27 "busybox info"
Please explain exactly which utilities _**every** utility_ means, or a list of the minimum set of commands that are required to be available.. Different busybox distributions include different applets. Cyanogenmod comes with busybox preinstalled, but [this](https://play.google.com/store/apps/details?id=stericson.busybox.donate) (for example) has far more applets available.

[2014-11-21 19:58] #27 closed, assigned to nobody

[2014-11-24 12:16] #26 closed, assigned to nobody

[2014-11-27 08:11] ada-af opened #30 "How can i compile cSploit?"
How to compile all csploit modules in android studio or anything else?

[2014-11-27 09:24] #30 closed, assigned to nobody

[2014-12-01 19:40] mayer-ch opened #31 "ruby infinite update loop"
Would you please update the Version of pg in your gist-file https://gist.githubusercontent.com/tux-mind/9c85eced88fd88367fa9/raw/gems.json to 1.17.1 to fix the infinite update loop of ruby ?

[2014-12-01 20:34] #31 closed, assigned to tux-mind

[2014-12-02 22:02] theobromine opened #32 "cannot set packages directories with superuser."
Whenever I try to change or set a directory for any of the packages, it tells me that the directory does not support the creation of executables. This leads me to not being able to start meta sploit and etc

[2014-12-03 14:26] Systemad opened #33 "Heartattack"
I downloaded csploit nightly today, and every time I start the app . Screenshot http://imgur.com/uiaCrt8

[2014-12-06 23:51] nivong opened #34 "Mitm password sniffing. Can't start"
I just tried password sniffing and it shows a toast that it isn't able to start the sniffing. All the other sniffing works . where are the log files located?
Running on the oneplus one 4.4.4 AK kernel with stock rom.

[2014-12-20 18:06] #33 closed, assigned to nobody

[2014-12-20 18:10] #10 closed, assigned to tux-mind

[2014-12-21 20:04] Ottavio97 opened #35 "MSF still doesn't work for me"
Hi @tux-mind,
I felt happy when I knew the #10 issue was closed and resolved. Immediately I uninstalled my own built version and installed release 1.2.4 . Previously I removed ruby and MSF, so it was a clean install. I reinstalled everything and then.......SAME THING! cSploit can't connect.
It show Start MetaSploit RPCD. I click it.
It doesn't return anything, no toast message, nothing.
I try the

[2014-12-23 10:48] tux-mind opened #36 "corrupted ethernet addresses from android kenrel"
on some devices ( tested on Nexus 4, 4.4.4 KTU84P ) the android kernel return a corrupted ethernet source and destination address in certain conditions ( probably when device buffer is full or under heavy usage ).

i opened a [bug on android AOSP](https://code.google.com/p/android/issues/detail?id=81370), but no one answered me.

[2014-12-23 23:20] smarek opened #37 "F-Droid releases"
Hello developers,

is there anything currently blocking the f-droid release channel?
Such as code licenses, your personal/project stance against f-droid, pre-compiled binaries being used without optional 3rd party verification, or so?

Since dSploit is taken down from all distribution channels and is currently replaced with binary only release of Zanti2 (whatever it is), I'd really like to help yo

[2014-12-24 07:34] GhostSamurai opened #38 "Installing gems..."
My device(GS4) says installing gems for MSF but it has not downloaded it just stays stuck there. Is the file really big? It has been saying downloading for the past 5-10 mins. Should I just let it run or try to start it over? Thank you. Great work I look forward to get this up and working like I had Dsploit working on my GS4.

[2014-12-27 21:12] zardanadam opened #39 "please help me :("
p}
[DEBUG  ] send_message: message sent (fd=2)
[DEBUG  ] send_message: { seq = 3, size = 12, id = 2, data = '\x00\x00\x05\x00.h\x00\x00\x0A$\x06e' }
[DEBUG  ] send_message: message sent (fd=2)
[DEBUG  ] send_message: { seq = 4, size = 12, id = 2, data = '\x00\x00\x07\x00\x88c\x00\x00\x0A$SV' }
[DEBUG  ] send_message: message sent (fd=2)
[DEBUG  ] send_message: { seq = 2, size = 6, id = 0, data = '

[2014-12-27 21:21] zardanadam opened #40 "cSploit crash"
sorry i dont know english :(

Please help me :((

Htc one m7 4.4.3 custom rom - csploit 1.2.4 installed
supersu 2.40 full + busybox pro
Cannot start process :(

Data/data/org.csploit.android/files/csploitd.log

[DEBUG  ] connection_writer: started (fd=1, tid=10019432)
[DEBUG  ] connection_worker: started (fd=1, tid=10020016)
[DEBUG  ] connection_reader: started (fd=1, tid=10020600)
[DEBUG  ] read_

[2014-12-28 14:45] damks opened #41 "startup crash"
Hey tux,

I've got a problem at starting cSploit. It will always crash.
cyanogenmod nigthly (superuser, full busybox)

The log can be found here: http://pastebin.com/7NUq7bm3
(includes installing / uninstalling csploit, removes Appdata etc..)

[2015-01-02 16:54] keaneokelley opened #42 "Heart attack, pie"
I left this as a comment on a closed issue, but perhaps it should be a new one. I am still getting heart attack on the latest nightly and release, Nexus 5 on CM12. http://pastebin.com/hEumYbEX
I notice two things in this log: 1. The socket it is looking for does not exist (I double checked /dev/socket) 2. Only PIE execs are supported, meaning we can't just run a native binary out of any directory.

[2015-01-06 12:18] minguccio86 commented on #24
Hello everyone, we have news for csploit on lollipop?

[2015-01-08 21:51] erionialb commented on #42
This is a problem with android 5.0, must flash this file on recovery that u can download from here :                                                                                                                                         "http://forum.xda-developers.com/attachment.php?attachmentid=3061976&d=1418466953"

[2015-01-08 21:53] erionialb commented on #24
This is a problem with android 5.0, must flash this file on recovery that u can download from here : "http://forum.xda-developers.com/attachment.php?attachmentid=3061976&d=1418466953"
. before doing this you must completely delete csploit and all his component. it will help with the sniffing and Heart attack. enjoy

[2015-01-08 21:54] erionialb commented on #18
This is a problem with android 5.0, must flash this file on recovery that u can download from here : "http://forum.xda-developers.com/attachment.php?attachmentid=3061976&d=1418466953"
. before doing this you must completely delete csploit and all his component. it will help with the sniffing and Heart attack. enjoy

[2015-01-08 22:41] minguccio86 commented on #24
@erionialb  I tried but nothing. does not work

[2015-01-08 23:03] erionialb commented on #24
[Android 'L'] Bypassing the new PIE security check
http://forum.xda-developers.com/google-nexus-5/development/fix-bypassing-pie-security-check-t2797731/page7

[2015-01-08 23:20] keaneokelley commented on #42
Yes, however that is a band-aid fix and device modifications as such should not be required for an app to work. There needs to be a better solution.

[2015-01-08 23:46] erionialb commented on #42
this is the only solution that i found for now and it is not only for csploit but for all the sniffing and spoofing tools that don't work on android 5.0 because of pie restriction.it's just until the kernel sorce will be dropt from google

[2015-01-12 12:09] tux-mind commented on #24
sorry for still inactive for so long, I spent holidays with my girlfriend's family, aware of my workstation.

@erionialb this issue is not related to the PIE error you talked about. PIE is only for dynamically linked executables. cSploit uses statically linked executables ATM.

working on it right now...

[2015-01-12 12:50] tux-mind commented on #24
can someone test [this pre-release apk](https://github.com/cSploit/android/releases/tag/v1.2.4-issue1%2Bv1) ?

uninstalling or delete app data is not required.

thank you in advance :blush:

[2015-01-12 12:50] tux-mind commented on #24
Oooops, wrong thread, sorry.

[2015-01-12 12:51] tux-mind commented on #1
can someone test [this pre-release apk](https://github.com/cSploit/android/releases/tag/v1.2.4-issue1%2Bv1) ?

uninstalling or delete app data is not required.

thank you in advance :blush:

[2015-01-12 12:57] tux-mind commented on #37
Hi @smarek .

I will really appreciate to see cSploit on F-droid , but it download some compiled stuff like ruby as optional plugin. also cSploit perform an internal check for updates, which is against F-droid rules.

the compiled Ruby is generated by cSploit sources on github and user confirmation is required.
also we can disable the internal update stuff is F-droid will do it for us.

maybe you

[2015-01-12 13:00] tux-mind commented on #39
Hi @zardanadam thanks for the log.
can you explain what are the bad behaviour ?

post also the logcat ( you posted only the daemon log ).

thanks for your contribute.

[2015-01-12 13:04] tux-mind commented on #41
thanks for the logcat, can you provide additional info about the device ?
model, android version...

thanks in advance.

[2015-01-12 13:09] smarek commented on #37
@tux-mind Hi, thanks for follow up.

Basically there are few rules to pass the community validation rules:
1) Use as little permissions as possible
2) Don't use external tracking services, or allow to disable them on buildscript level
3) Don't use pre-compiled binaries, if it's not possible to verify them (eg. without published sources)

So if you could simply add the buildscript configuration, to

[2015-01-12 13:15] mvdan commented on #37
A few things to note:

* We have ruby installed on the buildserver, which is a debian testing virtual machine
* libs/*.jar also count as pre-compiled binaries
* We don't forbid self-updating apps, but in many ways that feature should be avoided because it's redundant and most of the time it won't work with F-Droid because of signature mismatches.

Rest looks fine to me.

[2015-01-12 13:30] mcilya commented on #1
Still cannot start process
Catlog https://www.dropbox.com/s/cxdun06m7e7u5xn/2015-01-12-23-24-51.txt?dl=0

csploitd.log https://www.dropbox.com/s/nz0p1k2dm7mfp6p/cSploitd.log?dl=0

[2015-01-12 14:08] koenhendriks commented on #24
If it helps in anyway, that release still crashes on my Nexus 6 stock

[2015-01-12 17:49] damks commented on #41
Oh of course....

Moto G
Droid: 4.4.4

[2015-01-12 18:00] tux-mind commented on #1
it didn't installed new tools...
can you clear app data or uninstall and re-install ?

i changed the app version to `1.2.4-issue1+v1` thus to make it reinstall the binaries, but it didn't work...

thanks in advance @mcilya

[2015-01-12 18:08] tux-mind commented on #32
sorry for the late reply.

@WanderingFool yes, a logcat will help.
please report also your device model and android version.

[2015-01-12 18:13] tux-mind commented on #35
@Ottavio97 please post the logcat of a failed startup.

you can obviously use your phone to do everything else while waiting for MSF RPC Daemon.

[2015-01-12 18:26] tux-mind commented on #40
@zardanadam it seems that you are experiencing a crash of the app.

not a `cannot start command` error.

anyway, can you post the logcat after cSploit crashes ?

thanks for your time :)

[2015-01-12 18:26] tux-mind commented on #40
@Jakssoul i cannot understand what is your issue.
please post a logcat.

[2015-01-12 18:36] tux-mind commented on #38
@1234xm4321 you are affected by #11 , you can fix it by installing busybox for the moment.

@GhostSamurai i cannot detect the problem from your log.

can you reproduce and post both logcat and cSploitd.log ?
thanks in advance for your time :blush:

[2015-01-12 18:38] Ottavio97 commented on #35
I'll do a clean install of MSF and Ruby and I'll leave it longer. Though Before I start , can you tell me about what time does MSF RPCD need to start? Thanks

P.S. @tux-mind Does your MSF start successfully?

[2015-01-12 18:38] tux-mind commented on #38
@WanderingFool thanks for your help in helping people there :smiley:

the `installing gems...` process is slow because it install a lot of gems from rubygems.org

[2015-01-12 18:51] tux-mind commented on #33
@keaneokelley thanks for the report.
building it statically will fix the issue, but will increase binary size.

since the daemon it's a long-lived process i prefer to provide 2 different versions of the binaries.

please open a new issue so i can refer to that one.
this is related to an old mistake i made with a pull request.

[2015-01-12 18:53] tux-mind commented on #33
@keaneokelley nevermind, it has already been reported in #18 .

will fix ASAP.

[2015-01-12 18:54] tux-mind commented on #18
@erionialb that method is just a workaround.
i'll provide a copy of the binaries that work on PIE-only devices.

[2015-01-12 18:55] tux-mind commented on #42
duplicate of #18

@keaneokelley sorry for sending you many messages, but i read notifications by date :wink:

[2015-01-12 18:55] #42 closed

[2015-01-12 19:05] tux-mind commented on #37
thanks for the info guys !

cSploit use a lot of permissions.
a network map or a MITM attack use a lot of privileged parts of the OS.
but this respect the "as little as possible" XD

actually no tracking service are used. BTW i wish to use a crash handler in future.

all binaries sources are public.

@mvdan using maven instead of `libs/*.jar` is acceptable ?

can you explain what do you mean with

[2015-01-12 19:07] smarek commented on #37
@tux-mind yes, release on F-Droid is signed by FDroid keys, so it would mismatch signature on your releases (ad auto-update function)

And yes, Maven is acceptable over `libs/*.jar` dependencies

Crash handler is OK, as long as it does not act without user consent (eg. it's optional in settings, or will pop out dialog to user before sending anything)

[2015-01-12 19:46] tux-mind commented on #41
probably it's caused by the hundreds of sockets opened by the network discovery.

will fix with the `network-monitor` utility.

[2015-01-12 19:50] tux-mind commented on #35
@Ottavio97 on your device it should take up to 3 minutes. it really depend on IO speed and access time.

and yes, my MSF start successfully :wink:

I have a Nexus 4, AOSP 4.4.4

[2015-01-12 20:20] tux-mind commented on #37
OK, will do this.

but now i have to fix tens of bugs :grin:

[2015-01-12 23:10] mcilya commented on #1
I think it doesnt work on my phone
It says cannot start process on startup
Log https://www.dropbox.com/s/silan6zugs53x21/2015-01-13-07-40-20.txt?dl=0

Csploitd.log https://www.dropbox.com/s/nz0p1k2dm7mfp6p/cSploitd.log?dl=0

[2015-01-13 09:31] alexmanner commented on #1
Hi Tux-mind. It is the same for me. CSploit will immediately crash after I have opened it. I have a Nexus 6 which runs 5.02.

Many thanks for your great work.

[2015-01-13 10:10] mcilya commented on #1
@alexmanner your phone is affected by #24

[2015-01-13 13:51] alexmanner commented on #1
@mcilya Yes, you are right, thanks for this. :-)

[2015-01-13 13:54] mcilya commented on #1
@alexmanner no problems :wink:

[2015-01-13 17:02] Xefir commented on #24
FYI, this is exactly the problem I have currently with android 5.0.1

https://stackoverflow.com/questions/13384801/in-jelly-bean-android-4-1-have-error-occured-open-failed-emfile-too-many

I don't understand how compile the two others repositories required to make cSploit work so I can't test to disable the keepAlive property.

Maybe you could test

[2015-01-13 20:01] Systemad opened #43 "MSF update error"
So I get "Error occurred during update" or something like that when I download MSF(the msg pop-up after it gets 100% on "extracting" and every time istart the application I get toast msg "cannot start process" (I believe it's #1), I also tried with the new latest pre-release and same error occurred.
Here is my logcat : https://ghostbin.com/paste/8j6x8 (device info can be found here also)
and I got

[2015-01-13 20:05] DNBkid opened #44 "Cannot start Process ? Huawei devices."
Hello tux-mind . First of all i would like to thank you for your great work.
And to choose to continue developing this great APP called Csploit.
Im great fan of your work !

My problem is that since version 1.1.3b the program could not install metasploit ,and now after i try installing the latest versions i get this error Cannot start process.  I hope my catlog would be helpfull for you! If you ne

[2015-01-13 20:07] DNBkid commented on #43
i have the same issue , what model is your device ?

[2015-01-13 20:15] DNBkid commented on #44
Rooted, Busybox pro ,TWRP, SU

[2015-01-13 20:23] Systemad commented on #43
HTC one m7 (ARHD 83.0 4.4.3)

[2015-01-13 23:11] Anotherenduser commented on #38
Still same on 1.24, installs gems forever then says Metasploit update available and starts all over. Never finishes.

[2015-01-14 06:25] tux-mind commented on #1
@mcilya can you post `/data/data/org.csploit.android/files/start_daemon.log` ?

the issue hasn't been fixed...

[2015-01-14 06:34] tux-mind commented on #1
@cmayer0087 did you test the mount solution ?

[code]

maybe `d_path` kernel API still return `/data/data/org.csploit.android/files/cSploitd` instead of `/cSploit/cSploitd` .

please help me debug this issue with your device, without an affected device in my hands it's very hard to fix.

[2015-01-14 06:41] mcilya commented on #1
@tux-mind start_daemon.log have 0 bytes weight
screenshot of 0 bytes https://copy.com/9v1kfYusiOqbgBcN

[2015-01-14 06:45] tux-mind commented on #24
@Xefir thanks for the hint!

please let me help you compiling the cSploit application, it's simpler than publish an apk for every attempt for fix this issue.

what repositories you can't compile ?
what is the content of `build.log` ?

thanks for your precious time.

[2015-01-14 06:47] tux-mind commented on #1
ok, this means that issue 1 hasn't been found on your device by the `known-issues` program...

let me fix it...

[2015-01-14 06:51] mcilya commented on #1
Any ideas about it?

[2015-01-14 06:54] tux-mind commented on #1
yeah, `fork(2)` it's translated to `clone(2)` even if the program does not use threads because the bionic libc has pthreads (badly) built in.

i'm moving the check from `fork (2)` to `execvp(3)` .

[2015-01-14 07:28] tux-mind commented on #1
@mcilya [ready](https://github.com/cSploit/android/releases/tag/v1.2.4-issue1%2Bv2).

thanks for your patience :wink:

[2015-01-14 07:35] mcilya commented on #1
@tux-mind i have email notifications :wink:
i found start_daemon.log on /sdcard https://copy.com/0fbIkeGS9Bjf4P2O

[2015-01-14 07:43] tux-mind commented on #44
my bad with versioning.

will fix ASAP.

as workaround install only releases, not pre-releases.

[2015-01-14 07:53] tux-mind commented on #44
ok I understood the problem, will pay more attention with next releases.

`1.2.4` is a release and is considered more recent then `1.2.4-issue1`, which is a pre-release.

i have to use `1.2.5-issue1` next time.

thanks for reporting the problem.

[2015-01-14 07:53] #44 closed

[2015-01-14 07:56] tux-mind commented on #1
@mcilya does it works now ?
the mount workaround should have been applied just before starting the daemon.

[2015-01-14 08:00] mcilya commented on #1
still cannot start process
cSploitd.log says on_cmd_start: execvp: Permission denied

[2015-01-14 08:10] tux-mind commented on #43
@Systemad you are not affected by #1 , you can run `which env`.

it seems that your ruby installation is corrupted.

try to *Settings > Delete MSF* and install ruby again.

thanks for the report.

keep me posted.

[2015-01-14 08:12] tux-mind commented on #38
@Anotherenduser please provide logcat and cSploitd.log

cSploitd.log can be found in `/data/data/org.csploit.android/files` .

[2015-01-14 08:15] tux-mind commented on #1
lol

TOTAL FAIL XD

i need that @cmayer0087 , which have an affected device, tell me which method to use for fix this issue.

he suggested the mount solution but didn't tried it.
probably it does not work and we need to find another way.

[2015-01-14 08:18] mcilya commented on #1
i tried
mount -o remount,rw /
mkdir /cSploit
mount -o bind /data/data/org.csploit.android/files /cSploit
mount -o remount,ro /
cd /cSploit
./cSploitd
it doesnt work + cant rmdir /cSploit

[2015-01-14 10:11] Systemad commented on #43
I already done that like 5 times, the ruby download is very fast(3seconds) I  have heard that it should take more than that:/

[2015-01-14 11:15] Xefir commented on #24
When i want to do a make on this repo : https://github.com/cSploit/daemon

It gave me this :

[code]

[2015-01-14 11:55] Systemad commented on #43
Seconds*

[2015-01-15 02:16] WanderingFool commented on #38
Sorry for a late reply (boss is working me to death).
Here is a logcat and cSploitd for what seems to be the same or similar issue http://filebin.ca/1oBDyd3oFt5z

cSploit will download ruby.tar.xz. When it's finished, it will produce a error message "An error occurred while downloading the update.".

Hardware:Galaxy S5 Active, rooted, SuperSU
Model number: SAMSUNG-SM-G870A
Android version: 4.4.2
B

[2015-01-15 10:41] Systemad commented on #43
I have also tried installing ruby on SD card with no luck

[2015-01-15 12:14] SaggySally opened #45 "Error: Heart Attack"
Every time I start csploit it crashes just after a box appears that says Error HeartAttack.

My device is a nexus 6 with android 5.0.1 unlocked rooted and full busybox installed.

[2015-01-15 23:04] Rogue86 commented on #1
So there is no way to make it work on 5.0.0 and above...

[2015-01-15 23:12] tux-mind commented on #24
Hi @Xefir .

thanks for spending your time helping me fixing issues on cSploit.

long story short: if you use the `make` command you will compile cSploitd for your PC, not for Android.

for compiling the native stuff open a terminal and

[code]

if some problem occurs post the content of `/path/to/cSploit/repo/cSploit/jni/build.log` .

it will build all the native stuff ( will take a lot the first

[2015-01-15 23:27] tux-mind commented on #1
no @Rogue86 I have to finish the network-monitor, after that i will install lollipop on my Nexus 4.

once I installed lollipop on my phone i will be able to make it work on 5.0 and above.

so please wait :grin:

will be great if @cmayer0087 can find out a solution for this problem.

[2015-01-15 23:28] tux-mind commented on #38
@WanderingFool you are affected by #1 ...

you have to wait that I fix that one...

[2015-01-16 00:01] tux-mind commented on #43
@Systemad did you installed any other ruby on you device ?

it seems that your ruby version is 1.9.1 while the one shipped with cSploit is 1.9.3

[2015-01-16 00:01] tux-mind commented on #45
duplicate of #24

[2015-01-16 00:01] #45 closed

[2015-01-16 06:57] Systemad commented on #43
Yeah, I noticed it when I checked data/data/org.csploit.android/(ruby/lib/ruby, then it's a folder named 1.9.1)
I deleted it, tried reinstall ruby and MSF. Reinstall app. Same happens.

[2015-01-16 07:02] Systemad commented on #43
I also tried deleting the whole folder. But it only downloads version 1.9.1. I am not a developer, so I don't know what to do. :/

[2015-01-17 10:07] masamimiyu opened #46 "cSploit and xposed kills network if used togheter"
cannot start process
failure to download Ruby update

Device: Samsung Galaxy S Duos S7562
• Rooted (SuperSU Pro by Chainfire)
• Busybox installed

[2015-01-17 13:24] hahanov opened #47 "MSF RPC not connected"
Hi @tux-mind,
I can not use metasploit writes: MSF RPC not connected
Using version cSploit nightly builds: http://rootbitch.cc/csploit/cSploit-nightly.apk
Video: http://ovrload.ru/f/43641_scr_20150117_155834.mp4
Log cSploit: http://pastebin.com/67w9L6D9
Tried on different devices ...
I hope for your help ...

[2015-01-17 18:27] hahanov commented on #47
And more ...
does not allow creation of executable contents (pref_err_executable)
What is this error for some reason I cant locate where MSF

[2015-01-17 20:10] Systemad commented on #47
Try to wait in "network mode" (when you see all devices connected to network) until you get ruby and msf update

[2015-01-17 20:18] hahanov commented on #47
What should I give it? I already did that ... you about the first or second post?

[2015-01-17 21:10] tux-mind commented on #47
Please post also the logcat. The msfrpcd seems start successfully.

[2015-01-17 21:13] hahanov commented on #47
Hi!
Right now upload log

[2015-01-17 21:25] hahanov commented on #47
tux-mind
Here LogCat: https://ghostbin.com/paste/53sg7

[2015-01-18 09:40] hahanov commented on #47
You can not download http://rootbitch.cc/csploit/cSploit-nightly.apk

[2015-01-18 17:46] hahanov opened #48 "404 - Not Found - Nightly builds"
@tux-mind,
Сan not download nightly builds please fix http://rootbitch.cc/csploit/cSploit-nightly.apk
In another post
LogCat: http://pastebin.com/8WciPP5A
LogCat: https://ghostbin.com/paste/53sg7

[2015-01-18 17:52] xaitax commented on #48
Sorry guys. Some issues with the build server. Will fix it tonight.

[2015-01-19 01:18] fabinhojcr commented on #24
Download the app SELinux mode changer in playstore and change the SELinux mode of enforcing to Permissive and restart the device, uninstall and reinstall the csploit.

[2015-01-19 07:49] koenhendriks commented on #24
@fabinhojcr that doesn't work on nexus 6 lollipop 5.0.1

[2015-01-19 22:28] Ottavio97 opened #49 "Crash on external MSFRPCD"
Hi @tux-mind,
As I Had issue with MSF, I tried to move msf outside my phone. I installed it with all rubygems on my Ubuntu VPS and I run it with the same command as cSploit (fetched in catlog). So I Moved into cSploit settings and changed RPC Host but right after it , it crash. I tried also to put a random ip and it crash in the same way, so it seems cSploit doesn't allow external addresses but on

[2015-01-19 22:36] Ottavio97 commented on #35
Hi @tux-mind,
I leaved it for more than 2 hours but same thing. Same thing also in logcat. Do I have to change something or install other things? As I am a WebDeveloper, I really need testing with something like MSF

[2015-01-20 12:53] Mephistophiles commented on #34
I have the same problem. Here is my log.
http://pastebin.com/TuvjQUrF

[2015-01-20 13:56] Ottavio97 commented on #35
http://pastebin.com/38zLXZLu

Update: maybe nokogiri gem?

[2015-01-20 14:39] tux-mind commented on #43
@Systemad the 1.9.1 folder is ok, ruby 1.9.3 still use the 1.9.1 folders, don't worry about it.

it seems that ruby it's fine, but the `gem install bundle` command fails with `execvp: permission denied`

i need your help to understand what is happening on your device.

after a successful installation of the ruby package please do the following from the adb shell and report back the output.

[code]

[2015-01-20 14:40] tux-mind commented on #46
please provide a logcat.

thanks for the report.

[2015-01-20 15:29] tux-mind commented on #47
@hahanov your rom seems quite buggy.

I've just made some changes that fixes some bugs that i saw in your logcat.

for the nightly build probably the build fail. I'll investigate this afternoon.

from the logcat i can see a native bug, I have to get home for debug it.

I'll keep you posted.

[2015-01-20 15:31] tux-mind commented on #48
@xaitax thanks :blush:

[2015-01-20 15:33] tux-mind commented on #49
Hi @Ottavio97 .

please post the logcat. so i can see where is the bug and kill it :wink:

[2015-01-20 15:41] tux-mind commented on #34
@Mephistophiles thanks for the log.
it seems that ettercap is not installed ( or it cannot locate some core library, like libcrypto.so ).

can you do the following from an adb shell:

[code]

thanks in advance for your time :blush:

[2015-01-20 15:47] tux-mind commented on #35
I have to start a new branch thus to debug this issue with verbose messages.

[2015-01-20 19:39] Mephistophiles commented on #34
http://pastebin.com/SwvHyrzK

[2015-01-20 20:39] DNBkid commented on #43
no i did not, i have installed only csploit and the ruby that came after csploit start updating.

-------- Оригинално писмо --------
От:  tux-mind
Относно: Re: [android] MSF update error (#43)
До: cSploit/android
Изпратено на: Петък, 2015, Януари 16 02:01:12 EET

 @Systemad  did you installed any other ruby on you device ?

it seems that your ruby version is 1.9.1 while the one shipped with cSploi

[2015-01-20 21:23] Systemad commented on #43
I will do this ASAP but what will happen after I do this? And what should I do? (Open cSploit..?? or?

[2015-01-20 21:33] DNBkid commented on #43
here is the catlog and screenshot from adb shell. if i did it wrong please let me know ,to do it again correctly : )

-------- Оригинално писмо --------
От:  tux-mind
Относно: Re: [android] MSF update error (#43)
До: cSploit/android
Изпратено на: Вторник, 2015, Януари 20 16:39:07 EET

 @Systemad  the 1.9.1 folder is ok, ruby 1.9.3 still use the 1.9.1 folders, don't worry about it.

it seems that r

[2015-01-20 22:19] DNBkid commented on #43
Here is my second try, but im still thinking that i do it wrong again.

-------- Оригинално писмо --------
От:  tux-mind
Относно: Re: [android] MSF update error (#43)
До: cSploit/android
Изпратено на: Вторник, 2015, Януари 20 16:39:07 EET

 @Systemad  the 1.9.1 folder is ok, ruby 1.9.3 still use the 1.9.1 folders, don't worry about it.

it seems that ruby it's fine, but the  gem install bundle  co

[2015-01-21 18:31] Systemad commented on #43
I think i having some problems http://gyazo.com/e64dafddc41f58e6d0f37b4a00cbc8e7

[2015-01-21 20:25] hahanov commented on #47
@tux-mind,
Thank you very much!
Tested the new version (nightly builds) MSF RPC does not work
When you run an application error occurs Heart Attack...

[2015-01-21 22:57] tux-mind commented on #43
@DNBkid github drop email attachments, please share a link to the resources or reply from the github web interface.

thanks for your time :)

[2015-01-21 22:59] tux-mind commented on #43
@Systemad it seems that you have another ruby installed.

you have ruby installed in `/system/bin/ruby`.

try the commands i sent you before but for the PATH one use the following:

[code]

thanks for help me kill bugs :)

[2015-01-21 23:43] tux-mind commented on #47
@xiatax sorry for bother you , I should gain access to the `cSploit/obj/local/armeabi/` folder of the build server ( or get it's content ) to debug native issues.

@hahanov I'll made a debug version of cSploit for you with my workstation, thus to debug the native bug.

[2015-01-22 00:34] tux-mind commented on #34
I found the bug reading carefully the `execvp(3)` man page.

[code]

the other commands have a slash in their argv[0], while ettercap does not.
using `./ettercap` instead of `ettercap` solve the problem.

[2015-01-22 00:34] #34 closed

[2015-01-22 14:37] hahanov commented on #47
Thank you so much!
Thank you very much, how can I download the debug version?

[2015-01-22 16:25] Systemad commented on #43
same thing happens :/ http://gyazo.com/c61c2179e0ff8909276811adde32b709

[2015-01-22 16:34] tux-mind commented on #47
@hahanov i edited your comment, avoid to publish email addresses of other persons online.
spammer are everywhere :scream:

you can download the debug version once #48 has been fixed.

[2015-01-22 16:42] tux-mind commented on #43
there is 2 answers to this behaviour:

  - exevp/which check `/system/bin` before any other directory in `PATH`
  - ruby is not installed in `/storage/emulated/0/ruby/bin`

can you run the following commands ?

[code]

thanks for your time.

[2015-01-22 17:26] Systemad commented on #43
I might found the problem. to "get in" to the folder the command is /scard/ruby/bin. i did it and here http://gyazo.com/e28152dfa9ce69e310870ef4be3dd3fb

[2015-01-22 18:08] Systemad commented on #43
export RUBYLIB=/sdcard/ruby/lib/ruby/site_ruby/1.9.1:/sdcard/ruby/lib/ruby/site_ruby/1.9.1/arm-linux-androideabi:/sdcard/ruby/lib/ruby/site_ruby:/sdcard/ruby/lib/ruby/vendor_ruby/1.9.1:/sdcard/ruby/lib/ruby/vendor_ruby/1.9.1/arm-linux-androideabi:/sdcard/ruby/lib/ruby/vendor_ruby:/sdcard/ruby/lib/ruby/1.9.1:/sdcard/ruby/lib/ruby/1.9.1/arm-linux-androideabi
export PATH=/sdcard/ruby/bin:/sbin:/vendo

[2015-01-23 15:55] masamimiyu commented on #46
Okay.
(For both cSploit and it's nightly build, and previous dSploit versions)

I was able to try to download the Ruby update but I think the app is
killing my network connection.
Once the download starts, my internet connection stops and i have to
restart my modem (and the download as well).

The process repeats itself:

update > download starts > network error > restart modem & app > update >
do

[2015-01-23 16:20] masamimiyu commented on #46
i replied via Gmail
the log above seems incomplete, so ...

here's the alternative link to my logcat:
http://tny.cz/32c034d4

[2015-01-24 20:57] DNBkid commented on #44
I`m not sure but i think that you have resolved the issue because i have uninstalled csploit and installed it again and after ruby update then metasploit have downloaded and updated finaly for the first time without errors and i think that now is working fine !  Congratulations ,ill test it couple if days idn ill tel you if everything is fine !

[2015-01-24 21:05] DNBkid commented on #43
5 minutes ago i decided to uninstall csploit  and to install it again , first ruby updated fine and after metasploit have  finished downloading then for the first time has installed without errors ,but after i restarted the device it gives me again cannot start the process but metasploit is now installed ,i think that we have some progress !  Did you succeeded  with your devise, i have huawei p6 4

[2015-01-24 21:06] DNBkid commented on #44
ups after i restarted the phone still gives me cannot start process but now metasploit is installed finaly ill post my catlog in  MSF update error #43   .

[2015-01-24 21:14] DNBkid commented on #43
here is mu catlog of the whole proccess ,also in the catlog i have included the other error i cant start "PASSWOR SNIFFER"
http://dox.bg/files/dw?a=ee931e6354

[2015-01-24 23:17] tux-mind commented on #43
Thank you very much for your patience. I'm quite busy in these months and
my work rate is significantly decreased. My apologies for this.

Thanks for your precious logcat, will give a look tomorrow.

[2015-01-28 01:26] tux-mind commented on #24
finally I switched from `network discovery` to `network-radar`.
this should also fix the `EMFILE` bug, which affect lollipop devices.

now that i reached a stable state with `network-radar` I can upgrade my device to lollipop too :blush:

please test latest release ( 1.3.0 ) and let me known the results :wink:

[2015-01-28 01:43] tux-mind commented on #46
Hi @masamimiyu , thanks for the logs.

a few more questions:

  - does it kill the internet connection of other devices connected to the same router/AP ?
  - can you temporary disable xposed ? I believe that it is the source of your troubles.

thanks in advance for your time :blush:

also, try out the new version of cSploit, it use less network resources then before.

[2015-01-28 03:00] SaggySally commented on #24
@tux-mind tested on Nexus 6 5.0.1 Lolipop, it initializes, asks for root and then pops up with:

Initialization Error heart attack!

[2015-01-28 06:42] Systemad commented on #43
What does this new feature "Network-radar" do? 'I'm sorry if This is not be the best way to contact you? Idk how to contact you otherwise)

[2015-01-28 11:32] tux-mind commented on #24
@SaggySally thanks for tried it out so fast!

can you provide a logcat ?
it will be perfect if you can also provide `/data/data/org.csploit.android/files/cSploitd.log`.

thanks in advance :blush:

[2015-01-28 11:41] mcilya commented on #1
tried 1.3.0 still cannot start process if you want i can post logcat :wink:

[2015-01-28 12:33] ddych opened #50 "Problem with cyrillic encoding"
When using MITM, there is a problem with encoding on target device. Not at all sites. I think it because some sites use windows-1251. I test it in images replacing and video replacing modes. For example:
![screenshot_2015-01-28-00-58-23](https://cloud.githubusercontent.com/assets/10694999/5937517/c60e2324-a733-11e4-87e6-60426663abc3.png)
![screenshot_2015-01-28-00-58-02](https://cloud.githubuserco

[2015-01-28 13:01] tux-mind commented on #43
@Systemad my email address `tux_mind at csploit dot org` is not functional.
i want to migrate to amazon ws, but I have to compute how much it will cost to me ( after the 1st free year ).

i've just created a [readme](https://github.com/cSploit/network-radar/blob/master/README.md) for answer your question :heart:

[2015-01-28 13:07] tux-mind commented on #1
@mcilya yep, i didn't fixed this issue with last version, you logcat is not necessary, thanks anyway for you availability :blush:

this problem still here. I have to put my paws on an affected device. I have a friend whit a Galaxy S3 Zoom ( it have an HUGE camera on the back ).

I will ask him if I can play with it for a little.

[2015-01-28 13:13] tux-mind commented on #50
Hi @ddych this bug will be fixed when the `evilproxy` program sobstitute the current Java proxy.

will close this when we made it.
probably will require some months because the list of bugs is quite long as now and writing a proxy in C is a very time consuming task.

BTW I will certainly do this. is the main reason why we build the new core.

it will be of great help if someone else can help me on

[2015-01-28 13:18] tux-mind commented on #36
a workaround has been added in cSploit/network-radar@b8c569009d7be1396b9d7eec7a6898172dcf4649

closing

[2015-01-28 13:18] #36 closed

[2015-01-28 13:20] tux-mind commented on #38
@Anotherenduser close due to lacks of info.
feel free to reopen when you have the logs that I have requested.

[2015-01-28 13:20] #38 closed

[2015-01-28 13:21] tux-mind commented on #40
@zardanadam please provide a logcat. I cannot fix this issue without those addition info.

[2015-01-28 13:22] tux-mind commented on #39
duplicate of #40

[2015-01-28 13:22] #39 closed

[2015-01-28 13:24] tux-mind commented on #41
@damks can you test the latest version ?

open cSploit with a working internet connection, it will prompt you that an update is available.

thanks in advance for your time.

[2015-01-28 13:27] #48 closed

[2015-01-28 13:34] tux-mind commented on #47
@hahanov can you test cSploit 1.3.0 and report back a logcat ?

I have everything I need to debug the native issue if you use cSploit 1.3.0.

thanks in advance for your time :blush:

[2015-01-28 13:43] alexmanner commented on #24
@tux-mind  Mama Tanks Dir your great work, below you find the logcat:
build.board: shamu
build.bootloader: 0x7105
build.brand: google
build.cpu_abi: armeabi-v7a
build.cpu_abi2: armeabi
build.device: shamu
build.display: LRX22G
build.fingerprint: google/eos_shamu/shamu:5.0.2/LRX22G/david01250615:userdebug/test-keys
build.hardware: shamu
build.host: kofftop
build.id: LRX22G
build.manufacturer: motor

[2015-01-28 13:45] tux-mind commented on #49
Hi @Ottavio97 I tested this on my device with no success, no crash.

I need your logcat.

[2015-01-28 13:50] tux-mind commented on #24
ok, I have to fix the PIE bug. I have to think a smart way to not ship different binaries in the same package.
putting both PIE and not-PIE executables inside cSploit will double it's size.

will work on it in the next week, I have to study physics now :pensive:

[2015-01-28 13:59] alexmanner commented on #24
Sorry, I had autospelling errors in my first post and have edited it :-)
Sounds like a great approach. Do you think that the pie fix posted above from @erionialb could work?
Best luck for physics!

[2015-01-28 15:03] alexmanner commented on #24
The answer to my question is no. If you install the first fix in the link then you will get stuck in boot and the second fix doesn't work either. :-)

[2015-01-28 15:19] ddych commented on #50
Thank you for response,
I assumed that you know about this issue. Unfortunately, I'm not good at programming, and can not offer help (

[2015-01-28 23:53] tux-mind commented on #24
Good news: i just installed 5.0.1 :sunglasses:

[2015-01-29 00:07] tux-mind commented on #24
@alexmanner the solution to the PIE error is to have ALL native executables in PIE format.

many apps have both in PIE and not-PIE, then select the one to use on runtime.
cSploit binaries require up to 20MB and I hate apps that require too much space on my device.

I think that a good solution is to use something like `http://update.csploit.org/android/core.zip` and appending a list of per-platfor

[2015-01-29 13:14] damks commented on #41
Works great.
no problems or crashs so far.

Thanks for fixing. :+1:

[2015-01-29 13:14] #41 closed

[2015-01-29 23:41] tux-mind commented on #18
duplicate of #24

btw i've fixed it on my N4, I need some days to write a new way to ship core executables.

[2015-01-29 23:41] #18 closed

[2015-01-29 23:51] tux-mind commented on #24
PIE: core fixed.

next steps:

  - fix PIE for all other binaries ( nmap, ettercap, iptables ... )
  - build different versions ( core-v1.0.0+pie.static.zip and core-v1.0.0+static.zip )
  - detecting the package required for your platform on installation
  - downloading and install the above package
  - open a beer :beers:

other problems with lollipop:

  - selinux: access denied when connecting

[2015-01-30 03:59] raynommo opened #51 "Ruby fails to unpack"
I can't get csploit to work on samsung note 3, it downloads ruby, but does not install it. I tried to put ruby in csploit files folder, but no success either.

[DEBUG  ] connection_writer: started (fd=1, tid=29729384)
[DEBUG  ] connection_worker: started (fd=1, tid=29729968)
[DEBUG  ] connection_reader: started (fd=1, tid=29730552)
[DEBUG  ] read_message: received a message (fd=1)
[DEBUG  ] read_m

[2015-01-30 04:52] mcilya commented on #51
i think you have #1

[2015-01-30 05:18] raynommo commented on #51
I have tried many builds, same error. SuperSU or Superuser, same error. BusyBox or BusyBox on rails, no luck. Selinux in permissive, fail. Running out of ideas(

[2015-01-30 05:20] raynommo commented on #51
Even moved csploit to system/app through Lucky Patcher. No result

[2015-01-30 07:22] Interneedus opened #52 "Use USB WiFi dongles via OTG"
Basically my phone has (now) USB OTG capabilities and I have a USB WiFi dongle that allows listening. I have modified my phone's kernel to include the driver and the dongle should work. Is there a way you could provide a GUI for the tools? (Running a debian image with the tools shouldn't be impossible)

[2015-01-30 07:26] Interneedus commented on #21
@dobrik Use SD Maid instead of Clean Master. (Sorry for off topic post)

[2015-01-30 07:28] Interneedus commented on #51
Are you on KK?

[2015-01-30 07:36] raynommo commented on #51
Yep 4.4.2

[2015-01-30 07:42] Interneedus opened #53 "Weak router password dictionary lookup"
Some routers use default passwords that are reversable. I had the app called Penetrate, but it stopped working on my new phone. Is there a way you could implement the same function to cSploit?

[2015-01-30 07:42] Interneedus commented on #51
Is your SD Card properly writable?

[2015-01-30 07:45] raynommo commented on #51
I don't know, how can I check that? Every other app that requires root run fine

[2015-01-30 08:11] Interneedus commented on #51
Can non-root apps write to your SD Card? Like can PowerAMP delete .mp3 that are on your SD Card?

[2015-01-30 08:17] raynommo commented on #51
Yes, it can.

[2015-01-30 12:57] Interneedus opened #54 "Simple bulk network device killing (and reviving)"
Could you please implement a simple UI to kill and revive network connections?

[2015-01-30 13:00] Interneedus opened #55 "Simple bulk network device packet sniffing"
Could you please implement a MITM mode that allows selecting and unselecting network devices in big amounts and capturing received data. (Same time displaying if it has captured any unsecure logins)

[2015-01-30 13:02] Interneedus opened #56 "Auto-detect DLNA and other network media players"
Is there a way to auto-detect DLNA and other network media players and offer to use AllCast or something similar to display a image on it?

[2015-01-30 13:03] mcilya commented on #55
select router in csploit and use mitm as you want

[2015-01-30 13:05] mcilya commented on #53
Its already added to csploit a long time ago. Use autorization cracker or something like that ;)

[2015-01-30 13:24] Interneedus commented on #55
One by one? I doubt it, a clean interface should be available, like WifiKill and other apps similar to it.

[2015-01-30 13:27] Interneedus commented on #53
Um, nope, I mean the AP password, not the router's. Also, I haven't seen any place to use my own dictionary.

[2015-01-30 13:28] Interneedus opened #57 "WiFi scan deletes the key of the currently connected AP"
Pressing the WiFi scan button results in nothing and if the device is connected to a hotspot, the key is deleted. This is really annoying.

[2015-01-30 13:30] Interneedus commented on #53
I doubt it. I'd like to crack the AP's password (Thomson routers) using downloaded dictionary, cSploit does not offer that feature.

[2015-01-30 13:33] Interneedus commented on #57
Device: LG D605
Software: CyanogenMod 11

[2015-01-30 13:34] mcilya commented on #53
Oops, ok i wasnt understood question. I think you asked about ROUTER not AP

[2015-01-30 17:47] masamimiyu commented on #46
• yes

• I uninstalled xposed (freezing it will do nothing). The results are ok:

     cannot start process: solved
     Ruby update & release.zip: downloaded and installed
     internet connection: maintained and is working fine

I think the problem is solved.
But, I have a request (or maybe a question):

     Is it possible for me to use cSploit without disabling/uninstalling the xposed framewor

[2015-01-30 21:29] rigid commented on #57
i can confirm this. also cm11 here.

[2015-01-30 21:35] rigid opened #58 "login cracker starts forever"
the login cracker keeps showing "Starting..." without progress. I can't actually debug network traffic right now, but there is wifi activity, so I guess cracking is actually happening? Anyway i think the progress bar should be moving and the "starting" message should change. Best would be, to show the currently tried password every 2-3 seconds or so.
I only tried FTP, with "Administrator" user and

[2015-01-30 21:39] rigid opened #59 "running exploit doesn't seem to work"
I recently found a vulnerable windoze machine on a friends LAN (i don't have access to it right now) and exploits were available. Running them didn't seem to do anything. I expeced a session to be opened or some sort of success/failed message. Did I forget anything? Can someone confirm that exploiting works?

[2015-01-30 21:44] Systemad commented on #58
Same problem for me

[2015-01-30 21:49] rigid opened #60 "list of vulnerabilities gets lost"
The list of found vulnerabilities is lost if e.g. the login cracker is launched and/or csploit is backgrounded. When entering the vulnerability finder again, another lookup is required to get the list again.

[2015-01-31 10:15] rigid commented on #53
please change topic then...

[2015-02-01 02:55] bilal21 commented on #24
@tux-mind
When will dsploit apk
Will be available

[2015-02-01 02:58] bilal21 commented on #24
I am talking about the new update
For lollipop !!

[2015-02-01 09:04] tux-mind commented on #24
Never ask for ETA :laughing:
BTW I'm choosing how to fix the PIE error .

There are three choices:

  - build 2 different version of the core package
  - build only for PIE and use a PIE loader for non-PIE platforms.
  - build only for PIE and drop support for android versions older then jelly bean

I don't want to lost support for older devices. So the last option isn't the right one.

I have to

[2015-02-01 13:27] tux-mind commented on #52
Hi @Interneedus , thanks for the suggestion.

look at the first point of [cSploit target](http://www.csploit.org/).

I've already scheduled this feature, but without using the aircrack suite.

it will require a lot of work but capturing WPA handshakes ( or cracking WEP ) is a too-cool feature that I'm looking forward to implement!

sadly I have to fix a lot of bugs and lead the MSF to a stable sta

[2015-02-01 13:33] tux-mind commented on #51
@raynommo you're affected by #1

I have to get my paws on an affected device to fix it.
currently I'm working on fixing android 5, after that i will focus on #1 .

it seems that only samsung kernels are affected.

duplicate of #1

[2015-02-01 13:33] #51 closed

[2015-02-01 13:35] tux-mind commented on #54
???

can you describe better this feature ? I cannot understand this.

thanks for the suggestion anyway :blush:

[2015-02-01 13:40] xaitax commented on #54
I think what he means is to jam a target. Basically sending a face gateway MAC. I wrote a script for this ages ago. You can find it here:
https://gist.github.com/xaitax/5439bfbd41eda804f8c0

[2015-02-01 13:42] tux-mind commented on #56
cSploit is a pentesting suite.

when you find a service running on an host you choose what to do with it.
cSploit will only attempt to find matching vulnerabilities and exploits for that service.

is not good for a program to do too much thing. ( Unix philosophy )

if you discover an ftp server install an ftp client.
if you find a windows share install a samba client.
if you find a vulnerability u

[2015-02-01 13:42] #56 closed

[2015-02-01 13:46] tux-mind commented on #55
will consider this feature when will rewrote the MITM part.

probably a separate View is necessary. but if evilproxy have the data you want to see we can surely display it.

thanks for the suggestion.

[2015-02-01 13:49] tux-mind commented on #46
I will install the xposed framework and test it beside cSploit to find out the problem.

in this month I have a lot of exams and I also want to fix some critical issue  before this one.
I will work on it BTW :wink:

[2015-02-01 13:52] tux-mind commented on #57
Yeah guys,
this bug is there from a lot of time.

but I have to rewrite the WiFi part as I start working on the USB OTG compatibility.

will give a look for a possible hotfix. thanks for the report.

[2015-02-01 13:56] tux-mind commented on #59
Hi @rigid , will be great if you can provide a logcat.

currently I'm studying and fixing other bugs. will setup a vulnerable machine and test that exploiting works ASAP.

as always, thanks for the report :wink:

[2015-02-01 13:59] tux-mind commented on #58
I rewrote that part recently ( using the new core ).

plese provide a logcat and `cSploitd.log` if you can.

thanks for testing the app guys :blush:

[2015-02-01 14:01] tux-mind commented on #60
will give it a look when I'll check #59

I want also to fix the code of the Vulneraility Finder.
actually it left a lot of packet in the kernel buffer, consuming your RAM for nothing.

thanks for the report :smile:

[2015-02-01 14:05] alexmanner commented on #24
@tux-mind Many thanks again for all your work and that you share your work with the public. This is very much appreciated. I happy to hear that you have migrated to Android 5.x. Regarding the disk space the application requires, this is totally irrelevant for me since I still have 22 GB free disk space. But I understand that there are people for who disk space might be an issue.

Great to hear tha

[2015-02-01 14:10] tux-mind commented on #53
this feature it's already in cSploit.

but probably is not wide as the `pentetrate` app one.

in the WiFi list the green one are these that can be reverse using libthomson.

BTW I will search more resources for improve this part when will rewrite the WiFi part.

thanks for the report .

[2015-02-01 14:15] tux-mind commented on #54
Uh Oh. thanks for clarify it @xaitax . ( scapy rocks :laughing: )

this feature is already part of cSploit. simply choose a target and select connection killer.

is this the feature you requested @Interneedus ?

[2015-02-01 14:27] killoid opened #61 "force closing on gingerbread."
i've installed the latest stable release on my samsung galaxy y duos gt-s6102,running stock rooted gingerbread 2.3.6 rom. i've busybox v1.23.1-sterickson installed on my device. but when i try to open the app, it crashes. log is attached below.

E/20:19:56.625 AndroidRuntime( 4006)
	at org.csploit.android.core.Client.<clinit>(Client.java:10)
E/20:19:56.625 AndroidRuntime( 4006)
	at org.csploit.and

[2015-02-01 14:29] Ottavio97 commented on #35
Hi @tux-mind , how far are you with this issue ? I can't start MSF in any way

[2015-02-01 14:38] alexmanner commented on #46
@tux-mind Is there a version of the xposed framework for Android 5.x which works? I haven't found one.

[2015-02-01 17:34] Interneedus commented on #54
@tux-mind I meant something like Wifikill is.

[2015-02-01 17:34] rigid commented on #59
it could take some time until I get access to a vulnerable machine, but i'll remember then. maybe in the meantime, someone else is faster. no, thank YOU for your effort and time. :)

[2015-02-01 17:36] Interneedus commented on #53
@tux-mind As the wifi scanning utility does not work for me I did not find the feature. That bug is urgent to fix.

[2015-02-01 17:38] Interneedus commented on #52
@tux-mind That would also add WPS pin cracking and much more. This is a toolkit that would add so much features to cSploit. Also, I'd suggest you'd advertise this project on reddit and other places to get more contributors and users.

[2015-02-01 17:39] Interneedus commented on #55
The UI should be something like Wifikill's but instead of killing, it allows you to capture.

[2015-02-01 21:58] rigid commented on #59
for now i could add some more details, that might be helpful: found exploits are displayed with a grey "M" in front of the name. Short click opens a list showing "Open URL" as only entry (that leads to a description of the exploit on the MSF/rapid7 website). Long click doesn't do anything.
Selecting "launch all" from the menu, doesn't do anything noticeable.
When I select "Sessions on the pwned ta

[2015-02-03 06:49] Systemad commented on #58
Hope there's some useful information here :D. http://pastebin.com/KWQe0Mtu

[2015-02-03 14:49] jackzett commented on #35
Okay, i had this problem as well, atleast my MSF wouldn't even install...
So here is what I did:
Let the ruby update run
Let the MSF installer fail
Locate release.zip (MSF package that was downloaded while MSF instaler ran)
Extract it to a directory
Open Csploit and edit the MSF directory to where I extracted release.zip
Close Csploit
Open Csploit

And now MSF has succesfully started.
(YAY!!!)

[2015-02-03 14:51] jackzett commented on #35
(you can also reinstall ruby after you played with release.zip if this fix above doesnt work)

[2015-02-03 15:25] Ottavio97 commented on #35
There's only one problem. MSF installer doesn't fail on my device. It's all correct but MSF start

[2015-02-03 19:13] Systemad commented on #59
I think I successfully installed metasploit and ruby(on paranoid Android 4.4.4) (I didnt get any errors). And rigid describes exactly what my problem is. (

[2015-02-03 21:15] Systemad commented on #59
Edit: I'm not affected by #46 I think it's something with the ROM. I can install msf successfully on Paranoid android 4.4.4 but not on ARHD 81.0 4.4.3 Sense6. I had sane setup supersu, xposed with the same modules etc.

[2015-02-04 05:09] mcilya commented on #61
can you post /data/data/org.csploit.android/files/csploitd.log ?

[2015-02-04 07:10] killoid commented on #61
no csploit.log file is there.

[2015-02-04 14:31] Avamander commented on #52
@tux-mind There's no need to reinvent the wheel. It wouldn't be hard to run a debian image (loop device) and the tools on it. Providing a terminal + optional gui would be really nice.

[2015-02-04 18:06] tux-mind commented on #46
@alexmanner I don't even known what is the xposed framework :laughing: .

I will fix this problem or provide a workaround after this exam session :stuck_out_tongue_closed_eyes:

[2015-02-04 18:16] tux-mind commented on #54
@Interneedus ok , got it.

I will make a ListView in `Your Internet Gateway > MITM > show stats` that will show hosts bandwidth and opened sites.

but honestly we have to wait that a my collaborator finishes his work on evilproxy, then will study how to achieve this View.

many thanks for helping us improving this app :wink:

[2015-02-06 01:56] Klocko commented on #24
Hey tux, any progress on fixing the app for Lollipop?

[2015-02-06 09:39] asbtlt commented on #24
yes, it so interest @tux-mind

[2015-02-06 14:30] Systemad commented on #46
@alexmanner Xposed doesn't work on 5.0 or later because of ART (and maybe other stuff). And it won't be compatible with 5.0 for a long time. This have been discussed a lot...

[2015-02-06 16:33] alexmanner commented on #46
@Systemad Many thanks. This is also my current status of knowledge. I thought that @tux-mind might have additional knowledge. Or as he suggested that he will provide a workaround.

[2015-02-07 10:23] tux-mind commented on #24
Hi all,
I've finally fixed the PIE error. :blush:

I've moved the core to [android.native](https://github.com/cSploit/android.native/).

sadly there is another error that hold cSploit from working on android 5: **selinux**

the main socket ( `/dev/socket/cSploit` ) seems to be not accessible from java.
I will work on this in the lunch ( about 2/3 hours to go ).

thanks for the interest guys :wink:

[2015-02-07 10:56] alexmanner commented on #24
@tux-mind Great, thanks for the update!

[2015-02-07 18:30] tux-mind commented on #24
ok guys, everything is ready, cSploit now works on my lollipop phone.

the only think i miss is internet :sweat_smile:

file upload fails with slow internet connections, like the one I have right now.
I will push the new versions ( apk and core ) ASAP, probably on monday, when i get back to school for give an exam.

however I'll wait your feedback for close this issue.

Cheers! :blush:

[2015-02-07 19:29] tux-mind commented on #24
my uncle bring there his phone for reset the password for of the microsoft account... I used his mobile data for pushing the apk and core :grin: .

happy testing guys :blush:

[latest release](https://github.com/cSploit/android/releases/latest)

[2015-02-07 19:50] tux-mind opened #62 "language selector in settings"
some user will find this useful.

[2015-02-07 19:54] SaggySally commented on #24
MSF fails to install

[2015-02-07 20:28] tux-mind commented on #35
@jackzett can you post a logcat of the failing automated process ??

the installation process take care of setting the right file permissions and correct the script shebangs.
you shouldn't extract it manually.

[2015-02-07 20:29] tux-mind commented on #35
@Ottavio97 I didn't understand ... can you explain your last post ?

[2015-02-07 20:31] tux-mind commented on #35
let's merge this issue into another one, to have all in one place.

move on the other issue for reporting logcats and feedback.

duplicate of #43

sorry for moving the thread, but I work better with less issues to watch.

[2015-02-07 20:31] #35 closed

[2015-02-07 20:32] tux-mind commented on #43
I've just added support for android 5.

this issue will be the next to get fixed :sunglasses:

[2015-02-07 20:34] tux-mind commented on #24
@SaggySally please provide a logcat in the [right issue](https://github.com/cSploit/android/issues/43) .

so you can confirm that cSploit now run on your android 5 device ?!

[2015-02-07 20:41] Ottavio97 commented on #43
@tux-mind I meant MSF doesn't start even if it's installed successfully

[2015-02-07 20:56] rigid opened #63 "double confirm to exit"
Not an important issue, but could annoy users. Imo either double-back (press back again to exit) or the confirmation requester (really exit? yes/no) would be enough. are both really needed?

[2015-02-07 21:16] Systemad commented on #24
I can installv and use csploit on my 5.0.1 device now!  Here screenshots
http://postimg.org/image/5t2jgtjhz/
http://postimg.org/image/fy2j4xmdt/
Very nice work!

[2015-02-07 21:18] Systemad commented on #62
I can help translating this app to Swedish. I don't know how tho :/

[2015-02-07 21:24] rigid opened #64 "csploitd.log (and logcat) auto-paste issue reporting"
It would rock if the in-app "submit issue" mechanism could automatically add the current csploitd.log and a logcat to an issue (maybe optionally, with a checkbox).

[2015-02-07 21:35] tux-mind commented on #62
https://www.transifex.com/projects/p/csploit/
I'm out with friends, will explain it better tomorrow :)

[2015-02-07 22:43] jackzett commented on #43
uhm, tux-mind you asked me for a log,
look im not sure where to find it, if not deleted it allready,
i do sure know how delicate the installation process is, doesn't need to be that my self extracting didn't work out thought....

[2015-02-08 10:51] dimakx opened #65 "cSploit unable to install MSF gems"
Good Morning, I've got a new issue on my gt-i8190 (S3 mini).

cSploit doesn't install MSF gems.

I've the stock firmware with BusyBoxPro fully installed.

I've looked at every issue already posted here in github, but none of 'em has helped me resolving this problem.

Here is my catlog: https://mega.co.nz/#!aJxTzAyZ!CI0FWcZeGAQCjVg3dvPDSyHnbaWMcB57f7N7EXn4IVc

(I know that you, tux-mind, prefer pas

[2015-02-08 11:00] Systemad commented on #43
@jackzett
1. install catlog from the play store
2.open it and start recording (in the menu in app)
3.launch cSploit
4. make it show the error
5.tap on catlog notification for stop recording
6.post the file under the /sdcard/catlog directory ( pastebin preferred )

If you want the csploid.log
/data/data/org.csploit.com/files/csploitd.log

[2015-02-08 11:50] alexmanner commented on #43
@tux-mind Great! It doesn't crash on 5.x anymore. This is great! I think that the metasploit framework doesn't work at the moment because there is an error. Please find the logcat in the link below:
http://pastebin.com/WwJRx6Ss

[2015-02-08 15:09] fabinhojcr commented on #63
In my opinion I think it is necessary but it avoids closing the application inadvertently.

[2015-02-08 15:29] Avamander opened #67 "When target disconnects no tool reports an error."
I tried tracerouting, scanning the ports, basically every tool and every tool yielded no results. I suggest you'd check if the device is still on the network.

[2015-02-08 15:32] Avamander opened #68 "Error messages displayed by cSploit are uninformative."
Could you please improve the error messages? Just saying "An error occured does not help" also, it should auto report the error and known error should be numbered.

[2015-02-08 15:32] Avamander opened #69 "Add ping tool"
Could you please add ping tool to the list of tools?

[2015-02-08 15:35] Avamander opened #70 "Changelogs should also display previous changes."
Changelogs should be nicely formatted and should feature changes from previous versions.

[2015-02-08 15:38] Avamander opened #71 "Port scanner should have different scanning options."
Port scanner should have a few options like full, half and for common ports.

[2015-02-08 15:40] Avamander opened #72 "Port scanner results could be used to speed up inspector."
If I have ran the port scanner, why can't it be used to speed up inspector?

[2015-02-08 15:43] Avamander opened #73 "People think dSploit is dead"
Could you please let people know that cSploit is a fork of dSploit, this project could advance faster and could become much better. (More donations!) I could make a post on reddit but it would be nice to know what subreddit should I let know. /r/netsec?

[2015-02-08 15:49] Avamander commented on #73
I made a post to netsec.

[2015-02-08 15:54] mcilya commented on #73
IMHO: Someone can think that cSploit is dead, but its too hard add new features and fix bugs alone, so new versions doesnt out very fast

[2015-02-08 15:59] mcilya commented on #67
Device that disconnected from network becomes grey, but doesnt removes from list

[2015-02-08 21:37] Avamander commented on #67
But if you click on it while it's not grey and then it disconnects? It does not tell you.

[2015-02-09 15:59] LuLaBy opened #74 "Cannot start process and etc."
Here list of problems
-cannot start network discovery
-cannot start meta rpcd
-crash when trying to refresh host list
-cannot update ruby
-wifi scan delete wifi pass

Add info
kitkat 4.4.2
samsung sm-t211

Log:
http://pastebin.com/YigFzuG2

[2015-02-09 17:43] tux-mind commented on #43
@alexmanner it's a pleasure to see cSploit run on your lollipop device :blush:

fixed in 8f7d932bb3c3c00113b1fa9e93cccecdfe0a5330.

please try the nightly build and let me known.
thanks in advance :relaxed:

[2015-02-09 17:56] DominikTV commented on #24
For me it works too, but:

After the message "A new Update for the MetasploitFramework is there" and after I accepted and extracted it, a toast apperas with "cannot start process" and a error-message "Error while downloading" shows up, but I allready downloaded and extrated it...

http://s11.postimg.org/5xpo1xgsz/Screenshot_2015_02_09_18_40_28.png
http://s11.postimg.org/qvvu00gnn/Screenshot_2015_0

[2015-02-09 18:13] tux-mind commented on #24
I fixed it few moments ago.
Try out the latest nightly build.

Cheers :)

[2015-02-09 18:14] DominikTV commented on #24
@tux-mind Nightly from the Website? :) Or Github? And if Github, where there? ;)

[2015-02-09 18:16] tux-mind commented on #24
The website. Nightlies are built on an external server provided by a
kindness guy ;)

[2015-02-09 18:18] DominikTV commented on #24
The apk from the website gets an "hear attack!". But the apk is also 1.3.0 and not the "Lollipop" 1.4.0 :/

[2015-02-09 18:20] tux-mind commented on #24
Probably a build issue on the server. Will give it a look later. Sorry for
the inconvenience.  :'(

[2015-02-09 18:21] DominikTV commented on #24
@tux-mind No problem dude. take you time for the fantastic work :)

[2015-02-09 18:55] alexmanner commented on #43
@tux-mind Currently, the nightly build is still the version with the heart attack.

[2015-02-09 19:04] alexmanner commented on #43
@tux-mind I have seen that you already commented on it in the lollipop thread. :-)

[2015-02-10 04:10] xaitax commented on #24
Yes, it doesn't build anymore for a few days now ... Just checked.
Started when you made the big changes to the core. So I removed the repo now, checked it out freshly, started building and am stuck here:
http://pastebin.com/ekNgt9rQ

I have no idea why GH rejects me know ...

[2015-02-10 07:10] SelfDestruct68 commented on #74
Same issue :(

Android 4.4.2
Samsung Galaxy S4 I9505

[2015-02-10 09:59] mcilya commented on #74
There is only 1 issue not listed on github its "crash when trying to refresh host list"
Other issues is
Cannot start something - #1
Cannot update ruby - #42
Wifi password delete when scan for networks - #57

[2015-02-10 10:26] DominikTV commented on #24
@tux-mind Can you write here if The right nightly builds are ready? :)

[2015-02-10 10:27] xaitax commented on #24
Will be tonight. @DominikTV :)

[2015-02-10 10:29] DominikTV commented on #24
Alright, thanks @xaitax :)

[2015-02-10 15:42] KyriakosR commented on #24
Well, I am having an issue about ruby and metasploit..the core is installed. then it asks for metasploit update. When the extraction finished this happened.

"An error occurred while downloading the update."

[2015-02-10 16:08] DominikTV commented on #24
@KyriakosR Same here, but if you read the last answer, you see that @tux-mind  has already fixed that :)

[2015-02-10 16:43] KyriakosR commented on #24
I didn't saw that, sorry man!

[2015-02-10 16:44] DominikTV commented on #24
@KyriakosR No problem, nothing is broken :D

[2015-02-10 16:46] KyriakosR commented on #24
haha:D

[2015-02-10 19:22] Systemad commented on #70
If you download for github you can see the changes and if you download in app and install new version a new window will pop-up with changes. I don't think this is needed. let's see what tux-mind says.

[2015-02-10 20:46] CHEF-KOCH opened #75 "[1.4.0] Cannot find a core for this device"
Hi,
I just upgraded from build v1.2.4-issue1+v2 to the latest stable 1.4.0 release [here](https://github.com/cSploit/android/releases/download/v1.4.0/cSploit-release.apk) from GitHub an got the following error popup: _cannot find a core for this device_.
The log can be found over [here](http://pastebin.com/raw.php?i=2JxFXDXv).

And another question is why is this release only 2.63 MB and all other

[2015-02-11 00:47] bilal21 commented on #24
#tux-mind
Working good on N5 lollipop
Thank you bro

[2015-02-11 03:35] Msrpc commented on #24
Not working on my SGS3 Lollipop 5.0.2 still "heart attack!" with newest nightly :(

[2015-02-11 05:17] mcilya commented on #24
@Msrpc nightlies are not working try download it from github

[2015-02-11 05:23] Msrpc commented on #24
@mcilya I have the same problem as DominikTV has posted above with the non-nightly it downloads and extracts the MetasploitFramework but when it gets to ruby it just shoots an error.

[2015-02-11 05:30] mcilya commented on #24
@Msrpc fail when update ruby is another issue read here #43

[2015-02-11 06:54] Msrpc commented on #43
cSploit not working on SGS3 Lollipop 5.0.2 http://pastebin.com/N34tsZye same error as first post really wish I could get this working :(

[2015-02-11 13:36] xaitax commented on #24
I hacked a bit around the build issue ... Nightly is again available with the recent commits. Testing it now on my Lollipop.

[2015-02-11 13:42] tux-mind commented on #24
Which hacks?

[2015-02-11 14:05] SaggySally commented on #24
Tested latest nightly on Nexus 6 5.0.1 still force closing and MSF or gems
is failing to install.

http://pastebin.com/pWgHcZ17

On Wed, Feb 11, 2015, 8:42 AM tux-mind <notifications@github.com> wrote:

[2015-02-11 14:34] tux-mind commented on #24
@SaggySally thanks for the logcat!

sorry guys, I have a bad notice for you.

I fixed PIE for the core, but I have to spend an hour or two for fixing it for ruby too.
so ruby and MSF won't work until I fix them.

however I've already fixed the core, ruby shouldn't take long, the process is the same.

i think that cSploit 1.4.1 will come out in a day.
thanks for your patience :blush:

[2015-02-11 14:51] KyriakosR commented on #24
@tux-mind thanks dude! Can't wait :D

[2015-02-11 14:53] Systemad commented on #24
Good news! Thanks for the work and take your time, don't rush :D

[2015-02-11 18:49] Msrpc commented on #24
Nightly is now working not crashing on my SGS3 cm12 5.0.2 Lollipop device nice work! Can't wait for Ruby and MSF to work as well.  Best support team ever quick updates and responses.

[2015-02-12 21:00] Systemad commented on #62
I see you added so I can translate, the transition will be done soon :D

[2015-02-12 22:21] bilal21 commented on #24
Where I can download
Csploit nightly
Line please

[2015-02-12 22:27] bilal21 commented on #24
I find it !!!!
Hhhhh

[2015-02-13 00:07] tux-mind commented on #24
ruby fixed.
open cSploit, it will automatically update.

time to sleep :sleeping:

[2015-02-13 00:45] jeancarlosg93 opened #76 "Cannot start process"
Csploit 1.4.1
Cm12 android 5.0.2
One plus one (bacon)

Errors when dowloading core update and metasploitframework
Cannot start inspector

[2015-02-13 00:49] mcilya commented on #76
Can you post logcat and /data/data/org.csploit.android/files/csploitd.log

[2015-02-13 01:02] SaggySally commented on #24
Still getting an error after extracting MSF

Logcat: http://pastebin.com/fdVzPSzB

On Thu, Feb 12, 2015, 7:07 PM tux-mind <notifications@github.com> wrote:

[2015-02-13 01:48] jeancarlosg93 commented on #76
Here are the logs you requested http://goo.gl/MI1GzV

[2015-02-13 02:08] Msrpc opened #77 "MSFRPC Error downloading update."
cSploit:1.4.1
Samsung Galaxy S3 CM12 Lollipop 5.0.2

"cannot start process"
"Error:An error occurred while downloading the update."

cSploit debug:http://pastebin.com/Nuuqwz7r

catlog:http://pastebin.com/N34tsZye

[2015-02-13 02:38] mcilya commented on #76
You're affected by #1 there is no solution right now. Msf doesnt updates for me so youre not alone :wink:

[2015-02-13 03:21] jeancarlosg93 commented on #76
Ok, thanks for the info ☺

[2015-02-13 16:58] tux-mind commented on #24
@SaggySally I made some confusion with version numbers, please delete the ruby folder ( Settings > Delete MSF ) and update ruby.

[2015-02-13 16:59] tux-mind commented on #24
[this](http://www.csploit.org/Behind-android-5/) is for you guys :wink:

[2015-02-13 18:42] KyriakosR commented on #24
@tux-mind I deleted the ruby folder..

There are 2 error:
-"Network discovery started" and then when the bubble message disappears: "cannot start process"
-"Error downloading update"

So far, I have tried to change directory to both ruby and msf download directory. That seems to work so far..Before I change the directory, it only downloaded the ruby update. Now, it downloads too, the msf update, i

[2015-02-13 18:55] alexmanner commented on #24
@tux-mind Many thanks again for all your effort and your work! The msf update still fails during the extraction process. Even after deleting the ruby folder. Would you like to see a logcat?

[2015-02-13 19:05] tux-mind commented on #24
@alexmanner yes, logcat can help :blush:

@KyriakosR the "cannot start process" message get out because cSploit try to start msfrpcd on boot even if it is not installed. fixed in [last commit](https://github.com/cSploit/android/commit/e662563a3d321748694740e073c495eab43c36b4).

for the "error downloading update" please provide a logcat.

will be great if we can move this discussion on #43

thanks

[2015-02-13 19:09] tux-mind commented on #43
@Msrpc I fixed your error. please go in Settings > Delete MSF.

than update everything to latest version ( a bunch of update dialogs will pop up on startup ).

thanks in advance for your time :blush:

[2015-02-13 19:11] KyriakosR commented on #24
@tux-mind I am currently translating cSploit to Greek ^_^ also can you email me, to explain me how to get a logcat and how to start msfrpcd on boot? (cyanogenmod98@gmail.com)

[2015-02-13 19:12] KyriakosR commented on #43
@tux-mind I have tried to delete and re-downloaded a million times and it still doesn't work..

[2015-02-13 19:12] tux-mind commented on #75
Hi @CHEF-KOCH , reduced size if one of the benefits of [moving the core outside the apk](http://www.csploit.org/Behind-android-5/).

your shared cSploitd.log, can you share a logcat ?

thanks in advance :smile:

[2015-02-13 19:46] SaggySally commented on #43
Here is a logcat of the error @tux-mind

Logcat: http://pastebin.com/7vp7HtwK

On Fri, Feb 13, 2015, 2:12 PM KyriakosR <notifications@github.com> wrote:

[2015-02-13 21:43] CHEF-KOCH commented on #75
Thanks for the link.
Yes I can share a logcat, but it seems empty (same under v1.4.1), filtered org.csploit.android aaaand nothing to see there. This error is directly on first app start initialization (I'm not under 5.0). So I don't know what todo now.

[2015-02-14 10:25] killoid commented on #61
v1.4.1 is not working either. new log attached.

E/13:51:17.304 AndroidRuntime( 3494)
	at org.csploit.android.MainActivity.onCreate(MainActivity.java:353)
E/13:51:17.304 AndroidRuntime( 3494)
	at org.csploit.android.MainActivity.onInitializationError(MainActivity.java:247)
E/13:51:17.304 AndroidRuntime( 3494)
	at org.csploit.android.MainActivity$2.run(MainActivity.java:250)
E/13:51:17.304 AndroidR

[2015-02-14 15:15] #1 closed

[2015-02-14 16:03] Systemad commented on #43
1 Question, when I installed cSploit it asks to install core 1.0.2, after it install I get "Initializing". How long should it be like that? I Waited 10 min nothing happen s

[2015-02-14 17:14] tux-mind commented on #43
@Systemad please go in system settings > applications > cSploit > terminate.
Reopen cSploit.

Will be great if you can provide a logcat.

I've 2 exams on 16/2, so I can't fix it now, sorry.

[2015-02-14 18:59] Systemad commented on #43
No problem,
http://pastebin.com/WyLGEqVM
and good luck on your exams! :D

[2015-02-14 20:17] jonniex7 commented on #43
s3 4.4.2 touchwiz rom QS
http://pastebin.com/kkYZB4nv

[2015-02-15 08:58] rigid commented on #63
At the moment, for me, it'd be more useful if it would be less annoying to quickly restart csploit.
But since this seems to be a matter of taste, i think it's better to leave the decision to the maintainer(s). :)

[2015-02-15 08:59] rigid commented on #77
same here on CM11

[2015-02-15 09:02] rigid commented on #65
next time, https://gist.github.com should work ;)

[2015-02-15 09:16] Msrpc commented on #43
@tux-mind Still not working after complete fresh install. Same error on both my SGS3 CM12 5.0.2 Lollipop and my Asus Memo pad stock Android 4.4.2

I just don't understand how I'm getting this same error on both... I need help. MetasploitFramework must have some serious bug because I've tried 3 different devices and its always the downloading error for MSF, ruby and core install fine.

New error lo

[2015-02-15 17:37] Interneedus commented on #53
Bug https://github.com/cSploit/android/issues/57 needs to be fixed for this to be useful.

[2015-02-15 19:06] Msrpc commented on #43
@tux-mind:Newest error log: http://pastebin.com/UZE8KAqA

Just an extra question which error log type is more useful verbose or debug using catalog? I used debug this time but will reupload with verbose if you need it.

[2015-02-15 20:14] DNBkid commented on #43
Here is my catlog  for Csploit Ver. 1.41
 http://dox.bg/files/dw?a=47018437c4 ,
again i have the same problem with " MetasploitFramework "  it just wont install , can you just remove it and everything will be fine : )))   And good luck with the exams ! ;)

[2015-02-16 17:14] tux-mind commented on #43
@Systemad the logcat you provided is when the infinite initialization loop happened ?
if you confirm I'll simulate these steps on my phone for debug this.

From the log I see a successful installation ... no problems.

[2015-02-16 17:15] tux-mind commented on #43
@Msrpc I cannot figure out what is going wrong on your device.

can you please share `/data/data/prg.csploit.android/files/cSploitd.log` ??

thanks in advance for your time :blush:

[2015-02-16 17:18] orangeisnon commented on #43
By the way, Tux, I also get the "Initializing" forever on first run (whether I choose to install Ruby or not). I don't think it's related to the duplicate Core, though. In fact, my latest set of logs should end like that (after MSF install fails).

[2015-02-16 17:21] Msrpc commented on #43
@tux-mind

Here's the Csploitlog: http://pastebin.com/qfHTsP05

[2015-02-16 17:22] tux-mind commented on #43
@DNBkid remove a feature is not the right way to fix a feature's bug :laughing:

@DNBkid please capture again your logcat with debug infos, I cannot understand what is going bad. you captured it with warnings and errors only.

[2015-02-16 17:23] CHEF-KOCH commented on #75
I tried several options now, cleaned everything, looked at issue 1 and such but the answer was much easier (oh my!), my firewall simply blocked the core download - that's all. But anyway strange that there is no log or a _better_ description of these error popup. I hope this may help others with the same _problem_.

[2015-02-16 17:23] #75 closed

[2015-02-16 17:25] tux-mind commented on #43
@orangeisnon thanks for the hint, I'll give it a look.

[2015-02-16 17:30] tux-mind commented on #43
@Msrpc it seems that `gem` is not installed...
can you list the content of the `/data/data/org.csploit.android/files/ruby/bin` directory ?

sorry for making this kind of remote debugging.
I'm trying to reproduce this bug on my phone.

[2015-02-16 17:39] tux-mind commented on #73
@Avamander thanks for the suggestion, you can say this around the web, but I will do it only when cSploit will reach a stable version.

I'm quite embarrassed about the instability and slow grow rate of this project, but I'm alone and is very hard to bring on the work while I'm trying to graduate.

anyone of you can spread cSploit around the Internet, using XDA, reddit or whatever you want.
but I p

[2015-02-16 17:44] Msrpc commented on #43
@tux-mind there is no /bin in the /data/data/org.cSploit.android/files/ruby directory for me :(

[2015-02-16 18:00] Msrpc commented on #43
@tux-mind
Contents of /data/data/org.csploit.android/files/ruby

.nomedia
cSploitd
/handlers
known-issues
start_daemon.sh
/tools
users
VERSION

[2015-02-16 18:01] tux-mind commented on #65
@dimakx so gentleman :heart_eyes:

I'm cloning the repo and building version 1.3.0 to debug a `network-radar` error on your device.
probably a double-free bug.

[2015-02-16 18:03] Systemad commented on #43
Yes tuxmind, initialization loop.

[2015-02-16 18:13] tux-mind commented on #65
@dimakx the following problems has occurred on your device:

  - a download error when installing `meterpreter_bins` the first time ( a component of the MSF )
  - your device is affected by #11 and msf directory hasn't been deleted on error.
  - every time you retry the corrupted gem is there.

let me known if it works.

[2015-02-16 18:34] tux-mind commented on #43
@Msrpc are you sure that what you posted is the content of `/data/data/org.csploit.android/files/ruby` directory ?

it seems the content of `/data/data/org.csploit.android/files/`.

[2015-02-16 18:36] tux-mind commented on #65
@dimakx will check it tomorrow. have to go out for dinner with my lady, we celebrate the first year of relationship today :blush:

[2015-02-16 18:38] Msrpc commented on #43
@tux-mind those are the contents of
/data/data/org.csploit.android/files/ruby

 I didn't even notice but you are correct that both my ruby folder and files folder have similar or the same content but what would cause that?

[2015-02-16 18:42] orangeisnon commented on #43
@Msrpc That's something that Tux and I noticed recently. For whatever reason cSploit is downloading the Core, then when it says it's updatng Ruby, it's actually downloading the Core again and putting it in the Ruby folder. Check for yourself, when installing Ruby, check the notification and see if it says Ruby.xxx.whatever.tar or Core.xxx.whocares.tar.

[2015-02-16 18:47] Msrpc commented on #43
@tux-mind So every time I open cSploit it says I have a new MetaSploitFramework update available and it asks me if I want to download it downloads, checking, extracting then installing gems bar loads and then "an error occurred while downloading the update." Pops-up

[2015-02-16 18:47] Systemad commented on #43
It says Core.xxx.whocares.tar. for me when I update ruby.

[2015-02-16 18:53] orangeisnon commented on #43
This is what happens.
1. Open cSploit (first run)
2. Updates Core
3. States it is updating Ruby, actually installs Core again, this time in the Ruby folder
4. Tries to update MSF, but since Ruby isn't really there, it fails on Gems (which use the Ruby installation, so can't run)
@Msrpc @Systemad , we need to see why it is choosing to install the Core again, rather than Ruby.
Is everyone now on the

[2015-02-16 18:54] Msrpc commented on #43
I can also confirm mine says Core.xxx.who cares.tar when installing as well

[2015-02-16 22:30] Msrpc commented on #43
@tux-mind Where can I manually download the ruby tar so that I can either manually install it or trick the automatic installation into properly installing the right files.

[2015-02-16 22:33] mcilya commented on #43
@msrpc here: /storage/emulated/0/ruby.tar.xz

[2015-02-16 22:37] Msrpc commented on #43
@mcilya Can you upload it somewhere or is it online for download? Because cSploit does not download the ruby.tar.xz for me only the core system file.

[2015-02-16 22:40] mcilya commented on #43
@Msrpc https://copy.com/JxHo7Ge9OtjKczyR - ruby.tar.xz

[2015-02-16 23:07] dimakx commented on #65
I've already tried that hotfix dozens of time but nothing worked :(. I wish you and your Lady a happy night of celebration. I really appreciate your help, thanks.

[2015-02-17 00:06] Msrpc commented on #43
Even when I trick ruby to extract and install the proper files instead of the core when it gets to MSF and games installing the error downloading persists.

[2015-02-17 00:07] Msrpc commented on #43
MSF and gems*

[2015-02-17 02:29] najashark opened #78 "error occur after extracting metasploit"
A pop up appear that shows "an error occured while downloading the update"

Here the logcat
http://hastebin.com/wapaxutaha.text

[2015-02-17 12:12] Avamander commented on #46
Does not happen for me. Probably a module conflicts with cSploit.

[2015-02-17 12:26] Avamander opened #79 "Installing MSF fails"
Device: LG D605
Software: CM11

Latest cSploit

https://www.dropbox.com/s/56ep5c02q223796/cSploitd.log?dl=1

[2015-02-17 14:58] Interneedus commented on #79
Duplicate of https://github.com/cSploit/android/issues/77

[2015-02-17 15:08] Interneedus opened #81 "Manual target OS selection"
Could you please make it possible to manually select the target device type and OS?

[2015-02-17 15:10] Interneedus opened #82 "Gray out menu items that are disabled or require something to be run"
Could you please gray out for example "Exploit finder" before "Inspector" is run?

[2015-02-17 15:15] Interneedus opened #83 "Target inspection needs more details"
If target inspections yields no results, display "No results" instead of (string) unknown.

[2015-02-17 15:19] Interneedus opened #84 "If user goes back to main screen there is no information or warning if current processes are running."
a) Warn the user if anything will be closed(/killed) if the user leaves the screen
b) Make it possible to leave a process (scanner etc.) running when leaving the screen
c) Display the loading bar alinged properly and instead of throwing the user back to previous view, display the log (what is executed and what's the result, the same output you'd get when doing this on a linux machine).

[2015-02-17 21:51] nitoshi commented on #43
Have installed last nightly build, got same "error during download" after trying to update metasploit.
catlog: http://drp.io/f/oJZ

[2015-02-17 22:54] DominikTV commented on #24
@KyriakosR "also can you email me, to explain me how to get a logcat and how to start msfrpcd on boot? " Me 2 please :)

[2015-02-18 22:11] TheRollingEdit opened #85 "MetaSploit framework download issue"

[2015-02-18 22:16] TheRollingEdit opened #86 "MetaSploit framework download issue"
I have a nexus 6 and I was waiting for the Android 5 update, as soon as it came out, i got it. When I started it, it asked to update the Core, The ruby adn both of them downloaded fine, but when i try to update the metasploit framework, it gives me a download error. I think the source has changed, if you need a logcat, tell me. (Since I don't have the metasploit framework, I can't use any of the e

[2015-02-18 22:17] TheRollingEdit commented on #85
This is an error, read the next issue.

[2015-02-18 22:17] #85 closed

[2015-02-19 06:26] Systemad commented on #86
#43

[2015-02-19 16:58] daniloscala commented on #43
great work thanks but i have error in download and update metasploit framework , ruby not all time

[2015-02-20 17:38] tux-mind commented on #24
[HowTo logcat](http://forum.xda-developers.com/showthread.php?t=1726238)

thanks for your time guys

[2015-02-20 17:40] tux-mind commented on #24
I found a bug on lollipop.

AOSP [removed RIPEMD160](https://github.com/android/platform_external_openssl/commit/172e83c468abf3056f83091c83b1d506af8fe973) from the system openssl library.

this break nmap ( Inspector and Port Scanner ), and maybe other tools.

working on a fix.

[2015-02-20 18:43] tux-mind commented on #43
sorry for the late reply, I'm busy with my exams.

working on it.

[2015-02-20 18:59] DNBkid commented on #43
" @DNBkid please capture again your logcat with debug infos, I cannot understand what is going bad. you captured it with warnings and errors only.  "

How to capture with debug ,its not problem to do it , just tell me how : ))

[2015-02-20 19:04] tux-mind commented on #43
@DNBkid  [HowTo logcat](http://forum.xda-developers.com/showthread.php?t=1726238).

[2015-02-21 01:45] TheRollingEdit commented on #43
Goof luck with your exams. When do you think thid issue is going to be fixed? Really looking forward to using Csploit on my Nexus 6 😀

[2015-02-21 08:01] tux-mind commented on #43
It should be fixed in last commit .
Try out the nightly build and let me known.

[2015-02-21 12:32] Systemad commented on #43
Not fixed it for me. I  already tried nightly build

[2015-02-21 13:20] Skipsterist commented on #43
I've been following and reading for the past few days and decided to sign up to comment.

This latest nightly resolved the core/ruby situation; it now downloads core, ruby, MSF in that order and extracts the same way.

However, after the extraction of MSF, the "installing gems for MSF" hangs and doesn't complete. So for me, it goes all the way through except for the gem install. It will sit "worki

[2015-02-21 13:43] TheRollingEdit commented on #43
Yup, I confirm, it actually installs ruby but the "installing gems" hangs for about 2 mins and then says 'cannot start process" and it asks for a metasploit framework update again, i tried the loop a few times and it doesent end.

[2015-02-21 14:02] TheRollingEdit commented on #43
Also, if it can help, if when it asks for the metasploit update i say yes, let it fail, but say no the second time it asks, if i click on any device, and then inspector and start, for 1 frame it says stop and then comes back to start, I basicely cant do anything but the network tree works.

[2015-02-21 15:11] Msrpc commented on #43
Mine doesn't ask for a repeat Metasploit update after letting gems finish installing but it still "cannot start process". Got my hopes up though can't wait until it works, can't really use anything without it though.

[2015-02-21 17:50] tux-mind commented on #43
should be fixed in c690b4fdcbd89a5f4f0e87daf9c9e63c0659dbdd

I'm building a new version right now...

[2015-02-21 17:52] TheRollingEdit commented on #43
Thanks a lot for all you hard work. Everyone thay uses Csploit really appreciates it ☺.

[2015-02-21 18:13] tux-mind commented on #43
@TheRollingEdit thanks :blush:

[2015-02-21 18:14] tux-mind commented on #43
done, let me known if we can finally close this issue :sunglasses:

[2015-02-21 18:15] TheRollingEdit commented on #43
K, I'll try it and i'll be right back.

[2015-02-21 18:24] Msrpc commented on #43
@tux-mind IT WORKS :D!!!!! Thank you so much for all the work you have put in.

[2015-02-21 18:25] TheRollingEdit commented on #43
Seems to work perfectly. But could you tell me how to cut off someone's device from my network(so they can't use the internet) I can't seem to figure it out.

[2015-02-21 18:32] Msrpc commented on #43
@tux-mind how does the Sessions work??? I'm just curious do you need to add a personal metasploit server??

[2015-02-21 19:22] tux-mind commented on #43
@TheRollingEdit select the target > mitm > connection killer

@Msrpc sessions are MSF active sessions, learn more about them and you'll understand whet them are.

Also a MSF remote server is needed only if you wish it's a feature that make the MSF work without installing ruby and the MSF on your device. If you have no problem with the installed one you don't need this.

[2015-02-21 19:22] #43 closed

[2015-02-21 19:25] tux-mind commented on #59
#43 is fixed now, can you give it a try? Thanks :smile:

[2015-02-21 19:35] tux-mind commented on #52
@Avamander I think you're wrong.
Yes, it require a lot of work but aircrack and other tools aren't user friendly like an android application.

The target of cSploit is to made the super-standard hacking jobs easy and portable on your hand.

Furthermore parsing other tools output is problematic.
BTW I will take some time to analyze the aircrack approach when I'll implement this feature.

As always

[2015-02-21 19:43] tux-mind commented on #61
@killoid thanks for the report, can you post a full logcat? Thanks in advance.

[2015-02-21 19:44] tux-mind commented on #77
Duplicate of #43

[2015-02-21 19:44] #77 closed

[2015-02-21 19:45] Avamander commented on #52
@tux-mind
But displaying Aircrack suite output directly, but creating shortcuts to execute commands faster. It is much more work creating properly working "aircrack" suite than giving the user a terminal with working Ubuntu(it's easier than others .-.) build.

[2015-02-21 19:48] Avamander commented on #52
PS
I get it that it is not that user friendly, but it has much more features than (unfortunately) you could never implement because it takes too much effort. I would really appreciate if you'd atleast build a terminal into your app.

[2015-02-21 19:48] tux-mind commented on #78
Sorry for the late reply. Duplicate of #43

[2015-02-21 19:48] #78 closed

[2015-02-21 19:50] tux-mind commented on #79
Thanks for the report @Avamander and sorry for the late reply. Exams period.

Happy to have you on board again :blush:

Duplicate of #43

[2015-02-21 19:50] #79 closed

[2015-02-21 19:52] tux-mind commented on #86
Duplicate of #43

[2015-02-21 19:52] #86 closed

[2015-02-21 19:56] TheRollingEdit opened #87 "Alias's for devices disapear upon closing and reopening app"
Everytime I leave an alias for a device and i quit csploit, when i come back, the alias is gone. Is there any way to fix this so the alias's are kept?

[2015-02-21 21:56] Systemad commented on #59
@tux-mind YES!! #43 Fixed for me!! Thank you so much!

[2015-02-21 21:59] Settix commented on #59
Hi tux ! Everything is working properly on my xperia z3 (4.4.4) and on my nexus 9 (5.0.2) but it doesn't seem that I can run any exploits after hitting 1)Inspector then 2)Vulnerability scanner and 3)Exploit finder.
The exploit finder plugin manages to find an exploit ( exploit/unix/ssh/tectia_passwd_changereq ) on my vulnerable mackbook but i only have one box popping up : "Choose an option" and I

[2015-02-21 22:09] Settix commented on #24
Everything is working with the 1.4.2 release, except the option to exploit things once we have found an exploit. ( I only have the option to open an url redirecting to rapid7 website ).
tested on xperia z3 (4.4.4) and on nexus 9 (5.0.2)

[2015-02-21 22:10] Systemad commented on #24
The #43 not fixed for me, we talked about the old ruby I had and that is the problem why I can install MSF for me

[2015-02-21 22:40] Avamander opened #88 "Huge storage usage"
Is there a way you could reduce the amount of storage cSploit uses when MSF is installed?

[2015-02-21 22:49] Avamander commented on #43
Latest cSploit fixed the issue for me.

[2015-02-21 23:23] Skipsterist commented on #88
You could with a server tie, but I don't think it's really that big to worry about when used. Zanti uses the cloud based stuff; they hold all their stuff on the server regarding exploits.

Respectively, I just don't see space as an issue with today's technology. My phone is capable of doing everything needed, then I have the capability to add 128gb storage. I understand is isn't that way with ever

[2015-02-22 00:24] Avamander commented on #88
I have more than enough space, but my phone's internal storage ain't that big. It would be nice if it would use SD Card for as much files as possible. I have 4GB of internal (600MB free w/o cSploit) and SD Card that has 9GB free.

[2015-02-22 00:26] Avamander commented on #60
Can confirm, happens even when "Open with:" dialog opens and I press back button.

[2015-02-22 00:28] Avamander commented on #59
Can confirm, I am on latest cSploit.

[2015-02-22 03:19] Skipsterist commented on #88
May I ask what phone you have? I actually took a first gen Kindle Fire that has very little sys room and it functions well. But it isn't a phone.

[2015-02-22 09:01] killoid commented on #61
do you mean the system log? here you go. link: http://d-h.st/lYIU
btw i've tried v1.4.2 & it opened but showed a popup saying that core file is not installed & network is not connected. so do i have to open the app after turning on wifi?

[2015-02-22 09:41] Avamander commented on #88
A LG D605. It has more than enough space actually, but just cSploit could use SD Card more.

[2015-02-22 10:04] jonniex7 commented on #43
thanks man you are the best keep up the good work!!!

[2015-02-22 22:55] Settix commented on #43
Yup can confirm,  no more errors while installing core, ruby or msf ( xperia z3 4.4.4 &  nexus 9 5.0.2)

[2015-02-23 18:11] DNBkid commented on #43
unfortunately i`m still getting , error downloading update, and Cannot start process  for MSF : ((

[2015-02-24 09:25] Interneedus commented on #43
Reinstall cSploit and try again.

[2015-02-24 11:45] greensmith opened #89 "msfrpcd port problem"
Hello

I tried to connect to the msf rpc daemon from another machine - but couldnt.
I tried changing the port to see if that resolved the issue, and am now having a different one.

**ps aux | grep msfrpcd**  returns the following

**ruby /storage/sdcard0/meta/msfrpcd -P msf -U msf -p 8080 -a 127.0.0.1 -n -S -t Msg -f**

The port I chose was not 8080, however every time I change the port, stop and

[2015-02-24 12:15] greensmith commented on #89
I've also tried manually editing the shared prefs xml file.

But it does not seem to be reading this.

[2015-02-24 18:50] DNBkid commented on #43
I have already done it 10 time`s, ill create a logcat  with debug info soon.

[2015-02-25 21:45] TheRollingEdit opened #90 "new 1.4.3 update crash"
Csploit worked fine in its last update which fixed the msf download issue, now, on 1.4.3, it says Csploit has stoped working. I am on a nexus 6 with cm12. If you need a logcat, just ask me.

[2015-02-25 22:36] Wym0n commented on #90
I'm having the same issue, stock nexus 6

Logcat: http://pastebin.com/iFwX31Nx

[2015-02-25 23:06] Settix commented on #90
Yup,  same thing for me ( stock 4.4.4, xperia z3) and on n9 too

[2015-02-25 23:10] Check-mate opened #91 "I can provide help"

[2015-02-25 23:39] Check-mate commented on #91
I appreciate your enthusiasm for this project and like me you're still a student (computer I guess). I have some ideas that may be able to interest you and can improve this project. You will continue to maintain cSploit in 4-5 months?

[2015-02-26 00:43] alexmanner commented on #90
Same for me :-)

[2015-02-26 04:20] xDragonZ commented on #90
Here's the log

02-26 12:18:36.956 E/CSPLOIT[core.System.errorLogging](26041): java.lang.NullPointerException
02-26 12:18:36.956 E/CSPLOIT[core.System.errorLogging](26041): java.lang.NullPointerException
02-26 12:18:36.956 E/CSPLOIT[core.System.errorLogging](26041): 	at org.csploit.android.core.ExecChecker.canExecuteInDir(ExecChecker.java:248)
02-26 12:18:36.956 E/CSPLOIT[core.System.errorLogging]

[2015-02-26 16:14] greensmith commented on #90
Same here, downgrading for now.

[2015-02-26 16:39] bionictrip commented on #90
mKnownIssues = new KnownIssues();
in System.java needs to go before
mTools = new ToolBox();

[2015-02-26 19:26] Ottavio97 commented on #43
I downgraded at 1.4.2 and all is fine now. But if you don't update the application, it doesn't let me install core, ruby and MSF. Like if it's all part of an unique upgrade. To avoid future bugs, it will be really good if you can decide to manually install them from Settings Menu. But however, I resolved it by manual in stallation and manual permission settings.
About MSF, Great work for solving c

[2015-02-26 23:43] freddL opened #93 "cannot find a core fore devis"
Hi,
i have a motorola G 4G xt1039 when I start cSploit release 1.4.1, this message print :
"cannot find a core fore devis"

My phone is root and I use Bliss Pop ROM 5.0.2 based CyanogenMod

[2015-02-27 06:27] Alpibrine28 opened #94 "Cannot start process"
It still keeps giving cannot start process error while trying to start Metasploit RPCD on Note 3. Please fix it.

[2015-02-27 08:03] xaitax commented on #90
Can be closed. Issue not present anymore in current nightly.

[2015-02-27 11:13] greensmith commented on #94
this is also happening to me, with 1.4.5, on Galaxy S2.

http://hastebin.com/igowejubik.tex

I also, occasionally, get 'encounted an error' when loading the application

[2015-02-27 11:17] TheRollingEdit commented on #90
The nightly still cant install msf, the nightly is unusable.

[2015-02-27 12:07] Avamander commented on #93
Try newer version.

[2015-02-27 12:09] Avamander commented on #94
What version of cSploit?

[2015-02-27 12:10] Avamander commented on #90
Cannot confirm LG D605 CM11

[2015-02-27 12:13] Wym0n opened #95 "gems fails to install"
I have a nexus 6 5.0.1 lollipop and when gems goes to install I get the error that it failed to install.

[2015-02-27 13:23] xaitax commented on #90
Just because you cannot install MSF doesn't mean this bug report is invalid. This issue for this ticket is fixed.

[2015-02-27 13:59] bionictrip commented on #95
same or similar issue here oneplus one CM11 4.4.4
http://pastebin.com/fLSiTZKF

[2015-02-27 15:53] ALoGeNo commented on #95
Same here cm11  4.4.4, htc sensation

[2015-02-27 16:06] greensmith commented on #94
1.4.5. But i've just updated to 1.4.6, Same issues.
I have a feeling this, and other issues I experience,  might be something to do with ruby.
It does not seem to run properly at all, even when manually trying to run it from console.

[code]

just wondering if the ruby is either not installed properly or not compatible with the device.

[2015-02-27 16:39] bionictrip commented on #95
was able to manually install mini_portile' (~> 0.5.0)
gem install mini_portile -v '0.5.0' then gems installed successfully.

[2015-02-27 16:46] strakplan commented on #95
@bionictrip

How did you installed it? Describe in detail steps please. Thanks.

[2015-02-27 16:57] strakplan commented on #95
I've almost same issue on CM12 nightly. After updating Ruby I get message "Cannot start process" and then cSploit ask me if I would like to update Metasploit Framework. When I touch on "Yes" it tries to install and then I get error message: "Error occured while downloading the update"

And I think I'm not only one so please don't close this issue.

Thanks.

[2015-02-27 19:17] jonniex7 commented on #43
huston huston we got a problem but i have faith in you!!!!!
http://pastebin.com/8UM1MTYQ

[2015-02-27 19:27] tux-mind commented on #43
@Ottavio97 I added more updates options in settings.

@jonniex7 thanks for the report. fixed in 1.4.7.

about the recent releases:

thanks for your patience.

[2015-02-27 20:53] jonniex7 commented on #43
&again we(you,all) managed to land down the rocket....
                                                     BIG THANKS TO

            %%%%%%%%%%%%%patient is virtue%%%%%%%%%%%%%%%%%%%%%

[2015-02-28 09:40] martin5718 opened #96 "can't install metasploit framework on csploit"
When I open csploit it says metasploit framework need to be updated do you want to continue? I press OK and it says an error occurred while downloading the update. I have nexus 9 with lollipop root

[2015-02-28 18:22] Settix commented on #62
Yep, I also added more french translations ( 61% for now ) :)

[2015-02-28 19:10] tux-mind opened #97 "change MSF implementation."
We have to change the way we manage the MSF.
It's very exausting maintaining it in the current way ( patching MSF files from Java using sed ).

the following approaches were proposed by me and @rigid in #10

-------

# 1. patch on device with java ( current approach )
|Pros|Cons
------|-------
download directly from rapid7 repo | patch logic inside cSploit
 | .apk release needed when msf commit br

[2015-02-28 19:30] fabinhojcr commented on #97
Very good @tux-mind 😀

[2015-02-28 19:32] newbie442 commented on #97
Is there another option for csploit users - patching it themselves on their own desktop?  While this would demand more of the users, it should help make life easier for tux-mind - whose efforts we greatly appreciate. (I'm guessing that the average user here could handle this)

[2015-02-28 21:29] DNBkid commented on #43
Great news for my huawei p6 i have downloaded 1.4.9 and now Metasploit have downloaded and installed finaly correct.  Big Big Thanks to your great work tux-mind   !!!

[2015-02-28 21:33] DominikTV commented on #95
Same here, after a clean install, I can install the main core fine, the ruby says "cannot start process" after the download and the gms stays at "installing gems..." after the download until I cancel it.

Lollipop 5.0.1 Nexus 5

[2015-02-28 22:20] Msrpc opened #98 "MSF RPC not connected"
Selected target > Sessions

Gives error: MSF RPC not connected

Even though it says MetasploitRPCD and Network monitor are running

Even after running port scanner, Inspector, Vulnerability finder, Exploit finder.

[2015-03-02 12:26] greensmith commented on #98
What port does your MSFRPCD run under (default is 55553)?
I have noticed problems with this setting and sometime there are issues changing it.

What does a terminal reply with when you run these commands?

ps aux | grep 'msf'
this should show the cmd used to run the daemon (something like ruby /data/msfrpcd......)

netstat -a
this should show with the daemon (or anything) is listening and what wha

[2015-03-02 13:24] greensmith commented on #98
I have noticed that on a fresh installation
this is being run

*ruby /data/data/org.csploit.android/files/msf/msfrpcd -P msf -U msf -p* ***5553*** *-a 127.0.0.1 -n -S -t Msg -f*

notice the port.
Seems this commit missed a 5 from MSF_RPC_PORT?
https://github.com/cSploit/android/commit/2f223ab787c5a9690c4250e35c420267a611f48f

Also, the daemon is listening on 127.0.0.1 rather than 0.0.0.0 so only l

[2015-03-02 16:03] Msrpc commented on #98
@greensmith is there a manual fix for this?

ps aux | grep 'msf' didn't show anything for me

netstat -a showed

                local address.           foreign address
tcp        127.0.0.1:55553              0.0.0.0:*

udp.        0.0.0.0:48061                 0.0.0.0:*

Kinda confused what is the 0.0.0.0:4861 is it just looking at the wrong port 55553?

[2015-03-02 18:57] tux-mind commented on #97
Hi @newbie442 thanks for the suggestion, but consider the following tasks:

  - changes the gem sources to an external server that have compiled gems for your platform
  - change gem versions to match the one on the external server
  - change some commands that are not available on android ( like `find` or `git` ) to something else.

the most hard task is to compile native gems for your platform b

[2015-03-02 19:21] Systemad commented on #94
@greensmith I'm having the same response when ./ruby -v
My guess is that the installation is corrupted.

[2015-03-03 03:23] Check-mate commented on #97
About the MITM :
One of the best features in cSploit is it's ability to performed MITM vectors attacks.
We can combine the payloads of Metasploit with the MITM attack.
Procedure :
- Be connected to 3g/4g network
- Use IP forwarding
- Configure IPTABLE to route HTTP traffic and enable SSLstrip
From here, when someone connect to the phone hotspot, cSploit allow us to launch a payload against the vic

[2015-03-03 22:50] Ottavio97 opened #99 "I 've found how to resolve!!"
HI, @tux-mind

do you remember my error? My MSF doesn't want to connect. So I tried this step.

1. Gitcloned your repository
2. Added a CheckBox in Settings called "MSF_LOCAL"
3. Replaced the function isLocal() with the getBoolean("MSF_LOCAL", true)
4. Replaced in the MainActivity the check if(mMsfHost. equals("127.0.0.1")) with if(mMsflocal)
5. Compiled & Installed
6. Created a manual unix script

[2015-03-05 00:19] fozze216 commented on #99
Well I'm stuck where you just were... and don't know anything about how u fix! :-/ can I get u apk n script u got working?

[2015-03-05 19:39] Systemad commented on #97
I just want to say that I can now install MSF on my device. Thanks for the work! :D

[2015-03-07 13:57] MatthewHKnight commented on #98
I'm getting an error trying to start Metasploit RPCD says, cannot start progress.
Not sure if its an issue because i have nethunter installed having this issue on a Nexus 7 2013 WiFi Tablet.

[2015-03-07 13:59] MatthewHKnight commented on #95
Having this same issue i left Installing gems for metasploit running for over 8 hours was still showing it was installing.
Nexus 7 2013 WiFi Tablet.

[2015-03-07 14:10] MatthewHKnight commented on #73
cSploit has alot of potential disappointed that the maker of dSploit moved on to zANTI that app doesn't appeal that much to me it's lacking features right now is how i feel i heard rumors they had a exploit pack for zANTI but its not in the public release i guess.

[2015-03-07 14:23] MatthewHKnight commented on #95
I think i might have figured out how to fix my problem what i did was is unchecked Enable MSF as the Installing gems for MSF was going that appears to have fixed that issue for me. You will need Put a Check mark back in the box if its able to install the gems to be able to use Metasploit RPCD.
Settings> Scroll down to Enable MSF uncheck box after installs gems finally place check back in that box

[2015-03-08 04:19] frozenkernel33 opened #100 "Reporting some bugs I've been experiencing"
Hi, @tux-mind. I'm trying to use cSploit with my recently updated system but it's all bugged.
It worked just fine when I was using Cyanogenmod 11.0 with some minor bugs.

Issues:
When I try to do basically anything it shows the message: 'cannot start process';
When I try to go into Sessions menu it shows the message: 'MSF RPC Not Connected'.
It always keeps showing the message, 'MSF RPC Daemon kil

[2015-03-08 08:56] tux-mind commented on #97
sorry for my late reply.
my girlfriend's grandparent died few days ago and these has been difficult days.

@Check-mate that's a good idea, but keep the things tidy and clean. the way the user traffic pass thought your device doesn't matter. if it's an hotspot or a MITM redirection don't care. the important thing is that we can manipulate the victim traffic. after this we can enable SSL split/strip

[2015-03-09 05:21] MatthewHKnight opened #101 "Vulnerability Finder not working"
So i have a vulnerable Windows XP Machine i use for Security Demo's the Vulnerability Finder option under Inspector is not locating any exploits for the machine but the machine is vulnerable to the ms08_67 exploit.

Ran the Inspector it found the services running moved over to Vulnerability Finder click start nothing just shows the services click on then they do nothing?
And yup connected to the i

[2015-03-09 16:22] Mephistophiles commented on #101
Me too
https://www.dropbox.com/s/ctr4m6gmedduipq/cSploitd.log?dl=0 this is cSploit log

[2015-03-09 19:09] Chnorzy opened #102 "Permission Problems"
After installing cSploit and start it up it asks if I want to install the core. After a long time it starts extracting for a while. After this I got the message that I need to be root without beeing ask for root permission.
I could fix this for me with changing superSU general settings for root access to always allow instead of asking for each app. This is not a good solution.
I installed superSU

[2015-03-10 05:38] PombaM commented on #96
its the same for me too bro

[2015-03-10 14:49] tux-mind commented on #96
should be fixed in 1.5.0.
can you test [it](https://github.com/cSploit/android/releases/download/v1.5.0/cSploit-release.apk) ?

[2015-03-10 14:50] tux-mind commented on #97
I changed the way we install the MSF, can you test [version 1.5.0](https://github.com/cSploit/android/releases/download/v1.5.0/cSploit-release.apk) ?
thanks in advance guys :blush:

[2015-03-10 14:55] tux-mind commented on #75
thanks for reporting @CHEF-KOCH .

I think that I will not change the shown error, it's quite clear for me.

[2015-03-10 14:55] sunbriel opened #103 "1.5.0 download issue"
Downloaded and installed 1.5.0, but the app still says 1.4.9 and asks me to update.

[2015-03-10 14:58] tux-mind commented on #103
oh sorry, i forget to increase the manifest, will fix in a few minutes

[2015-03-10 15:03] tux-mind commented on #103
fixed

[2015-03-10 15:03] #103 closed

[2015-03-10 17:48] Settix commented on #97
The New 1.5.0 seems to work ( core installs itself well, same thing for ruby gems and msf framework)  but the vulnerability founder isn't working and csploit can't connect to metasploit rpcd ( port problem, see #99)

[2015-03-10 17:49] Settix commented on #97
Btw : Nice work for the New Msf implementation method :D

[2015-03-10 19:20] tux-mind commented on #99
Hi @Ottavio97 , sorry for the late reply.

thanks for spending your time solving your issue, I'm solving the issue right now.

[2015-03-10 19:49] tux-mind commented on #99
ok, the problem isn't the port or the host.

simply the daemon send the "hey! I'm ready!" message to stderr instead of stdout.

working on it.

----

btw I found that there is some problem using the ruby sqlite library... tofix

[2015-03-10 22:23] newbie442 commented on #97
On 03/10/15 13:48, Settix wrote:

Ditto what Settix said about the installation. Though I had to take two
runs at updating msf (perhaps there were two updates) gems took a bit of
time.

Ditto regarding the vulnerability finder. Inspector passes on detected
"ports" and services; vulnerability finder lists them again; starts up;
waits 5 seconds or so; stops; nothing noted - neither vulnerabilities
n

[2015-03-11 03:21] PombaM commented on #96
hey @tux-mind i've just installed the latest version ie 1.5.0 and till now everything looks good. The app was able to install metasploit framework and everything in between. Im going to test it and let you know if i run into any issues.

[2015-03-11 11:21] alexmanner commented on #97
Same here, the vulnerability finder doesn't work. It starts for half a second and then stops. It has worked in the previous versions.

Overall, great work.

[2015-03-11 18:45] tux-mind commented on #97
ok, I can close this issue.

for the Vulnerability finder problem let's move the discussion over #101

thank you all for your time.

[2015-03-11 18:51] tux-mind commented on #91
I @Check-mate , I really need some help.
I have to graduate in July and work for pay the food, my free time is very low.

ATM I want to maintain the project forever, I want to bring it to a stable point, then start developing many cool features like using USB WiFi dongles, injecting backdoor on infected machines and so on.

[2015-03-11 18:52] orangeisnon commented on #101
Tux, this is what I emailed you about this morning (or last night - time differences). I think the problem actually lies in the core, and it's probably my fault that this even exists. Rolling back the changes from my similar issue should fix it.

[2015-03-11 19:00] tux-mind commented on #101
Hi @orangeisnon I'm looking this issue thanks to your email :wink:

I didn't understood what is not working: the Inspector or the VulnerabilityFinder ?

Inspector is nmap, VulnerabilityFinder is writter completely in Java.
if this problem is related to the core it should be about the Inspector.

working on it right now.

[2015-03-11 19:03] orangeisnon commented on #101
I assume VulnerabilityFinder. The Inspector is finding the services, however VF doesn't find any of the (known to exist) vulnerabilities. Unless Inspector isn't reporting correctly (but I don't recall it being touched recently...).

[2015-03-11 19:09] tux-mind commented on #101
I can confirm the bug, tested on my phone now.

[2015-03-11 19:42] tux-mind commented on #101
bad news, OSVDB enabled a JavaScript checker, I have to find a way to bypass their restrictions.

stay tuned.

[2015-03-11 21:11] Systemad commented on #102
This might be cSploit SuperSu but I had same problems in other root apps but not on cSploit.

[2015-03-11 21:22] MatthewHKnight commented on #101
RIP Vulnerability Finder Feature :+1:

[2015-03-12 01:50] Check-mate opened #104 "Some ideas to improve cSploit"
I understand you. I have to validate my school year as well and I have a lot of work until the end of the year.

Thank you for sharing your knowledge with us and your plans for the future of this app.

I don't know if you've established a roadmap for this (big) project.
To me, the best thing to do now is stabilized the core of the app.
Especially since some key functionality of the application has

[2015-03-12 13:19] bionictrip commented on #99
Might be useful if you haven't already seen it, but the ready message seems to come through if you stop the metasploit daemon.

http://pastebin.com/8JQWppiL

after starting daemon:
03-12 09:12:10.509  12585-16820/org.csploit.android I/cSploitClient﹕ start_command: child #2 started

after stopping daemon
03-12 09:13:56.569  12585-17896/org.csploit.android D/cSploitClient﹕ send_message: message sent

[2015-03-13 09:07] tux-mind commented on #101
even worse news: osvdb drop metasploit support.

I have to change the data source for the vulnerability finder, but it won't die :wink:

[2015-03-13 18:17] tux-mind commented on #101
did anyone ever used the VulnerabilityFinder alone ?

or are you just interested in the exploits ?

I found a way to bypass javascript checks ( HtmlUnit ), but require some work and I prefer spending this time to improve the ExploitFinder.

thanks in advance for your feedback :blush:

[2015-03-13 18:25] tux-mind commented on #99
@bionictrip yep, I completely forgot to add the handler for the MSF daemon, [now it works](https://github.com/cSploit/android/commit/3048a7810450561540dd9c3cea4e3a7cb65af6e0).

BTW, i will not make a release with this correction, `osvdb.org` enabled a JavaScript checker and cSploit isn't able to found vulnerabilities. this will affect also the exploits, making your working installation of MSF poin

[2015-03-13 18:25] #99 closed

[2015-03-13 18:48] MatthewHKnight commented on #101
I'd like it to be able to find the exploits and maybe compile them for us if it could and then be able to run the exploit but i guess i'd be asking for too much :B zANTI only shows the vulnerable service the machines have from there your basically where zANTI ends doing anything else to help you from there you're pretty much on your own.

[2015-03-13 22:30] Alpibrine28 commented on #94
I realized that it also happens after updating ruby, and it always fails to download core.

[2015-03-14 21:43] tux-mind commented on #101
yep, probably this is the right way to work: search for exploits, not vulnerabilities.

when an exploit is found, use any reference ( OSVDB, CVE, BID ) to check if the running service version is vulnerable.

I'll probably implement this feature in this week, it require some work.

thanks for your feedback

[2015-03-15 16:55] Alpibrine28 commented on #94
And yes, ruby also fails to start.

[2015-03-16 19:12] smarek commented on #37
@tux-mind i've just got back to test csploit again, and i'm sorry, but downloading some ZIP or XZ files from amazon aws (and similar) is strange behavior to me, having it compiled in and not-overriding the update process user wants (updating parts/modules without much info) would be probably the way to run it with f-droid
what do you think @mvdan ?

[2015-03-16 19:25] mvdan commented on #37
What zip/xz files? I didn't understand the compiling and self-updating stuff.

[2015-03-16 19:36] smarek commented on #37
@mvdan to clear up, building ruby/metasploit-framework/... was removed from build process and now the small application after it's installation downloads ZIP/XZ files with pre-compiled binaries and stuff.
But on the other hand, the same does OSMAnd~ (open street maps android) with map resources.

Would you consider this behavior as suitable for f-droid distribution or not?

[2015-03-16 19:43] mvdan commented on #37
Well, what the app does once installed is its own business in that regard. Of course if it downloads sensitive data over http it may gain a disclaimer, but I'm hoping that's not the case.

We are strict as far as the building process goes, but we don't get into the security of running the app itself.

[2015-03-16 20:17] Foul opened #108 "Missing last letter in Computer/Network name"
When Csploit is launched, all the scanned network in Capital name, are missing the last letter !

My own network name is FOULNUX, but in cSploit it's FOULNU
same for my french box : FREEBOX become FREEBO
everything in minus is fine...

 1.5.0 installed on Nexus 9 5.0.1

[2015-03-16 20:18] Foul opened #109 "Submit issue from cSploit is 404"
In cSploit, Submit Issue gives https://github.com/evilsocket/csploit/issues/new and a nice 404 error ;)

[2015-03-16 20:21] 0MazaHacka0 commented on #101
I find that when Vulnerability finder connect to OSVDB it takes the 403 (Forbidden), and when it connect to CVE it takes Moved Permamently. Sorry, for my English

[2015-03-17 02:38] MerlinMerlin opened #110 "ettercap returned #237 when password sniffer turned on"
When password sniffer is turned on, it instantly turn off and "ettercap returned #237" is displayed.

Root and Busybox installed. I tried on KitKat and Lollipop but same thing happened

My logcat: http://pastebin.com/VGCiWcgr

[2015-03-17 05:15] BoBeR182 opened #111 "Bitcoin Donations"
Is there an official bitcoin donation address.

[2015-03-17 05:16] BoBeR182 opened #112 "F-droid.org repo submission"
Will this project be looking to be distributed by f-droid?

[2015-03-19 08:28] Interneedus commented on #112
There was a discussion about it. At the moment, no. Because cSploit uses precompiled ruby packages (if I remember that correctly) it requires too much work to release it there for the moment.

[2015-03-19 10:52] fabinhojcr commented on #109
@Foul now just wait for the next release of cSploit

[2015-03-19 10:52] #109 closed

[2015-03-20 09:34] killoid commented on #61
it force closes when i click ok on the following dialogue 'core file is not installed, a working network needed.' i enabled my mobile data & then it downloaded core file v1.0.4 but after that it force closed again. even when i click on settings within the app,it force closes. all this are on v1.5.0. new log attached. link: http://d-h.st/umou

[2015-03-22 07:00] Klocko opened #115 "[enhancement] Add SSL-Strip"
Hi, when will you add SSL-Strip to cSploit?

Also, this is my first time submitting an issue on GitHub, how do I add labels?

[2015-03-22 07:03] Klocko commented on #110
I'm in the same boat as you :(

[2015-03-22 08:07] xaitax commented on #115
It is implemented for ages.

[2015-03-22 09:00] BoBeR182 commented on #115
SSL-Strip has been included for a while, if you are finding it is not working please file a bug report. Be aware that with certain HTTPS security protocols like https://en.wikipedia.org/wiki/HTTP_Strict_Transport_Security (HSTS) that make SSL-Strip useless.

[2015-03-23 11:34] elitecompany commented on #110
I also got this message. I think it's because of the phone chipset. I read that the phones with the RTL8187 work well with ettercap. I am using a Motorola Moto G, and you?

[2015-03-23 11:40] elitecompany commented on #110
Broadcom WiFi Chipsets works well on monitor mode... Does anyone know which phones are compatible with ettercap?

[2015-03-24 02:40] Nauscar opened #116 "Error Occurred While Downloading Ruby Update"
Every time ruby update is attempted it fails. I am running Android 5.1 stock on Nexus 5.

[2015-03-24 02:52] Nauscar commented on #116
Problem resolved: realized I didn't have busybox installed after recently flashing Android.  Sorry for the report.

[2015-03-24 02:52] #116 closed

[2015-03-24 03:31] MerlinMerlin commented on #110
I am, in fact, also using a Motorolla moto G (XT1032).

[2015-03-24 14:14] tux-mind commented on #101
fixed :relaxed:

I worked a lot behind [these](https://github.com/cSploit/android/commit/43a80dad9f91b56b113e56986b0a8e5c87e2d16a) changes.

you probably won't notice them, but the way cSploit fetch online content is very better now.

I have a bad internet acces now ( my neighbor's one ), and I cannot push the new version.
I'll do it ASAP.

BTW, I'm re-design the UI to achieve a better presentatio

[2015-03-24 14:21] tux-mind commented on #109
@fabinhojcr thanks for the fix :relieved:

BTW when a resource is not to translate ( like links ) you can define it in `values/string.xml` and remove it from all other resource files.

in this way you/me/someone_else have to edit only one file when changing this kind of resources.

thanks again for your help :smiley:

I'll create a team page as I have some free time. It will be great if you enter

[2015-03-24 14:33] xaitax commented on #101
Hey guys, just built the nightly manually merged with those amazing fixes/changes!
Great work as usual @tux-mind! :)

[2015-03-24 14:36] tux-mind commented on #101
@xaitax thanks to you :blush:

BTW, does the nightly builds automatically or need some trick ?

[2015-03-24 14:37] xaitax commented on #101
Builds automatically. But sometimes I manually start the build-process if you push massive changes and test them. :)

[2015-03-24 21:25] tux-mind commented on #101
can someone push [this](https://drive.google.com/file/d/0B0RHupHzEorHYlhSdFRkSnkwbk0/view?usp=sharing) html page somewhere ?

it's a showcase of the new design.

I cannot use the csploit website because this content will still in the repo history forever.

thanks in advance :)

[2015-03-24 22:48] tux-mind commented on #111
just added, see the [donate page](http://www.csploit.org/donate.html).

thanks in advance buddy :blush:

[2015-03-24 22:48] #111 closed

[2015-03-24 22:58] fabinhojcr commented on #109
to me is a pleasure to help, I am with little spare time but always as you can I will help. Also I will follow your advice í ½í¸

[2015-03-24 23:28] Klocko commented on #110
I'm using a Nexus 6.

[2015-03-24 23:29] #115 closed

[2015-03-25 00:02] MatthewHKnight commented on #101
http://showcase.matthewhknight.com

On Tue, Mar 24, 2015 at 5:25 PM, tux-mind <notifications@github.com> wrote:

--
Sincerely,
Matthew H Knight
http://www.matthewhknight.com

[2015-03-25 13:55] Systemad commented on #101
Very nice! And if cSploit needs new icon I can try to create one.(I'm thinking of "Material design")

[2015-03-25 16:10] 0MazaHacka0 opened #117 "Can't lunch exploits on night builds."
Hi! When i found exploits to my vulnerable computer i can't lunch them, because there is no this function. If i open sessions i get message that msf rpc not connected.

[2015-03-25 16:12] 0MazaHacka0 opened #118 "CSploit are crached if u open traceroute."
On my android 4.4.4 if i open traceroute csploit are crashed.

[2015-03-25 21:24] tux-mind opened #119 "UI changes survey"
[here](http://showcase.matthewhknight.com/) you can find a showcase of the new design of the app.

what are your suggestions ?
should I proceed to work on this layout or I have to change something ?

I'm not a designer but I'm trying to do my best :wink:

thanks in advance for your feedback :blush:

[2015-03-25 21:25] tux-mind commented on #101
Thank you @MatthewHKnight  :smiley:

following up on #119

[2015-03-25 21:25] #101 closed

[2015-03-25 21:29] tux-mind commented on #117
Hi @0MazaHacka0 , thanks for your feedback.

as the message says cSploit is not connected to MSF RPC Daemon. that's all.
you cannot launch a rocket without a rocket launcher.

to fix it please install both the Ruby and MSF package.

feel free to reopen this issue if you still have problems.

[2015-03-25 21:29] #117 closed

[2015-03-25 21:32] tux-mind commented on #117
if you need extra info please read the [wiki page](https://github.com/cSploit/android/wiki/how-to-use-the-MetaSploit-Framework-in-dSploit).
it's a bit outdated but the process it's pretty the same.

[2015-03-25 21:39] tux-mind commented on #118
uh oh. fixing it now. it's a core issue.

thanks for the report :blush:

[2015-03-26 00:53] tux-mind commented on #118
after 3 hours of debugging and searching around the web I found the bug :tada:

`org.csploit.android.event.Hop` constructor takes a long as elapsed microseconds, but it arrives as unsigned int ( 32 bit ) from the NMap handler, this make the JVM/JNI crazy, them don't understand how to convert an `uint32_t` to a signed long.... **FACEPALM**.

I've already fixed it, but I have to check if this proble

[2015-03-26 04:56] 0MazaHacka0 commented on #119
Oyyyyy yes. You should to use new ui. It is very cool design

[2015-03-26 04:59] 0MazaHacka0 commented on #118
Thank you @tux-mind , u are the best developer!

[2015-03-26 05:17] 0MazaHacka0 opened #120 "Can't lunch exploits on night builds."
Android 4.4.4. Cyanogen 11. Busybox is installed, and have a root. In Csploit i install core, ruby, msf and etc. Metasploit RPCD is work. I found exploits but i can't lunch them. I try to reboot my phone and reinstall metasploit but i cant lunch exploits. I dont change ports on which csploit works. Nothing other app work. Ports are too unused by other app. On your video on youtube, you are wait a

[2015-03-26 05:22] 0MazaHacka0 commented on #84
I dont know. On 1.5.0 version if i go back and return i see all information.

[2015-03-26 15:03] #118 closed

[2015-03-26 17:53] Nauscar commented on #110
I'm using a Nexus 5 on 5.1. Same error message.

[2015-03-26 17:58] 0MazaHacka0 commented on #120
Metasploit RPCD is work, exploits are founded and founded on metasploit, version are equal, but dont have a launch function.

[2015-03-26 20:39] tux-mind commented on #90
sorry for the late reply

fixed in 853b32683b7618b4b5b7d45bfe3f48aab226483c

[2015-03-26 20:39] #90 closed

[2015-03-26 20:46] tux-mind commented on #120
please be patient about the exploits, I've recently changed the way they work and now I'm changing the UI to reflect these changes.

thanks for the report anyway :blush:

[2015-03-26 20:48] tux-mind commented on #120
also, a logcat will help me more than a video where messages are in a language that I cannot understand. thanks for your time :)

[2015-03-26 21:00] Avamander commented on #57
Can confirm. Hotfix would be really appreciated.

[2015-03-26 21:01] tux-mind commented on #110
sorry for the late reply, confirmed as affect many users.

I bet that your chipset does not support the `SIOCGIFHWADDR` command, which is needed by `pcap_open_live`.

I need to investigate moreover.

[2015-03-26 21:20] #110 closed

[2015-03-26 21:20] tux-mind commented on #110
fixed :sunglasses:

[2015-03-26 21:26] Settix commented on #119
Damn That showcase looked sweet ! Csploit's new UI will definitely be cooler and more modern.. But I think you should better focus on coding first than this UI ( well it's kinda optional for the moment), *Just giving my point of view, it's your project after all ! ;) *

[2015-03-26 21:29] tux-mind commented on #61
sorry for the late reply.
this seems a duplicate of #46

can you try to uninstall/disable xposed to make a quick test ?

thanks in advance :blush:

[2015-03-26 21:32] Systemad commented on #120
After starting MSF you will have to wait until you see toast message "Connected to MSF RPC daemon". Then You will see "Launch" option on the exploits.
I have problem where csploit crashes when I launch any exploit, I hope this log cat helps. https://ghostbin.com/paste/w2fbo  /Btw nice New design :D

[2015-03-26 23:36] elitecompany commented on #110
I have a Motorola XT1068. The ettercap message remains :(  in password sniffer
"Ettercap returned #237"

[2015-03-27 04:34] Kanareika opened #121 "Failed metasploit install"
Samsung Galaxy Tab 2.7.0, CM11, have root and full BusyBox installed, version of cSplot - 1.5.3. If i use default place of msf and ruby, i get "Error while downloading update" on stage "Install gems for msf". If i use custom place (like /storage/emulated/0/msf and /storage/emulated/0/ruby) i get same error on stage "Install bundles". Ruby install going well, all failures with metasploit.
Sorry for

[2015-03-27 06:33] 0MazaHacka0 commented on #120
http://pastebin.com/27QyJMDZ here the logcat. I see that msf rpcd and daemon are started but i havent launch option

[2015-03-27 06:57] Systemad commented on #120
What exploits are you clicked on ? You should click on the one that have "M" on left side.

[2015-03-27 07:14] 0MazaHacka0 commented on #120
@Systemad, i'm not so stupid. Of course, i click to msf exploits. Also, in option i use only msf exploits.

[2015-03-27 10:01] Kanareika commented on #121
Log here. Clean install to default place.
pastebin.com/Ki4C6VPt

[2015-03-27 11:33] Systemad commented on #120
I didn't mean to call you stupid or something like that :D and I will record later today. (I'm in school right now)

[2015-03-27 11:52] 0MazaHacka0 opened #122 "Cant change msf rpc port"
Android 4.4.4. Csploit 1.5.3. If u change port on which msf rpc work you cant change it on future. For example, i change port to 44444, and after that port is 8080 and i cant change this.

[2015-03-27 12:18] killoid commented on #61
i've uninstalled xposed & tried above procedure. it still force closes. log - http://d-h.st/9DR5

[2015-03-27 13:11] 837468220 opened #123 "cSploit menu ABOUT"
www.csploit.net should be www.csploit.org?

[2015-03-27 15:06] 0MazaHacka0 commented on #123
I fix it. In near future tux-mid add it.

[2015-03-27 18:27] #123 closed

[2015-03-27 18:56] 0MazaHacka0 opened #125 "U can't see results of mutiple attack"
If u start a multiple attack u cant see results. There is no dialog window with results.

[2015-03-27 19:03] 0MazaHacka0 commented on #120
Oyyyy, i know what is the problem. If System.getMsfRpc == null, u have a "MSF RPC not connected" message in Sessions and havent launch option in exploit findet. So it needs to start msf rpc daemon.

[2015-03-27 19:34] fabinhojcr commented on #123
Thanks for this fix @0MazaHacka0

[2015-03-28 06:44] MatthewHKnight opened #127 "False positive exploits found with Exploit Finder"
So not sure how accurate the exploits are that the Exploit Finder finds online but i highly doubt the exploits it found are are all the working exploits.
I'm just curious if you can give some feedback if the Exploit Finder is still being worked on or what i highly doubt a Fully up to date Windows machine has all these exploits it found.
Made a video its being hosted on Google drive for now.
https:

[2015-03-28 07:04] MatthewHKnight commented on #119
I'm just fingers crossed you manage to get a stable release one day of cSploit sadden the maker dropped dSploit to move over to zANTI right now zANTI isn't as cool as dSploit was.
I hope you tough it out and get things worked out and not give up on cSploit would be cool to be adding cSploit to my video collection in the future were lacking tools for mobile im surprised their are so few mobile apps

[2015-03-28 08:04] Interneedus commented on #119
Sorry, I think UI redesign should be the last thing to do. Bugs should be squashed before.

[2015-03-28 08:07] Interneedus commented on #127
It is impossible to tell what exploit work before trying them. This is not an issue.

[2015-03-28 08:14] MatthewHKnight commented on #127
Care to enlighten me on that with zANTI it shows the machine has no one vulnerabilities however this exploit finder shows tons of "possible" exploits would be interesting it it could work like zANTI does i highly doubt any of them exploits work but im not willing to run a bunch of random exploits on that machine to find out.

[2015-03-28 08:25] Interneedus commented on #127
cSploit shows all the exploits that could be used based on the data it has collected. It is impossible to tell what don't work because the simply isn't enough data.

[2015-03-28 10:40] 0MazaHacka0 opened #128 "MSF RPC not connected"
If I go to sessions I get MSF RPC not connected message.  Also I can't launch exploits. I don't know why rock isn't connected.  Msf rpcd is work.

[2015-03-28 12:14] Systemad commented on #128
The only tip I can give to you is to wait until toast messege "Connected MSF RPC daemon".
When is depending on device. What device do you have? I'm on Htc one m7 and it takes about 3 minutes

[2015-03-28 14:05] Systemad commented on #119
@Interneedus yes I agree, but from what I have understand is that he had to make some ui changes because of the recent changes.

[2015-03-28 14:20] Systemad commented on #128
// This is about something else//
To use msf and launch exploits requires chipset with monitor mode support?

[2015-03-28 15:39] 0MazaHacka0 commented on #128
@Systemad, can you record a video? I havent message with Connection to msf rpc, i have nothing message. I wait almost 10 min. Catlog seems that rpcd is started.

[2015-03-28 16:58] 0MazaHacka0 opened #129 "Can't start process while installing ruby"
When i installing ruby its says that cant start process, and request to install metasploit framework.

[2015-03-28 17:58] Systemad commented on #129
This isn't a bug. It tries to start msf when it's not installed. (I think)
Just click Yes if you wan't to install MSF

[2015-03-28 21:47] tux-mind commented on #119
thanks for your feedback guys.
that was a survey.

according to your comments I will *NOT* make the UI changes right now.
I have to change to UI to display some extra data that is now hidden and may be useful to you.

for example exploit can be enabled or disabled manually.
a nice custom exploit search, where found results can be added to current target ( like browser one that cannot be found from

[2015-03-28 21:47] #119 closed

[2015-03-28 21:47] tux-mind commented on #119
btw, feel free to suggest some UI improvements :wink:

[2015-03-28 21:52] fat-tire commented on #119
Hey tux-mind, dunno if you saw, but I made some material design UI improvements (I hope you'll agree) and other stuff in a [pull-request](https://github.com/cSploit/android/pull/126) yesterday...

[2015-03-28 22:16] lolzballs commented on #110
I have a OnePlus One, ettercap message remains as well.

[2015-03-28 22:23] tux-mind commented on #110
with the latest nightly build ?

[2015-03-28 23:37] tux-mind commented on #64
cool feature, any suggestion of where to put the logcat and the core log ?

pastebin require an API key
github gist require a github account

any other suggestion ?

putting the log into the issue body is unacceptable...

[2015-03-29 00:07] tux-mind commented on #120
@Systemad thanks for the logcat, found a new bug.

[2015-03-29 00:43] tux-mind commented on #120
partially fixed in 0d88874

[2015-03-29 00:49] tux-mind commented on #120
@0MazaHacka0 thanks for the logcat.

your device kill cSploit when the exploit search is in progress... I have to investigate why...

[2015-03-29 04:25] fat-tire commented on #108
Could the problem be that the text was wrapping around and being overlapped on the next line and so you aren't seeing it?  Do you still see this issue with recent nightlies (say, starting tomorrow?)

[2015-03-29 05:18] fat-tire commented on #127
Unless I'm reading this totally wrong, it looks like some of the exploits are [scraped from a web search](https://github.com/cSploit/android/blob/master/cSploit/src/org/csploit/android/net/datasource/Rapid7.java#L337-L345) with the initial [query](https://github.com/cSploit/android/blob/master/cSploit/src/org/csploit/android/net/datasource/Search.java#L45) being the service (ie, "telnet").  I wond

[2015-03-29 05:40] 0MazaHacka0 commented on #120
@tux-mind, i try to use csploit on android 5, 4.4.4, and 4.1.2. Also i try to search exploits with on/off rpcd.

[2015-03-29 09:02] rigid commented on #64
doesn't gist support anonymous pastes?
Would creating some dummy github account be an option maybe?

[2015-03-29 09:12] fat-tire commented on #64
FWIW there is http://www.acra.ch/ (I haven't used it) see also https://github.com/ACRA/acra

[2015-03-29 10:57] tux-mind commented on #64
thanks for the suggestion @fat-tire .

working on this.
I need the full logcat for debug native component crashes.

[2015-03-29 16:37] lolzballs commented on #110
Ok, confirmed working on nightly build.

[2015-03-29 17:47] Foul commented on #108
Still happening with latest build (1.5.3)

[2015-04-01 16:49] Systemad commented on #119
The new UI looks great but the app crashes when I try ro download core. (I sent log with the popup that comes after crash)

[2015-04-01 19:27] tux-mind commented on #119
@Systemad please update your sources clone, I started using ACRA as suggested by @fat-tire .

your crash should be sent ( upon your agreement ) to the cSploit crash storage.

thanks for your time.

[2015-04-01 19:33] tux-mind commented on #119
ah, BTW I made no changes to the UI, i just merged #126 .

I'm slowly closing all the issues right now.

[2015-04-01 19:51] tux-mind commented on #116
You're welcome, thanks anyway for your time :blush:

[2015-04-01 20:01] tux-mind commented on #43
glad to see that you enjoy all my efforts :blush:

[2015-04-01 20:48] tux-mind commented on #63
I think you're right @rigid .

I think that the `cSploitd` and `msfrpcd` will not impact the battery life if still running.
they just keep a socket opened on your localhost ( a UNIX and a TCP one ).

the problem is `network-radar`, it can kill your battery quickly.
IMHO, the best solution is to stop the radar when cSploit is not a foreground activity.

so the application will never "exit". it just

[2015-04-01 21:12] thelinuxone opened #130 "Installing gems for metasploit hangs"
Installing gems for metasploit hangs, I let it run for 24 hrs. Couldnt find anything in logcat.

[2015-04-02 00:53] MrChesko opened #131 "Problems (Android 5.0.2)"
Hi, I can't install ruby on Android 5.0.2, it shows me an error "cannot execute process"
When it will be fixed? I don't want to downgrade :( / Если ты русский, то можно и на родном языке ;)

[2015-04-02 02:07] #131 closed

[2015-04-02 02:09] MrChesko opened #132 "exploits in 1.5.3 doesn't launch"
How can I use an exploit in 1.5.3? It show me a menu but there's nothing about run a exploit

[2015-04-02 02:10] MrChesko commented on #132
shows*

[2015-04-02 02:48] #132 closed

[2015-04-02 10:23] smarek commented on #37
Well I'm closing this issue, because the build process now complies with f-droid concerns, @tux-mind I leave the decision about releasing through f-droid up to you. Thanks for your cooperation @mvdan

[2015-04-02 14:47] Kanareika commented on #121
Well, i fixed that. Update my CM11 and re-install BusyBox fixed that. How long i must wait for RPCD start? I waited 10 minutes - no messages and can't launch exploits.

[2015-04-02 16:09] Systemad commented on #119
@tux-mind Yes I saw that, I sent logs via ACRA (crash popup thing)

[2015-04-03 01:17] MrChesko opened #134 "Vulnerable finder"
When vulnerable finder will work?

[2015-04-03 04:59] #129 closed

[2015-04-03 04:59] #128 closed

[2015-04-03 05:00] #120 closed

[2015-04-03 05:07] 0MazaHacka0 opened #135 "CSploit crashed then you start exploits"
My phone is DNS S4003 (Innos i3), CyanogenMod 11 (Android 4.4.4). I don't know what i am do, but yesterday i see the launch option. I see message connect to MSF RPC and after that i can launch exploit. Then i try to launch exploit to vulnerable machine it says me "Launch failed". I select payload, change settings, and select the target. After that i try to start exploits. but CSploit is crashed. N

[2015-04-03 05:22] 0MazaHacka0 opened #136 "Bug in UI."
Then you stop MSF RPCD it show message "MSF RPCD is stopped" but if you start RPCD this message don't show. Also don't show message if connection to RPCD daemon is failed. It shows only if you stop RPCD. And thats why u can't know lucky or no connect to RPC daemon.

[2015-04-03 05:22] 0MazaHacka0 commented on #132
So, on your phone is show launch option?

[2015-04-03 06:12] MrChesko commented on #136
It shows but cSploit does connect to server ~ 3-4 minutes, so you will see a message after 3-4 minutes

[2015-04-03 09:34] Systemad commented on #136
Sometimes if you have been waited for msf to start for couple of minutes and then press Stop msf is shows "Failed to connect msf rpcd"
I dont think this are bugs, and this wouldn't be  about the ui

[2015-04-03 09:36] Systemad commented on #135
Same situation for me

[2015-04-03 09:39] Systemad commented on #134
Read #101 and you will understand why @tux-mind removed it.

[2015-04-03 12:35] MrChesko commented on #134
So exploits won't be working successfully?

[2015-04-03 12:37] AhmadSarsour opened #137 "csploit has stopped"
When i launch an Exploit to test it Csploit Stops and relaunch

[2015-04-04 17:14] 0MazaHacka0 opened #138 "Cant launch exploits."
DNS S4003, CyanogenMod 11, Android 4.4.4, Busybox 1.23, Root. I install clear cyanogenmod and after install csploit. Netstat -a seems that 127.0.0.1:55553 is opened and listened. Logcat here. http://pastebin.com/TyQxYBWF

[2015-04-04 17:31] 0MazaHacka0 commented on #138
I wait more than 30 min, but have no message.

[2015-04-05 14:21] Interneedus commented on #84
Most of them lose the state or stop running properly.

[2015-04-06 09:40] Duartebm opened #139 "nokogiri gem"
The ruby gems always crashes on the instalation on a gem called nokogiri. Please help. I use a dg350, rooted, full busybox pro.

[2015-04-06 09:43] Duartebm commented on #139
Btw, I have android 4.2.9 and the latest csploit version

[2015-04-07 03:01] fozze216 opened #140 "help?"
Msfrpc not connected....EBUG  ] send_message: { seq = 1, size = 101, id = 0, data = '\x0A\x06\x02tcpdump\x00\x01\x03raw\x00\x02\x02nmap\x00\x08\x02network-radar\x00\x09\x02msfrpcd\x00\x04\x02hydra\x00\x07\x02fusemounts\x00\x03\x02ettercap\x00\x00\x00blind\x00\x05\x02arpspoof\x00' }
[DEBUG  ] read_message: received a message (fd=4)
[DEBUG  ] read_message: { seq = 2, size = 9, id = 0, data = '\x03\x

[2015-04-07 11:09] Systemad commented on #140
Please don't post the whole log in this "issue post". Use pastebin, ghostbin or any similar services.

[2015-04-07 14:28] TechieWhale opened #141 "Trojan found in msf.zip"
Avast on my phone says there is a trojan called "Eicar" within msf.zip

[2015-04-07 14:30] TechieWhale commented on #141
Although it could just be the nature of the file and what it does. Might not contain an actual virus

[2015-04-07 16:23] Avamander commented on #141
Google "EICAR file" please. It is not a virus.

[2015-04-07 22:18] maximumbr opened #142 "Update Ruby error"
Galaxy s4 i9505g google edition 4.4.4 update ruby error.
"An error occurred while downloading the update."

[2015-04-08 14:14] 0MazaHacka0 commented on #141
There is not a virus. Its just exploits.

[2015-04-08 14:14] 0MazaHacka0 commented on #138
@tux-mind Also, i uploaded a video

[2015-04-09 00:52] antoniosilvawww opened #143 "heart attack csploit 1.5.3 android 4.2.1"
Android Version: 4.2.1
Kernel Version: 3.4.5
Model number: bq Aquaris 5 HD
cSploit Version: 1.5.3

Core is not installed, the application will just check for updates. New version found!

Core version 1.0.5 is available, do you want to upgrade ?

(Pressed "Yes")

Checking...
Extracting...

(Granted cSploit root permission)

Initialization Error
heart attack

(Pressed "ok", and app closed)

---Attac

[2015-04-09 19:28] TheNormalnij commented on #142
Explay A500 4.2. same error

[2015-04-10 13:56] bauermateus opened #144 "problem with gems msf installation"
hey, i'm not none expert in Android and nothing, but i want to help u and u help me... i updated core, ruby, and msf, but when finish extracting msf , it stuck on installing gems to MSF... can u help me? My phone is a motorola moto E xt1022

[2015-04-10 13:57] bauermateus commented on #144
Sorry for my bad english... I am brasilian

[2015-04-10 14:57] Systemad commented on #144
For long did you waited?
It can take up to 10 min. (It took 5 minutes for me)

[2015-04-12 04:13] akremche commented on #142
the same ERROR ( S4 I9505 )

[2015-04-13 15:45] mandriva91 commented on #142
same here, s4 i9505

[2015-04-14 07:43] 0MazaHacka0 opened #145 "cSploitClient - connect_unix: connect: Connection refused"
When I start cSploit, i see in logcat this message. I think because of this i dont have launch option in menu, and daemon dont connect. Android 4.4.4 (Full busybox, root).

[2015-04-15 02:19] cesararduino commented on #96
tux-mind, I have cSploit 1.5.3 and when I first open it, it asks to update the ruby and its successfull and then it asks to update the metasploit framework but in the process of installing the gems, it says that downloading the update was not successful. And then when I try to start metasploit, it says "cannot start process". I don't know what to do to make it work. I've read that some have had th

[2015-04-15 02:24] bauermateus commented on #144
I waited 10 hours

[2015-04-15 03:41] cesararduino commented on #43
@tux-mind Even after the 1.5.3 version of cSploit, the gem installation of the metasploit framework update fails. Then I try to start metasploit and it says "cannot start process". I tried manually extracting the mfs.zip and putting it in "/data/data/org.csploit.android/files" but when I open cSploit, it asks to update metasploit framework again. And if I say yes, it fails and the extracted folder

[2015-04-15 14:54] Systemad commented on #43
@cesararduino csploit should take care of extracting and setting right file permission and other stuff, so manually extracting msf isn't something you should do. the only thing is to wait until it's fixed.

[2015-04-15 15:03] cesararduino commented on #43
Oh okay, but I thought that he already made an update to the application and after the update many said that it began working for them. However, the metasploit framework update still doesn't work for me. So, just curious. Is tux-mind going to make another update? And how do I create a logcat so he can see my problem?

[2015-04-15 15:03] cesararduino commented on #43
@Systemad

[2015-04-16 12:20] ht54 opened #146 "note 2 4.4.2"
is not updated when you first start Metasplot Frameworkis.
csploit-debug-error.log http://pastebin.com/5yqPFMdS

[2015-04-18 14:07] Marenel opened #147 "Ruby, Msf"
After download Ruby appear error "Can't start the process"

[2015-04-18 14:27] cesararduino opened #148 "metasploit framework fails to install when installing gems for MSF"
I have a moto g 2014 with rooted lollipop 5.0.2 using SuperSU as my app to control root permission. When I open csploit 1.5.3 for the first time, the core updates fine, the ruby seems to update fine too. But when its time to update the metasploit framework, it fails when installing gems. Then I try to start metasploit but it says "cannot start process". Some have had this issue fixed with the late

[2015-04-18 14:40] Systemad commented on #147
This is not problem

[2015-04-18 15:02] highchecker opened #149 "cannot start process for MSF, ruby install fail, nexus 9"

[2015-04-18 15:06] Marenel commented on #147
Ok, and after unarchiving msf about 97% appear "An error occurred while updating". Sorry for my bad english

[2015-04-18 22:08] Synthesid opened #150 "No results of tracing or port scan"
Basically, cploit just shuts down tracing after a few seconds, with no results or error messages. That's kinda frustrating.

[2015-04-19 16:17] ozc commented on #43
Still same problem on Nexus 7 2013, 5.1. Tried both nightly and release versions.

[2015-04-20 20:10] DNBkid opened #151 "MITM not active after 1.5.3 update"
After cSploit updated to 1.5.3 ,i have noticed that MITM is not active after i chose " (Your network gateway/router) "  i tried several times but nothing happen. It work only if i choose single device connected on the network, but when i choose the router i click on MITM  nothing happens. Any ideas what could be, I have tried to return to the previous version ,but cSploit updates to the last one .

[2015-04-22 10:45] bossco79 opened #152 "MFS update failed"
Hi man!
Help me in my trouble pls.
Catlog: https://www.dropbox.com/s/kp3zyuuveu25pxf/2015-04-22-07-19-44.txt?dl=0
Device Meizu mx4, FlymeOS 3.7.3

[2015-04-22 11:54] Volufe32 opened #153 "обновление Ruby"
При попытке обновить Ruby выдает ошибку.

[2015-04-22 15:14] CoolOppo commented on #153
Are you completely oblivious to the fact that this is an english-speaking website?

[2015-04-23 04:24] Volufe32 commented on #153
Ok, My problem is that Ruby is not updated.
I went in and he told me cSploit proposes to update Ruby, wait 2-3 minutes and then gives an error.

[2015-04-23 10:49] simepy opened #154 "impossible download metasploit framework"
Impossible download metasploit framework
Android 5.1 Samsung galaxy s3 ROM cyanogenmod unofficial
cSploit v 1.5.3
Logs ?

[2015-04-23 14:30] stgrosso opened #155 "failing ruby and msf install"
While updating csploit the ruby process can't start and eventually the msf gems wont get msf installed returning an error messahe after a little while.
Issue on faced on the following devices:
Xperia z1 lollipo
Nexus 7 kitkat
Hope you can help
Thanks

[2015-04-24 01:07] uranium-waffles opened #156 "ruby and gems for msf issues"
I know this issue has been brought up before but I feel the need to bring it up again. When I try to install the update for ruby it finishes and says cannot start process. I don't think much of this but it might mean something to someone. when I try to install the Metasploit framework update it finishes the download and says "an error occurred while installing the update." and without either the r

[2015-04-24 01:07] uranium-waffles commented on #156
Also i have a Samsung galaxy s5 rooted on android 4.4.2 kit kat.

[2015-04-24 02:33] uranium-waffles opened #157 "ruby and gems for msf issues"
Wondering If I can manually install the Metasploit framework to csploit or install the ruby gems manually.

[2015-04-24 03:57] uranium-waffles commented on #157
@tux-mind can you help me? I've gone through countless amounts of posts trying to find it.

[2015-04-24 07:03] Kingbalou opened #158 "can't download ruby"
Ruby download always fail
Im on LG G2 4.4

[2015-04-24 19:47] #154 closed

[2015-04-25 19:38] technocookiejar opened #159 "Can't install gems (cannot start process)"
Hello tux-mind,

I experience problems while installing csploit, I have a Galaxy S5 running on Android 5.0.
When I open it, it says Install Core, I installed it, then it says Install Ruby and after it has extracted, it cannot start the process but then it proceeds to ask me to install the MSF which fails after the "installing gems dialog"
Attached you can find the log file

Looking forward to find

[2015-04-28 01:07] BEOWULF74 opened #160 "cant install msf"
Error log
org.csploit.android.core.ChildManager$ChildNotStartedException: cannot start commands
	at org.csploit.android.core.ChildManager.async(ChildManager.java:83)
	at org.csploit.android.tools.Tool.async(Tool.java:55)
	at org.csploit.android.tools.Raw.async(Raw.java:60)
	at org.csploit.android.core.UpdateService.extract(UpdateService.java:1052)
	at org.csploit.android.core.UpdateService.onHandl

[2015-04-28 01:12] BEOWULF74 commented on #96
same here !!

[2015-04-28 11:15] 4cylindersoul commented on #43
Im on ver 1.5.3 and its tells me that it cant install msf gems afyer extracting it

[2015-04-28 11:17] 4cylindersoul commented on #96
Here to :(

[2015-04-28 18:56] forkmind opened #161 "msf update fail"
I have already try to delete msf in preferences, what can i do ?

NB : I also have an issue to install Xposed framework ans have this error : cannot executable link dependencies library libdvsm.so notre found. It have perhaps nothing to deal with this issue but I post just in case : on KitKat i haven't this error on both, Xposed and Csploit.
NB2 : I am a Nethunter and a Lollipop user.

[2015-04-28 19:39] BEOWULF74 commented on #160
What the matters. With you tux-mind talk with us man >_< !!

[2015-04-29 06:53] 4cylindersoul commented on #159
same here:(

[2015-04-29 19:12] apkmadhax opened #162 "LG G3"
Loop for gem install. Have tried unchecking different updates IE: MSF Update, Rugy Gem Update etc. Have installed different builds and tried for few days and still loops

[2015-04-29 19:40] BEOWULF74 commented on #159
Tux-mind forget the app

[2015-04-30 18:00] lief2 opened #163 "Gem installation error."
Like a lot of people, I have an error at the gems installation. I made a logcat and search the error, here is what I found:
E/CSPLOIT[core.UpdateService.execShell](16757): Gem::InstallError: metasploit-concern requires Ruby version >= 2.1.
I can't install msf because of this gem, help...
I can give you the complete logcat if you want, ty.

[2015-05-01 08:32] Stefano0014 opened #164 "MSF gems"
cSploit cannot instal MSF gems. When the app downloads them, it fails. Fix this issue, please. We love your app. Thanks.

[2015-05-01 12:21] Stefano0014 opened #165 "Cannot start process"
When i start Metasploit MPCD it says "cannot start process". How can I resolve this issue? Do you need the log file?

[2015-05-04 16:48] scatteril commented on #110
thank you but the link to the nightly build gives error 404

[2015-05-04 16:51] scatteril commented on #48
issue came again

[2015-05-04 16:52] xaitax commented on #48
Because unfortunately the current source doesn't build anymore. :/

[2015-05-04 16:54] scatteril commented on #48
anywhere i can get it then ?

[2015-05-04 16:56] xaitax commented on #48
I proposed a commit that should fix the issue but wasn't accepted (yet). Until then, you have to wait.

I will copy last builts to the new server now .... Give me 10 minutes.

[2015-05-04 16:57] scatteril commented on #48
Thank you ..

[2015-05-06 07:44] Azihak commented on #163
Same problem here

[2015-05-06 10:05] Azihak commented on #156
Same here!!!

I have logs from everything since the install. Because my connection is slow i stopped logcat while downloading MSF and start recording again at 96%. The steps were install, open, accept update core, accept update ruby, accept update metasploit, "error during download"

Install log:
http://pastebin.com/0BF3HVzA

First time open log 1 (installing core and ruby):
http://pastebin.com/BX

[2015-05-06 23:12] Creativeusernam3 opened #167 "Gems not installing"
I'm new to the app, and the gems aren't installing to finish the mfc update. What can I do?

[2015-05-07 05:32] Systemad commented on #167
Nothing, you just have to wait until it's get fixed. And people should stop creating duplicate issues because it won't help.

[2015-05-07 05:34] Creativeusernam3 commented on #167
Sorry if it was annoying, I just wasn't sure if anything was found
On May 6, 2015 10:32 PM, "Systemad" <notifications@github.com> wrote:

stop creating duplicate issues because it won't help.

[2015-05-07 06:44] Systemad commented on #167
@creativeusername3 I wasn't really pointing at just you :D, there are about 10 Topics on same issue...

[2015-05-09 20:48] lief2 commented on #163
yeah, the nightly doesn't fix this error. I think that tux-mind is not available for now. Waiting...

[2015-05-09 20:51] lief2 commented on #96
same error for (almost ?) everybody.
Waiting...

[2015-05-10 16:24] LOOLOOOL opened #168 "App doesnt work says"
Everytime i open the app it says
" core is not installed, the application will just check for updates "
then after a bit it say no core for this device found

[2015-05-10 16:27] LOOLOOOL commented on #168
And now it say error occured whil downloading the update

[2015-05-10 16:28] LOOLOOOL commented on #168
I have a nexus 4
running on stock kitkat 4.4.4
fully rotted busybox etc.
and i have kali nethunter... could that be a problem ?

[2015-05-13 23:39] mralexk101 opened #169 "Csploit an error occured while installing msf"
Cm12 fresh install
Nexus 5
Log http://pastebin.com/z9Esx6ZU

[2015-05-15 17:03] NeoSlax opened #170 "Csploit error while updating msf"
HTC x920e (Butterfly)
android 4.4.2
Log http://pastebin.com/1aQTThHc

[2015-05-16 08:01] PyROMStaff opened #171 "Bug installing MSF"
It continues trying to install gems

[2015-05-17 10:15] antoniosilvawww commented on #143
ok, I tried to install again today the nightly release and it worked :D, but, when I do "Start MetaSploit RPCD" it says "cannot start process" in toast :/

[2015-05-18 02:12] Victolabs opened #172 "Can't use latest version."
Hi! I came here from dsploit and ui find that I can't use the app. When it downloads an update. I get initializing error: heart attack. If need more info let me know.

[2015-05-20 05:11] emiel89 opened #173 "Metasploid update error."
Csploid downloads the update and tries to install after a few minutes it gives the message "download error" on my experia Z phone.

[2015-05-20 15:35] Systemad commented on #173
I don't know why people creating issues about Metasplout when there are already at least 10 of them, especially without a logcat.

[2015-05-21 06:18] thapr0digy opened #174 "Deleting everything"
I didn't notice it until I chose a different directory, but if you choose to switch the ruby or msf directory to a different one it will delete everything in that folder. I switched it to the /storage/emulated/legacy and wanted to choose "msf". Instead when I chose to restore default path it preceded to delete everything on my sd card. Not really a good way to go about it.

[2015-05-21 16:50] Systemad commented on #174
Same thing happened to me.

[2015-05-21 21:46] thapr0digy commented on #174
Can't even find a decent data recovery tool

On Thu, May 21, 2015, 12:50 PM Systemad <notifications@github.com> wrote:

[2015-05-23 07:48] UrbanChrisy commented on #174
Contact the devleoper do your research before asking here, im not the developer. This is just a fork,

[2015-05-24 06:48] r0tati0n opened #175 "Names cut short by one letter"
I did a scan of my network. The computer names all are missing the last letter. EG: Computer name is "asdfg" cSploit shows "asdf"

[2015-05-24 20:56] GRSteelers opened #176 "Error when downloading Metasploit framework - HTC One M8"
'error when downloading update' after metasploit framework is extracted and while the process is 'installing gems'

[2015-05-24 20:57] #176 closed

[2015-05-25 20:54] flatpacked opened #177 "We need you with the best kit we can get you"
You're doing an amazing job, would you mind if I started a crowd-funded campaign to get you some decent laptops/servers/software ?
I know you're ato school but you sir, are a genius,  I am a hacker and pen tester but you have remarkable talent so if I can help contribute by doing a bit of crowd funding then I'm only too happy to help

[2015-05-25 21:35] maddogbuster commented on #173
here a logcat for the metasploit update error ,,,   https://gist.githubusercontent.com/anonymous/a9a116a91e3bf09c9df1/raw/d212916dc224e372ab40125d9accaef75ec0ab06/logcat%20csploit...installing%20gems...An%20error%20occured%20while%20downloading%20the%20update%20....

[2015-05-25 22:19] epsylon01 commented on #171
Me too. I am on a HTC One

[2015-05-28 10:53] Qu1cksnap opened #178 "Metasploit RPCD - Process wont start - XT1032"
Hi,
The metasploit RPCD of csploit wont start on moto g XT1032. Android lollipop

[2015-05-28 13:08] Systemad commented on #178
It depends on the cpu, it should take to to 5 min (for me on htc one m7)

[2015-05-28 14:39] Qu1cksnap commented on #178
Even if i get the prompt saying that the process wont start? Also i shoud have include this is my original post. I also get prompt with an error messages when trying to download the latest Ruby updates. Thanks for the quick reply and awesome app! You'v got my like xD

[2015-05-28 14:43] Qu1cksnap commented on #178
*cannot start process*(metasploit rpcd) and *an error as occured while downloading the update* (ruby update) are the 2 error messages i get. Should i post a log somewhere with my devices spec? Thanks again

[2015-05-28 14:46] Qu1cksnap commented on #177
I wanna help too!!

[2015-05-28 19:26] Systemad commented on #178
Log cat is not needed, the metasploit package seems to be broken. We just have to wait until @tux-mind fixes it. (He's very busy)

[2015-05-29 04:22] BoRoX1nAa opened #179 "Core Install error"
when downloading core.tar.xz and extrating shows me "heart attack" how to fix that?

[2015-05-29 07:25] UrbanChrisy commented on #177
Sure do what you want.
Urb

Date: Thu, 28 May 2015 07:46:08 -0700
From: notifications@github.com
To: android@noreply.github.com
Subject: Re: [android] We need you with the best kit we can get you (#177)

I wanna help too!!

—
Reply to this email directly or view it on GitHub.

[2015-05-29 14:34] Qu1cksnap commented on #177
You need to add a donation button somewhere so that i can atleast buy you a coffee!!

[2015-05-29 14:40] Systemad commented on #177
http://www.csploit.org/donate.html

[2015-06-03 14:12] DeveloppSoft opened #180 "compile"
Hello guys, I wan't try tout fix msf installation, but I dont know show to compile cSploit.

[2015-06-04 16:12] fenixdoido commented on #96
Yup, same error here.
What can I do to help you fix?
Everytime I open it, it says I need to download a MSF update, then it downloads it, start extracting and instaling Gems.
But, sometimes it says something like "error downloading update" or nothing at all. It just stays "installing gems" forever.

If I check Csploit folder on /data/data, there is a MSF folder with all The files, but after trying

[2015-06-04 16:25] DeveloppSoft commented on #96
Hello, ruby version is to old to install all gems, there is two solutions :
- use gem -f
- port a higher ruby version
Le 4 juin 2015 18:12, "fenixdoido" <notifications@github.com> a écrit :

[2015-06-04 21:14] cesararduino commented on #96
And how do you do that @DeveloppSoft

[2015-06-05 03:16] N0li commented on #175
I am also having this issue

[2015-06-05 05:35] DeveloppSoft commented on #96
For gem -f we may read logcats to see what gems can't be installed and
recompile cSploit with writing this commands into the gem update function,
but the best is the second solution
Le 4 juin 2015 23:15, "cesararduino" <notifications@github.com> a écrit :

[2015-06-05 06:43] 0MazaHacka0 commented on #180
I know how compile, push your fix in my repository, or say what you edit.

[2015-06-05 15:43] DeveloppSoft commented on #180
OK, in updategem function, we may had some lines running gem -f <gem that web can't install>.
Maybe you van explain me show to compile...

[2015-06-05 15:59] mcilya commented on #180
compile it with android studio

[2015-06-06 07:39] DeveloppSoft commented on #180
OK, thanks
Le 5 juin 2015 17:59, "Ilya" <notifications@github.com> a écrit :

[2015-06-08 00:48] asmodeusnof3 opened #181 "Ruby/Core/MSF"
Unfortunately I have kept an eye on this issue for quite some time as I HAD much preferred c/dsploit to ANTI, to no avail. Tux, your vision was awesome, and we are all painfully aware of your limited available time for the project but a very large portion of your user base is stuck with a broken update system. I am sure you are aware of the ruby, core, msf install issues by now but after quite a w

[2015-06-09 19:08] asms opened #182 "Cannot update ruby"
Promped with:
"An update for ruby is available, do you want to download it?" Options: No, Yes

Selecting "Yes" results in:
"An error occurred while downloading the update."

[2015-06-09 19:10] asms commented on #182
Model: SM-G900T
Android 5.0

[2015-06-10 11:37] hackereg35 opened #183 "stuck at install gems for msf"
update core  <-- done
update ruby  <-- done
update msf    <--done
install gems   <--this point never complete
log
http://pastebin.com/Vq1cMXZA
The last line has been shown
A 30 thousand times

[2015-06-11 00:00] kdotkdot opened #184 "Metasploit update issue / HTC One m7"
After i've downloaded Metasploit, the installation seems to be a andless loop. Current OS: Cyanogen Mod 12-20141205-UNOFFICIAL-m7.

[2015-06-11 19:36] PixelPips commented on #178
I have exactly the same issue: can't start metasploit or download Ruby.

The application appears to be working for the most part though.

[2015-06-12 19:26] emiel89 commented on #179
Yeah this happened to me as well. I have the new android 5.0.2 installed and i got root. what can i do to fix it?

[2015-06-13 23:39] uranium-waffles opened #185 "Passwords"
On session stealing as soon as you fix the msf issue sometime soon I tried the stealer on my own amazon but it still asked for my password you should add the user name and password right next to the session kind of like zanti

[2015-06-16 05:32] nerunexus commented on #184
I will concure.  The m7 installs core and MFS but the Ruby gems install never completes. I'm on a cm12 based rom as well. For what it's worth dsploit works on stock.

[2015-06-18 04:00] t0fum4n commented on #179
Same issue. Tried multiple diff versions and fixes....anyone know whats up?

[2015-06-19 06:05] EnolRekcah commented on #179
I'm having the same issue and still I don't know how to fix it.

[2015-06-20 05:38] antoniosilvawww commented on #143
In the latest version I am back to the heart attack *sigh*

[2015-06-22 11:17] Peruna opened #191 "Installing gems.... stuck"
Stuck when installing gems.... Help!

[2015-06-22 16:06] Lrs121 commented on #191
Issue reports like this are not helpful. This is not a help request thread this is for reporting issues and helping to resolve them. Please enable logging in the settings and post the log as well as a logcat from the process.

[2015-06-22 20:49] t0fum4n commented on #179
I have moved on. Some things just arent meant to work....

[2015-06-22 23:28] Ahad3 opened #192 "cSploit"
Idk why but nothing is working for me in the mitm section accept for kill connection.  Any help would be appreciate bit

Thank you

[2015-06-23 04:42] John-Kumar commented on #143
Same Problem here "Initialization Error - heart attack" can not update...Samsung Galaxy Core 2 SM-G355H

[2015-06-23 06:22] DeveloppSoft commented on #143
Please send us your logs  (just enable "logging" into the settings
Le 23 juin 2015 06:42, "John-Kumar" <notifications@github.com> a écrit :

[2015-06-24 08:34] antoniosilvawww commented on #143
Hi @DeveloppSoft, sorry the delay, here it is:

org.csploit.android.core.ChildManager$ChildNotStartedException: cannot start commands
	at org.csploit.android.core.ChildManager.async(ChildManager.java:83)
	at org.csploit.android.tools.Tool.async(Tool.java:55)
	at org.csploit.android.tools.Tool.run(Tool.java:33)
	at org.csploit.android.tools.Raw.run(Raw.java:51)
	at org.csploit.android.tools.Raw.run

[2015-06-24 08:37] antoniosilvawww commented on #143
Oh, forgot to mention, it happens just after decompressing core.tar.xz, I mean, I open csploit, it asks to download the core, it downloads, decompresses and it haves an heart attack :p

[2015-06-25 04:28] John-Kumar commented on #143
Sorry for late reply, i have creating logs problem solved now..:)
Sir, If you can solved my problem i will be very thankful to you
Device : Samsung Galaxy Core II SM-G355H
Error Logs...

06-24 21:14:01.747 V/ApplicationPolicy(646): isApplicationStateBlocked userId 0 pkgname org.csploit.android
06-24 21:14:01.767 V/WindowManager(646): Input focus app has changed to AppWindowToken{427fcda0 token=Tok

[2015-06-25 06:52] DeveloppSoft commented on #143
@John-Kumar, when I read your logs I see that :06-24 21:14:04.817 W/CSPLOITcore.UpdateService.isCoreUpdateAvailable: unsupported platform ( android19.armeabi-v7a ).
So, maybe your phone is unsupported for the latest core's version and csploit try with an older version, maybe that is not work with the current version officielle csploit.
Try to use a different apk  (the latest, or the nightly...).

[2015-06-25 08:06] John-Kumar commented on #143
Thank you so much for your responding...Can you please show me another apk Link?

[2015-06-25 08:09] DeveloppSoft commented on #143
Nightly build is here : http://rootbitch.cc/csploit/cSploit-nightly.apk.
Or make your choice here : https://github.com/cSploit/android/releases.
Please not it can solve or not your problem.
Le 25 juin 2015 10:06, "John-Kumar" <notifications@github.com> a écrit :

[2015-06-25 08:11] John-Kumar commented on #143
Ok..thanks let me try

[2015-06-25 09:30] antoniosilvawww commented on #143
The nightly link is offline... Tried with the latest release and the same happned, I have already tried with almost all of the releases before and always had some other problem if not the same. Anyway logs:

org.csploit.android.core.ChildManager$ChildNotStartedException: cannot start commands
	at org.csploit.android.core.ChildManager.async(ChildManager.java:83)
	at org.csploit.android.tools.Tool.a

[2015-06-25 09:32] DeveloppSoft commented on #143
Same error.
For all who have this error : check busybox and if it doesn't work, give us
phone model.
Le 25 juin 2015 11:30, "antoniosilvawww" <notifications@github.com> a
écrit :

[2015-06-25 09:33] antoniosilvawww commented on #143
sorry closing issue, that button is near comment on github mobile. I tried rhe nightly link but it is off, also tried almost all of the releases but those who do not have heart attack have some other kind of problem, the logs running the latests are:

org.csploit.android.core.ChildManager$ChildNotStartedException: cannot start commands
	at org.csploit.android.core.ChildManager.async(ChildManager.j

[2015-06-25 09:36] DeveloppSoft commented on #143
Same error.
For all who have this error : check busybox and if it doesn't work, give us
phone model.
Le 25 juin 2015 11:33, "antoniosilvawww" <notifications@github.com> a
écrit :

[2015-06-25 09:40] antoniosilvawww commented on #143
BsuyBox seems to be working and updated.. any test that I can do to it?

[2015-06-25 09:41] antoniosilvawww commented on #143
Wait wasn't updated, I am trying again

[2015-06-25 09:42] DeveloppSoft commented on #143
I don't know. Maybe you can give us your phone model.
I will check that on mine.
Le 25 juin 2015 11:40, "antoniosilvawww" <notifications@github.com> a
écrit :

[2015-06-25 09:42] antoniosilvawww commented on #143
The same happens...

[2015-06-25 09:43] antoniosilvawww commented on #143
I wrote the model on the first post (when opened thw issue):

Android Version: 4.2.1
Kernel Version: 3.4.5
Model number: bq Aquaris 5 HD

[2015-06-25 09:46] DeveloppSoft commented on #143
Sorry, I forget
Le 25 juin 2015 11:43, "antoniosilvawww" <notifications@github.com> a
écrit :

[2015-06-25 09:47] antoniosilvawww commented on #143
No problem, look if there is anything more that I can do please let me know, I would be happy if I can help, and thanks for everything :)

[2015-06-25 09:49] DeveloppSoft commented on #143
Of course, me too :).
Le 25 juin 2015 11:47, "antoniosilvawww" <notifications@github.com> a
écrit :

[2015-06-25 09:51] DeveloppSoft commented on #143
Core successfully installed on my wiko ozzy (Android 4.2.2)
Le 25 juin 2015 11:49, "Eliott Teissonniere" <eliott.teissonniere@gmail.com>
a écrit :

[2015-06-25 09:59] DeveloppSoft commented on #143
Have you another phone/tab to test it ?
Le 25 juin 2015 11:51, "Eliott Teissonniere" <eliott.teissonniere@gmail.com>
a écrit :

[2015-06-25 23:07] antoniosilvawww commented on #143
No, I only have the one I am using, but if you need me to test again another compiled version I am ready... (and sorry for go away before 2minutes pass...)

[2015-06-26 09:52] a3du114h opened #193 "Csploit isn't initiallizing"
cSploit stops saying heart attack and don't even run!!! What's the matter with this software. Dsploit was working fine

[2015-06-26 15:42] Megaeloelo commented on #143
Can you write a step-by- step how to install busybox ?
I have a problem just with that.

[2015-06-26 22:20] CreekOne opened #194 "SD card is not allowed to run executables in Androind (CM) 12.1"
As the title says, there is a problem installing anything to the SDcard on CM 12.1 as it mounts all "sdcards" with noexec. To change this one have to edit the kernel .img and modify vold.

[2015-06-26 22:38] CreekOne opened #195 "Logcat & cSploit.log for all the issues about Ruby GEM's failure while updating MSF"
**This logcat is only for csploit, i.e. this is all the app does, no system fuzz:**

---- 27 Jun 2015 12:31:39 am ----

06-27 00:24:29.617 30846 30846 I Timeline: Timeline: Activity_launch_request id:org.csploit.android time:27644210

06-27 00:24:29.618   776  3135 I ActivityManager: START u0 {act=android.intent.action.MAIN cat=[android.intent.category.LAUNCHER] flg=0x10200000 cmp=org.csploit.andr

[2015-06-26 22:49] CreekOne commented on #195
**This is the cSplot.log from the same session, its quite long but hay ;):**

[DEBUG  ] connection_reader: started (fd=1, tid=3080410872)
[DEBUG  ] read_message: received a message (fd=1)
[DEBUG  ] read_message: { seq = 0, size = 18, id = 0, data = '\x00android\x00DEADBEEF\x00' }
[DEBUG  ] connection_worker: started (fd=1, tid=3080410288)
[DEBUG  ] on_auth_request: user "android" logged in
[DEBUG

[2015-06-26 22:50] CreekOne commented on #195
[DEBUG  ] send_message: message sent (fd=1)
[DEBUG  ] send_message: { seq = 764, size = 1, id = 12, data = '.' }
[DEBUG  ] send_message: message sent (fd=1)
[DEBUG  ] send_message: { seq = 765, size = 1, id = 12, data = '.' }
[DEBUG  ] send_message: message sent (fd=1)
[DEBUG  ] send_message: { seq = 766, size = 1, id = 12, data = '.' }
[DEBUG  ] send_message: message sent (fd=1)
[DEBUG  ] send_me

[2015-06-26 22:51] CreekOne commented on #195
[DEBUG  ] send_message: message sent (fd=1)
[DEBUG  ] send_message: { seq = 1556, size = 177, id = 12, data = 'An error occurred while installing metasploit-concern (0.3.1), and Bundler\x0Acannot continue.\x0AMake sure that `gem install metasploit-concern -v '0.3.1'` succeeds before\x0Abundling.\x0A' }
[DEBUG  ] send_message: message sent (fd=1)
[DEBUG  ] send_message: { seq = 182, size = 6, id =

[2015-06-26 22:52] CreekOne commented on #195
[DEBUG  ] send_message: message sent (fd=2)
[DEBUG  ] send_message: { seq = 1492, size = 1, id = 4, data = '\x0A' }
[DEBUG  ] send_message: message sent (fd=2)
[DEBUG  ] send_message: { seq = 1493, size = 18, id = 4, data = 'Using rake 10.4.2\x0A' }
[DEBUG  ] send_message: message sent (fd=2)
[DEBUG  ] send_message: { seq = 1494, size = 120, id = 4, data = '0:  rake (10.4.2) from /data/data/org.cs

[2015-06-26 22:53] CreekOne commented on #195
[DEBUG  ] send_message: message sent (fd=1)
[DEBUG  ] send_message: { seq = 1494, size = 18, id = 5, data = 'Using rake 10.4.2\x0A' }
[DEBUG  ] send_message: message sent (fd=1)
[DEBUG  ] send_message: { seq = 1495, size = 120, id = 5, data = '0:  rake (10.4.2) from /data/data/org.csploit.android/files/ruby/lib/ruby/gems/1.9.1/specifications/rake-10.4.2.gemspec\x0A' }
[DEBUG  ] send_message: messa

[2015-06-26 22:53] CreekOne commented on #195
[DEBUG  ] send_message: message sent (fd=1)
[DEBUG  ] send_message: { seq = 64, size = 12, id = 5, data = 'HTTP 200 OK\x0A' }
[DEBUG  ] send_message: message sent (fd=1)
[DEBUG  ] send_message: { seq = 65, size = 29, id = 5, data = 'Query List: ["mini_portile"]\x0A' }
[DEBUG  ] send_message: message sent (fd=1)
[DEBUG  ] send_message: { seq = 66, size = 54, id = 5, data = 'Query Gemcutter Dependen

[2015-06-26 22:56] CreekOne commented on #194
Also having two sd cards, I can't choose to change location from sdcard0 to sdcard1 in cSploit

[2015-06-27 00:16] antoniosilvawww commented on #143
download it from play store, open it, click on the button install, it will install, make sure it is the latest version of it, and that it say there was no errors installing it, if you have terminal emulator, you can also try some command (from the linux bash shell for example) that busybox adds ^_^ saying by head, but it is a very intuitive process ;)

[2015-06-27 06:42] Megaeloelo commented on #143
Maybe the installer does not install everything

[2015-06-29 06:23] DeveloppSoft commented on #143
Wrong, on some phones / tab it install core &ruby but on other devices, it
install nothing, I don't know why, but in the logs we can see that the core
is uncompatible with them.
Le 27 juin 2015 08:42, "Megaeloelo" <notifications@github.com> a écrit :

[2015-06-29 06:26] DeveloppSoft commented on #195
Great, we can see that some gems doesn't install and we can force it I will
try it.
Le 27 juin 2015 00:53, "CreekOne" <notifications@github.com> a écrit :

[2015-06-29 06:27] DeveloppSoft commented on #194
We can't chmod files on sdcard, sorry.
Le 27 juin 2015 00:56, "CreekOne" <notifications@github.com> a écrit :

[2015-06-29 14:24] slowlytoxic opened #196 "MSF Update Failed"
Update failed while installing gems.

[2015-06-29 18:58] CreekOne commented on #194
Ofc we can't chmod the files, as I said, the sdcard is mounted with noexec by vold. This can only be changed by editing vold in the kernel image as it overwrites the "fstab" on every boot.
This is easy to do on a rom like CM 12.1.

There is another way to do this with remount but it's still not really relevant to cSploit devs.

[2015-06-30 19:53] Systemad commented on #196
Please please please do not make topics like these, did you even bother to read others peoples issues? Exactly like yours. Not to mention, how can anyone (developer) help you when you doesn't even post a logcat.
I don't  want to be rude, and this also includes everyone here.

[2015-07-01 23:50] berryman13 commented on #96
Jesus.. Is there any way I can maybe manually extract the latest msf.zip?

[2015-07-02 00:00] antoniosilvawww commented on #143
And is there any workaround, like a manual way to install the core?

[2015-07-02 06:25] DeveloppSoft commented on #96
Problem is not here, because ruby is too old, some gems are not installed.
To help us to fix it, I ask all the cSploit users to give us their logs to
see what gems can't be installed, then, I will fix that.
Le 2 juil. 2015 01:50, "Will Nozick" <notifications@github.com> a écrit :

[2015-07-02 06:26] DeveloppSoft commented on #143
I think not, for the moment...
Le 2 juil. 2015 02:00, "antoniosilvawww" <notifications@github.com> a
écrit :

[2015-07-03 20:50] Diamondy4 opened #197 "Stuck with gems, i think you can help!"
Stuck with gems as a lot of people here.
Can somebody with working program make an archive with program folder (/data/data/org.csploit.android), i think that if i use working files it will work =).
Thanks for help in advance!

My device is Note 3 lte (n9005) with lastest cyanogenmod 12.1

[2015-07-07 08:28] Megaeloelo commented on #143
If you do not have SuperSu and, for example, KingoUser then core not unpack. Sorry for bad english :)

[2015-07-07 09:54] Megaeloelo commented on #179
Probably:
KingoUser and others su managers - heart attack ,
SuperSu - Core installed .
This working for me .
Sorry for bad english .

[2015-07-09 19:10] Benjamin3992 commented on #197
maybe that has something to do with CM 12.1; Same Issue with my OnePlus One

[2015-07-09 21:30] Systemad commented on #197
This is not related to CM, the ruby and msf package are broken.

[2015-07-10 06:20] DeveloppSoft commented on #197
Wrong, some gems packages are not installed because ruby is too old, but if
you give me the list of them, I will fix it, I already do the same thing to
run msf on my raspberry.
Sorry for my bad english.
Le 9 juil. 2015 23:30, "Systemad" <notifications@github.com> a écrit :

[2015-07-10 07:31] jonniex7 commented on #43
msf error 4.4.2 s3

[2015-07-13 09:21] vs4vijay commented on #193
same, can not start anything from cSploit.

[2015-07-14 00:23] Mobitchez opened #198 "Stuck on installing rubys nexus 6 5.0.1shamu rooted"
After downloading msf it started installing ruby's but it never did it got stuck after that I reopened the app and the error came up

[2015-07-14 04:05] antoniosilvawww commented on #143
The solution present by Megaeloelo works, yet another problem occurred, Metasploit won't install, I will open an issue report tomorrow with more details about, and I believe it is safe to close this one :) , Thanks you all by the whole support ^^

[2015-07-14 04:05] #143 closed

[2015-07-14 15:04] domenicoblanco opened #199 "Problem's during updates"
Hi, when I try to update ruby I can't install msgpack and I can't install MSF because there was an error during the download of the update. I tried to change directory and delete files but without success.

[2015-07-14 15:18] #199 closed

[2015-07-15 20:21] fede-dot-97 commented on #96
You said that the better approach was updating Ruby
Do you still need our logs to do that? Do we need to post it here?
Thanks

[2015-07-16 07:29] WooyunDota opened #200 "Session hijack bug report"
if the target visit  a internal ip like 192.168.1.1  ,the hijack session will turn to www.192.168.1.1.....

[2015-07-16 09:49] domenicoblanco commented on #197
I can't install only msgpack

[2015-07-17 08:53] Avamander opened #203 "zANTI3 is looking for volunteers"
Will you jump ship and start developing that one instead? Would you be a competitor instead?

[2015-07-17 08:55] DeveloppSoft commented on #203
I already send my candidature :).
I don't know if others will do that.
I hope they will accept it.
Le 17 juil. 2015 10:53, "Avamander" <notifications@github.com> a écrit :

[2015-07-17 09:11] fat-tire commented on #203
Indeed, I see Zimperium is [looking for volunteers](http://blog.zimperium.com/the-rise-of-zanti3-call-for-developers/) for Zanti3.  What I don't see is actual code, a repository, etc.  I'm also curious about the license.  If it's GPLv3, and I hope it is, maybe there could be a best-of-all worlds collaborative project.  But sign-up-for-the-beta and apply-to-contribute forms doesn't make me feel all

[2015-07-17 11:46] DeveloppSoft opened #205 "*URGENT*IMPORTANT*MSF*"
Hello guys,
Msf' gems packages can't be installed because ruby version is too old (~ 1.9.3).
Currently, we need to compile the last version as soon as possible.
If somebody know how to port it, please explain US; then, if somebody have write access to csploit's ruby repositorie he should merge it.
Please, trust me, I think it can work.
Sincerely, DeveloppSoft.

[2015-07-17 15:37] Pukson commented on #205
https://rubygems.org/gems/calabash-android/versions/0.5.12 something?

[2015-07-17 15:55] DeveloppSoft commented on #205
Hi @Pukson and thanks again :smile:
That is not what I search, the goal is to port a new ruby version, like here : https://github.com/cSploit/android.native.ruby, but with the last version, because that version is too old.

[2015-07-17 15:56] DeveloppSoft commented on #205
Currently, I don't know how they did it.

[2015-07-17 15:59] Pukson commented on #205
so the link you send you want that compiled?, most schools have vacation right now right? TuxMind please give us some directions

[2015-07-17 16:00] DeveloppSoft commented on #205
Maybe we can use the first idea of @tux-mind, the author of cSploit, using an image with ruby 2.*, and msf.
Yes , we need help.

[2015-07-17 16:02] Pukson commented on #205
We could try it, maybe someone can get  in contact with tuxmind
Op 17 jul. 2015 6:00 PM schreef TEISSONNIERE Eliott <notifications@github.com>:Maybe we can use the first idea of @tux-mind, the author of cSploit, using an image with ruby 2.*, and msf.
Yes , we need help.

—Reply to this email directly or view it on GitHub.

[2015-07-17 16:02] DeveloppSoft commented on #205
But, we must compile a new version (maybe https://github.com/ruby/ruby patched for android), we need help :sos:, we are working on fixing the major problem of cSploit, and we are... two, that is not normal.

[2015-07-17 16:04] DeveloppSoft commented on #205
I think i found his blog : http://www.tuxmind.org/

[2015-07-17 16:05] DeveloppSoft commented on #205
...Or not

[2015-07-17 16:07] DeveloppSoft commented on #205
I read that : https://github.com/cSploit/android/wiki/How-the-MetaSploit-Framework-is-used-in-cSploit, but it doesn't help us

[2015-07-17 16:17] DeveloppSoft commented on #205
i will try to see the code of the linux deploy app, maybe we can use it to use an image, because I haven't find how to port ruby

[2015-07-17 16:19] Pukson commented on #205
Go for it! But isnt it an option to put the whole metasploit image including Ruby on SD card? So that we link the app to the image..
Op 17 jul. 2015 6:17 PM schreef TEISSONNIERE Eliott <notifications@github.com>:i will try to see the code of the linux deploy app, maybe we can use it to use an image, because I haven't find how to port ruby

—Reply to this email directly or view it on GitHub.

[2015-07-17 16:21] DeveloppSoft commented on #205
I think we can use a tiny kali arm image with just ruby and msf, we chroot in and launch msfrpc (on lo interface).

[2015-07-17 16:22] DeveloppSoft commented on #205
Yes, if we don't fail, users will can put the file on the sdcard, maybe we can include an option with img path

[2015-07-17 16:22] Pukson commented on #205
Sounds possible, but without tuxmind its hard
Op 17 jul. 2015 6:21 PM schreef TEISSONNIERE Eliott <notifications@github.com>:I think we can use a tiny kali arm image with just ruby and msf, we chroot in and launch msfrpc (on lo interface).

—Reply to this email directly or view it on GitHub.

[2015-07-17 16:23] DeveloppSoft commented on #205
yes, I have seen it : http://hamelot.co.uk/android/run-gentoo-on-android-via-chroot/, maybe it can help us to chroot into the img file

[2015-07-17 16:23] DeveloppSoft commented on #205
Here is the inux deploy repo : https://github.com/meefik/linuxdeploy

[2015-07-17 16:26] Pukson commented on #205
Got the app already installed, LinuxDeploy its in the playstore. So we need to make an option in the app to direct it to the img file?
Op 17 jul. 2015 6:24 PM schreef TEISSONNIERE Eliott <notifications@github.com>:Here is the inux deploy repo : https://github.com/meefik/linuxdeploy

—Reply to this email directly or view it on GitHub.

[2015-07-17 16:29] DeveloppSoft commented on #205
I think we can find how they use img file use the same method

[2015-07-17 16:56] DeveloppSoft commented on #205
See you soon @Pukson, I will make break, and post something in the next 3 days, I hope I will have found something

[2015-07-17 17:45] fat-tire commented on #205
FWIW, if you use the [fattire-rebased](https://github.com/offensive-security/nethunter-app/tree/fattire-rebased) branch of Nethunter, it will automatically install a kali chroot for you from the UI.

[2015-07-17 17:46] tux-mind commented on #205
give me some day guys, last exam is on 23/7.
from that day on I'm all yours, with more skills and all my love for this
project :)
i swear <3

[2015-07-17 17:49] tux-mind commented on #205
I've also talked with the Nethunter guys time ago, I'll resume all this to
bring you the best all-in-one penetration suite in your hand ;)
please trust in me and wait a little longer ;)

[2015-07-17 17:50] Pukson commented on #205
Awesome! TuxMind is back!!
Op 17 jul. 2015 7:46 PM schreef tux-mind <notifications@github.com>:give me some day guys, last exam is on 23/7.
from that day on I'm all yours, with more skills and all my love for this
project :)
i swear <3

—Reply to this email directly or view it on GitHub.

[2015-07-17 18:10] Pukson commented on #205
@tux-mind you think you can have a wokring build before 30th? Then i am going on vacation love to do some mitm ;)

[2015-07-17 22:16] Derheynn opened #206 "ruby gems update fails"
cSploit displays "An error occured while downloading the update"
And here is the log entry:
07-18 00:14:35.775 E/CSPLOIT[core.UpdateService.execShell](14865): ERROR:  Could not find a valid gem 'mini_portile' (~> 0.5.0) in any repository
I'm running cyanogenmod on a Samsung G S3.
Thanks for your awesome job, you're doing it well !

[2015-07-17 22:18] Derheynn commented on #206
PS: i uninstalled and reinstalled the app, and the error is still being thrown

[2015-07-18 03:26] BEOWULF74 commented on #205
Welcome. Tux-mind we loooooove u bro <3

[2015-07-18 14:14] #196 closed

[2015-07-19 07:07] ddos10086 commented on #203
maybe  you  are  right  @fat-tire

[2015-07-19 21:34] Pukson commented on #206
Please read the other issues before you it. Read the issue about MSF Installation.

[2015-07-20 06:50] DeveloppSoft commented on #205
Hello guys,
I found 2 links that can help us :
https://wiki.debian.org/ChrootOnAndroid
http://rubiojr.rbel.co/hack/2013/01/10/installing-arch-linux-in-your-android-phone-chroot/
We just need to do the same things with a kali arm img here :
https://www.kali.org/downloads/
If you want help us to do it, just say, and I will post a skeleton class.
Le 18 juil. 2015 05:26, "BEOWULF74" <notifications@git

[2015-07-20 07:19] fat-tire commented on #205
As I said, if you build the nethunter app using [my branch](https://github.com/offensive-security/nethunter-app/tree/fattire-rebased), kali can be installed in a chroot with a single click:

![Image 1]
(http://i.imgur.com/YL0IVAo.png)
![Image 2]
(http://i.imgur.com/Kka4v9f.png)
![Image 3]
(https://i.imgur.com/vzMDyjG.png)
![Image 4]
(https://i.imgur.com/cpJ92tp.png)

But that solution aside, @tux-

[2015-07-20 07:36] DeveloppSoft commented on #205
But nethunter is a ROM, it is not an app.
We know tux-mind already do it, but it worked, so why not.
Le 20 juil. 2015 09:19, "Fattire" <notifications@github.com> a écrit :

[2015-07-20 07:38] DeveloppSoft commented on #205
@Fatire, can you send me the apk please, I can't compile any app for the
moment
Le 20 juil. 2015 09:36, "Eliott Teissonniere" <eliott.teissonniere@gmail.com>
a écrit :

[2015-07-20 10:09] tux-mind commented on #205
The chroot way was the first approach used long time ago ( 2012 ).
I decided to change the way we use the MSF for the following reasons:

  - having the glibc running on your phone will sightly impact your battery
life
  - startup time was about 4 minutes on my nexus 4 ( 4 core 1.5GHz )
  - it require up to 1GB

Then I decided to use a native ruby installation with native gems. Porting
ruby to the

[2015-07-20 10:15] DeveloppSoft commented on #205
@tux-mind, so happy to see you here, can you compile a new version of ruby
(or explain us), I think it can fix the problem.
Le 20 juil. 2015 12:09, "tux-mind" <notifications@github.com> a écrit :

[2015-07-20 10:20] Pukson commented on #205
Just wait 3 more days, then he is done with his exams! Good luck tux-mind.
Op 20 jul. 2015 12:15 PM schreef TEISSONNIERE Eliott <notifications@github.com>:@tux-mind, so happy to see you here, can you compile a new version of ruby
(or explain us), I think it can fix the problem.
Le 20 juil. 2015 12:09, "tux-mind" <notifications@github.com> a écrit :

—Reply to this email directly or view it on GitH

[2015-07-20 10:22] DeveloppSoft commented on #205
Yes, good luck, we need you
Le 20 juil. 2015 12:20, "Pukson" <notifications@github.com> a écrit :

[2015-07-20 10:25] #180 closed

[2015-07-20 14:24] tux-mind commented on #205
TEISSONNIERE Eliott I need someone that can work on the project when I
can't.
I'll be happy to explain you ( maybe to everyone by making a wiki page )
how MSF work in cSploit and how to fix/mantain/develop it.

here you can find a quick brief of how it works:
https://github.com/cSploit/android/wiki/How-the-MetaSploit-Framework-is-used-in-cSploit

thanks for your support guys, few hours ago I gave

[2015-07-20 14:27] DeveloppSoft commented on #205
I already read the wiki, but I will do it again, I will be happy to be the
guy you can work on cSploit when you are not here.
Le 20 juil. 2015 16:25, "tux-mind" <notifications@github.com> a écrit :

[2015-07-20 14:32] Pukson commented on #205
I am at your service to test etc.
Good luck!
Op 20 jul. 2015 4:27 PM schreef TEISSONNIERE Eliott <notifications@github.com>:I already read the wiki, but I will do it again, I will be happy to be the
guy you can work on cSploit when you are not here.
Le 20 juil. 2015 16:25, "tux-mind" <notifications@github.com> a écrit :

—Reply to this email directly or view it on GitHub.